/* Gutenberg
----------------------------------------------------------------- */

@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";


/* TinyMCE Toolbar */
.editor-block-list__layout .mce-toolbar .mce-btn i {
	font-family: "dashicons", "tinymce";
}
.editor-block-list__layout .mce-toolbar .mce-btn button,
.editor-block-list__layout input[type="text"][role="button"] {
	background-color: transparent !important;
}
.editor-block-list__layout .mce-toolbar .mce-btn button {
	color: #333 !important;
	padding: 2px 3px !important;
}


/* Post title */
.editor-post-title__block .editor-post-title__input {
	min-height: 1em;
	height: unset;
}


/* Editor area  */
div.edit-post-layout {
	height: unset;
}
body.edit-post-visual-editor {
	font-size: 14px !important;
	padding: 3em 0;
	min-height: 50vh;
	@include flex-shrink(0);
	@if $hide_scrollbars_in_gb {
		width: calc(100% + 16px);	// Hide scrollbar
	}
}


/* Editor area width for all post types */
.editor-writing-flow {
	margin: 0 auto;
}
.editor-writing-flow,
.editor-block-list__block,
.editor-post-title__block,
.editor-default-block-appender {
	max-width: $content !important;
}

/* Editor area width for pages without sidebar */
body.sidebar_position_hide.expand_content .editor-writing-flow,
body.sidebar_position_hide.expand_content .editor-block-list__block,
body.sidebar_position_hide.expand_content .editor-post-title__block,
body.sidebar_position_hide.expand_content .editor-default-block-appender {
	max-width: $page !important;
}

/* Editor area width for custom layouts */
body.post-type-cpt_layouts .editor-block-list__block,
body.post-type-cpt_layouts.sidebar_position_hide.expand_content .editor-block-list__block,
body.post-type-cpt_layouts .editor-post-title__block,
body.post-type-cpt_layouts .editor-default-block-appender {
	max-width: none !important;
}
body.single-cpt_layouts .trx-addons-layout--single-preview {
	max-width: $page !important;
	position: relative;
	margin: 0 auto;	
}


/* Theme grid */
@media (min-width: 600px) {
	/* Core columns in the editor */
	body.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit {
		margin-left: - ( 43px - $grid_gap / 2 );
		margin-right: - ( 43px - $grid_gap / 2 );
	}
}
/* Core columns in the frontend */
.wp-block-columns {
	@include flex-wrap(nowrap);
}
.wp-block-column:nth-child(odd) {	margin-right: 0; }
.wp-block-column:nth-child(even) {	margin-left: 0; }
.wp-block-column:not(:first-child) {margin-left: $grid_gap / 2; }
.wp-block-column:not(:last-child) {	margin-right: $grid_gap / 2; }

/* Kadence columns in the editor */
.kt-gutter-default > .innerblocks-wrap > .editor-inner-blocks > .editor-block-list__layout > [data-type="kadence/column"] {
	margin-right: $grid_gap;		
}
/* Kadence columns in the frontend */
.kt-gutter-default > .wp-block-kadence-column {
	margin-right: $grid_gap;
}

/* CoBlocks columns in the frontend */
.has-small-gutter > [class*="wp-block-coblocks-"]:not(:first-child) {
	margin-left: $grid_gap / 2;
}
.has-small-gutter > [class*="wp-block-coblocks-"]:not(:last-child) {
	margin-right: $grid_gap / 2; 
}


/* Sidebar holder for the editor */
body.edit-post-visual-editor:not(.post-type-cpt_layouts):not(.sidebar_position_hide) {
	@include flex;
	@include flex-direction(row);
	@include flex-justify-content(center);
	@include flex-shrink(0);
}
.sidebar_position_hide .editor-post-sidebar-holder,
body.post-type-cpt_layouts .editor-post-sidebar-holder {
	display: none;
}
.editor-post-sidebar-holder {
	width: $sidebar;
	@include border-box;
	background-color: #f0f0f0;
	min-height: 75vh;
	@include flex;
	@include flex-align-items(center);
	@include flex-justify-content(center);
}
.editor-post-sidebar-holder:before {
	content: 'Sidebar';
	display: inline-block;
	@include rotate(90deg);
	@include font(3em, 1em, bold);
	color: #ccc;
	text-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* Wide and Full blocks */
.alignfull > img,
.alignwide > img {
	max-width: none;
	width: 100%;
}
body.sidebar_hide .alignfull {
	margin-left : calc( -100vw / 2 + 100% / 2 );
	margin-right : calc( -100vw / 2 + 100% / 2 );
	width: 100vw;
	max-width : 100vw;
}
body.sidebar_hide .alignwide {
	position: relative;
	left: calc( -44vw + 50% );
	width: 88vw;
	max-width: none;
}
body:not(.sidebar_position_hide) .editor-block-list__layout .alignwide,
body:not(.sidebar_position_hide) .editor-block-list__block[data-align="wide"],
body:not(.sidebar_position_hide) .editor-block-list__layout .alignfull,
body:not(.sidebar_position_hide) .editor-block-list__block[data-align="full"] {
	max-width: 100% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
body.sidebar_position_hide .editor-block-list__layout .alignwide,
body.sidebar_position_hide.expand_content .editor-block-list__layout .alignwide,
body.sidebar_position_hide .editor-block-list__block[data-align="wide"],
body.sidebar_position_hide.expand_content .editor-block-list__block[data-align="wide"] {
	max-width: none !important;
	width: calc(100% + 10em);
	margin-left: -5em;
}
body.sidebar_position_hide .editor-block-list__layout .alignfull,
body.sidebar_position_hide.expand_content .editor-block-list__layout .alignfull,
body.sidebar_position_hide .editor-block-list__block[data-align="full"],
body.sidebar_position_hide.expand_content .editor-block-list__block[data-align="full"] {
	max-width: none !important;
	width: calc(100% + 24em);
	margin-left: -12em;
}


/* Fix for some core blocks in the edit mode
------------------------------------------------- */

/* Cover image */
.editor-block-list__block .wp-block-cover .wp-block-cover-text {
	color: #fff !important;
}

/* Media & Text */
.wp-block-media-text .has-medium-font-size {
	line-height: 1.5em;
}
.wp-block-media-text .has-large-font-size {
	line-height: 1.4em;
}
.wp-block-media-text .has-huge-font-size {
	line-height: 1.3em;
}


/* Kadence blocks 
---------------------------------------- */
.editor-block-list__block .kt-tabs-title-list {
	margin-bottom: 0;
	padding-left: 0;
}
.editor-block-list__block .kt-tabs-layout-vtabs > .kt-tabs-wrap > .kt-tabs-title-list li {
	margin-bottom: 1px;
}
.editor-block-list__block .kt-tabs-content-wrap {
	border: 1px solid #ddd;
}