@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";

//@mixin blog_styles_chess--xxl() {
@media #{$media_xxl} {
	/* Blog layout: Chess */
	.post_layout_chess_2 .post_content_inner {
		display:none;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner,
	.post_layout_chess_2.post_format_link .post_content_inner,
	.post_layout_chess_2.post_format_aside .post_content_inner,
	.post_layout_chess_2.post_format_status .post_content_inner {
		display:block;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner blockquote {
		padding: 2em 2em 2em 4em;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner blockquote:before {
		font-size:2em;
		top: 1em;
		left: 0.7em;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner p {
		@include font(1em, 1.25em);
	}
	.post_layout_chess_2.post_format_quote .post_content_inner a,
	.post_layout_chess_2.post_format_quote .post_content_inner cite {
		@include font(0.8667em, 1.25em);
	}
	.post_layout_chess_2.post_format_link .post_content_inner,
	.post_layout_chess_2.post_format_aside .post_content_inner,
	.post_layout_chess_2.post_format_status .post_content_inner {
		@include font(1.2em, 1.4em);
	}
	.post_layout_chess_3 .post_meta,
	.post_layout_chess.post_layout_chess_3 .more-link {
		display:none;
	}
}

//@mixin blog_styles_chess--xl() {
@media #{$media_xl} {
	/* Blog layout: Chess */
	.post_layout_chess.post_layout_chess_2 .more-link,
	.post_layout_chess.post_layout_chess_3 .more-link {
		letter-spacing: 0;
		padding: 1em 2em;
	}
}

//@mixin blog_styles_chess--lg() {
@media #{$media_lg} {
	/* Blog layout: Chess */
	.post_layout_chess_1.post_format_aside .post_meta {
		margin-top: 2rem;
	}
	.post_layout_chess_1 .post_header + .post_content {
		margin-top:2.8rem;
	}
	.post_layout_chess.post_layout_chess_1 .more-link {
		margin-top: 2rem;
	}
	.post_layout_chess_2.post_format_audio .mejs-time,
	.post_layout_chess_3.post_format_audio .mejs-time {
		display:none;
	}
	.post_layout_chess_2 .post_title {
		@include font(18px, 24px);
	}
	.post_layout_chess_2.post_format_quote .post_content_inner blockquote {
		padding: 1.5em 1.5em 1.5em 3em;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner blockquote:before {
		font-size: 1.2em;
		top: 1em;
		left: 1em;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner a,
	.post_layout_chess_2.post_format_quote .post_content_inner cite {
		@include font(10px, 12px);
	}
	.post_layout_chess_2.post_format_link .post_meta,
	.post_layout_chess_2.post_format_status .post_meta,
	.post_layout_chess_3.post_format_link .post_meta,
	.post_layout_chess_3.post_format_status .post_meta {
		margin-top:0;
	}
	.post_layout_chess.post_layout_chess_2 .more-link,
	.post_layout_chess.post_layout_chess_3 .more-link {
		padding: 1em 1.5em;
	}
	.post_layout_chess_3 .post_title {
		@include font(15px, 1.4em);
	}
}

//@mixin blog_styles_chess--md() {
@media #{$media_md} {
	/* Blog layout: Chess */
	.post_layout_chess .post_inner_content {
		padding:0 10%;
	}
	.post_layout_chess .post_title {
		font-size: 22px;
	}
	.post_layout_chess.post_format_quote .post_header,
	.post_layout_chess.post_format_link .post_header,
	.post_layout_chess.post_format_aside .post_header,
	.post_layout_chess.post_format_status .post_header {
		display:none;
	}
	.post_layout_chess.post_format_quote .post_content_inner + .post_meta,
	.post_layout_chess.post_format_link .post_content_inner + .post_meta,
	.post_layout_chess.post_format_aside .post_content_inner + .post_meta,
	.post_layout_chess.post_format_status .post_content_inner + .post_meta {
		display:block;
	}
	.post_layout_chess.post_format_quote .post_content_inner + .post_meta,
	.post_layout_chess.post_format_link .post_content_inner + .post_meta,
	.post_layout_chess.post_format_status .post_content_inner + .post_meta {
		margin-top:0 !important;
	}
	.post_layout_chess.post_format_aside .post_content_inner + .post_meta {
		margin-top: 1em;
	}
	.post_layout_chess .post_header + .post_content {
		margin-top:1em;
	}
	.post_layout_chess .post_content_inner {
		display:block;
	}
	.post_layout_chess .post_content_inner,
	.post_layout_chess:not(.post_format_quote):not(.post_format_link):not(.post_format_aside):not(.post_format_status) .post_content_inner {
		max-height: none;
	}
	.post_layout_chess.post_format_chat .post_content_inner {
		display: none;
	}
	.post_layout_chess .post_content_inner:after {
		display:none;
	}
	.post_layout_chess.post_format_link .post_content_inner,
	.post_layout_chess.post_format_aside .post_content_inner,
	.post_layout_chess.post_format_status .post_content_inner {
		font-size: 1.2em;
	}

	.post_layout_chess_3 .post_meta {
		display: block;
	}

	.post_layout_chess blockquote {
		padding: 2em 2em 2em 5em;
	}
	.post_layout_chess blockquote:before {
		top: 1.1em;
		left: 0.7em;
	}
	.post_layout_chess blockquote p {
		@include font(1.3846em, 1.3333em);
	}
	.post_layout_chess blockquote > a, .post_layout_chess blockquote > p > a,
	.post_layout_chess blockquote > cite, .post_layout_chess blockquote > p > cite {
		@include font(12px, 16px);
	}

	.post_layout_chess.post_layout_chess_1 .more-link {
		margin-top: 1.3846em;
	}
	.post_layout_chess_2 {									width: 100%; float:none; }
	.post_layout_chess_2:nth-child(4n+3) .post_featured,
	.post_layout_chess_2:nth-child(4n+4) .post_featured {	float:right; }
	.post_layout_chess_2:nth-child(4n+3) .post_inner,
	.post_layout_chess_2:nth-child(4n+4) .post_inner {		left: 0; right:auto; }
	
	.post_layout_chess_3 {									width: 100%; float:none; }
	.post_layout_chess_3:nth-child(6n+4) .post_featured,
	.post_layout_chess_3:nth-child(6n+5) .post_featured,
	.post_layout_chess_3:nth-child(6n+6) .post_featured {	float:right; }
	.post_layout_chess_3:nth-child(6n+4) .post_inner,
	.post_layout_chess_3:nth-child(6n+5) .post_inner,
	.post_layout_chess_3:nth-child(6n+6) .post_inner {		left: 0; right:auto; }
	
	.post_layout_chess:nth-child(2n+2) .post_featured {		float:left; }
	.post_layout_chess:nth-child(2n+2) .post_inner {		left: auto; right:0; }
}

//@mixin blog_styles_chess--sm() {
@media #{$media_sm} {
	/* Blog layout: Chess */
	.post_layout_chess .post_title + .post_meta {
		margin-top:0.4em;
	}
	.post_layout_chess .post_content_inner {
		display:none !important;
	}
	.post_layout_chess.post_format_quote .post_content_inner + .post_meta,
	.post_layout_chess.post_format_link .post_content_inner + .post_meta,
	.post_layout_chess.post_format_aside .post_content_inner + .post_meta,
	.post_layout_chess.post_format_status .post_content_inner + .post_meta {
		display:none !important;
	}
	.post_layout_chess.post_format_quote .post_header,
	.post_layout_chess.post_format_link .post_header,
	.post_layout_chess.post_format_aside .post_header,
	.post_layout_chess.post_format_status .post_header {
		display:block;
	}
	.post_layout_chess blockquote {
		padding: 2em 2em 2em 4em;
	}
	.post_layout_chess blockquote:before {
		top: 1.05em;
		left: 0.5em;
	}
	.post_layout_chess.post_layout_chess_1 .more-link,
	.post_layout_chess.post_layout_chess_2 .more-link,
	.post_layout_chess.post_layout_chess_3 .more-link {
		margin-top: 0;
	}
}

//@mixin blog_styles_chess--xs() {
@media #{$media_xs} {
	/* Blog layout: Chess */
	.post_layout_chess .post_header {
		display:block !important;
	}
	.post_layout_chess .post_title {
		@include font(16px, 18px);
		letter-spacing:0;
	}
	.post_layout_chess .post_meta {
		display:none !important;
	}
	.post_layout_chess .post_content {
		display:none;
	}
	.post_layout_chess.post_format_audio .mejs-time {
		display:none;
	}
}
