@media (max-width: 1679px) {
  /* Blog layout: Chess */
  .post_layout_chess_2 .post_content_inner {
    display: none; }

  .post_layout_chess_2.post_format_quote .post_content_inner,
  .post_layout_chess_2.post_format_link .post_content_inner,
  .post_layout_chess_2.post_format_aside .post_content_inner,
  .post_layout_chess_2.post_format_status .post_content_inner {
    display: block; }

  .post_layout_chess_2.post_format_quote .post_content_inner blockquote {
    padding: 2em 2em 2em 4em; }

  .post_layout_chess_2.post_format_quote .post_content_inner blockquote:before {
    font-size: 2em;
    top: 1em;
    left: 0.7em; }

  .post_layout_chess_2.post_format_quote .post_content_inner p {
    font-size: 1em;
    line-height: 1.25em; }

  .post_layout_chess_2.post_format_quote .post_content_inner a,
  .post_layout_chess_2.post_format_quote .post_content_inner cite {
    font-size: 0.8667em;
    line-height: 1.25em; }

  .post_layout_chess_2.post_format_link .post_content_inner,
  .post_layout_chess_2.post_format_aside .post_content_inner,
  .post_layout_chess_2.post_format_status .post_content_inner {
    font-size: 1.2em;
    line-height: 1.4em; }

  .post_layout_chess_3 .post_meta,
  .post_layout_chess.post_layout_chess_3 .more-link {
    display: none; } }
@media (max-width: 1439px) {
  /* Blog layout: Chess */
  .post_layout_chess.post_layout_chess_2 .more-link,
  .post_layout_chess.post_layout_chess_3 .more-link {
    letter-spacing: 0;
    padding: 1em 2em; } }
@media (max-width: 1279px) {
  /* Blog layout: Chess */
  .post_layout_chess_1.post_format_aside .post_meta {
    margin-top: 2rem; }

  .post_layout_chess_1 .post_header + .post_content {
    margin-top: 2.8rem; }

  .post_layout_chess.post_layout_chess_1 .more-link {
    margin-top: 2rem; }

  .post_layout_chess_2.post_format_audio .mejs-time,
  .post_layout_chess_3.post_format_audio .mejs-time {
    display: none; }

  .post_layout_chess_2 .post_title {
    font-size: 18px;
    line-height: 24px; }

  .post_layout_chess_2.post_format_quote .post_content_inner blockquote {
    padding: 1.5em 1.5em 1.5em 3em; }

  .post_layout_chess_2.post_format_quote .post_content_inner blockquote:before {
    font-size: 1.2em;
    top: 1em;
    left: 1em; }

  .post_layout_chess_2.post_format_quote .post_content_inner a,
  .post_layout_chess_2.post_format_quote .post_content_inner cite {
    font-size: 10px;
    line-height: 12px; }

  .post_layout_chess_2.post_format_link .post_meta,
  .post_layout_chess_2.post_format_status .post_meta,
  .post_layout_chess_3.post_format_link .post_meta,
  .post_layout_chess_3.post_format_status .post_meta {
    margin-top: 0; }

  .post_layout_chess.post_layout_chess_2 .more-link,
  .post_layout_chess.post_layout_chess_3 .more-link {
    padding: 1em 1.5em; }

  .post_layout_chess_3 .post_title {
    font-size: 15px;
    line-height: 1.4em; } }
@media (max-width: 1023px) {
  /* Blog layout: Chess */
  .post_layout_chess .post_inner_content {
    padding: 0 10%; }

  .post_layout_chess .post_title {
    font-size: 22px; }

  .post_layout_chess.post_format_quote .post_header,
  .post_layout_chess.post_format_link .post_header,
  .post_layout_chess.post_format_aside .post_header,
  .post_layout_chess.post_format_status .post_header {
    display: none; }

  .post_layout_chess.post_format_quote .post_content_inner + .post_meta,
  .post_layout_chess.post_format_link .post_content_inner + .post_meta,
  .post_layout_chess.post_format_aside .post_content_inner + .post_meta,
  .post_layout_chess.post_format_status .post_content_inner + .post_meta {
    display: block; }

  .post_layout_chess.post_format_quote .post_content_inner + .post_meta,
  .post_layout_chess.post_format_link .post_content_inner + .post_meta,
  .post_layout_chess.post_format_status .post_content_inner + .post_meta {
    margin-top: 0 !important; }

  .post_layout_chess.post_format_aside .post_content_inner + .post_meta {
    margin-top: 1em; }

  .post_layout_chess .post_header + .post_content {
    margin-top: 1em; }

  .post_layout_chess .post_content_inner {
    display: block; }

  .post_layout_chess .post_content_inner,
  .post_layout_chess:not(.post_format_quote):not(.post_format_link):not(.post_format_aside):not(.post_format_status) .post_content_inner {
    max-height: none; }

  .post_layout_chess.post_format_chat .post_content_inner {
    display: none; }

  .post_layout_chess .post_content_inner:after {
    display: none; }

  .post_layout_chess.post_format_link .post_content_inner,
  .post_layout_chess.post_format_aside .post_content_inner,
  .post_layout_chess.post_format_status .post_content_inner {
    font-size: 1.2em; }

  .post_layout_chess_3 .post_meta {
    display: block; }

  .post_layout_chess blockquote {
    padding: 2em 2em 2em 5em; }

  .post_layout_chess blockquote:before {
    top: 1.1em;
    left: 0.7em; }

  .post_layout_chess blockquote p {
    font-size: 1.3846em;
    line-height: 1.3333em; }

  .post_layout_chess blockquote > a, .post_layout_chess blockquote > p > a,
  .post_layout_chess blockquote > cite, .post_layout_chess blockquote > p > cite {
    font-size: 12px;
    line-height: 16px; }

  .post_layout_chess.post_layout_chess_1 .more-link {
    margin-top: 1.3846em; }

  .post_layout_chess_2 {
    width: 100%;
    float: none; }

  .post_layout_chess_2:nth-child(4n+3) .post_featured,
  .post_layout_chess_2:nth-child(4n+4) .post_featured {
    float: right; }

  .post_layout_chess_2:nth-child(4n+3) .post_inner,
  .post_layout_chess_2:nth-child(4n+4) .post_inner {
    left: 0;
    right: auto; }

  .post_layout_chess_3 {
    width: 100%;
    float: none; }

  .post_layout_chess_3:nth-child(6n+4) .post_featured,
  .post_layout_chess_3:nth-child(6n+5) .post_featured,
  .post_layout_chess_3:nth-child(6n+6) .post_featured {
    float: right; }

  .post_layout_chess_3:nth-child(6n+4) .post_inner,
  .post_layout_chess_3:nth-child(6n+5) .post_inner,
  .post_layout_chess_3:nth-child(6n+6) .post_inner {
    left: 0;
    right: auto; }

  .post_layout_chess:nth-child(2n+2) .post_featured {
    float: left; }

  .post_layout_chess:nth-child(2n+2) .post_inner {
    left: auto;
    right: 0; } }
@media (max-width: 767px) {
  /* Blog layout: Chess */
  .post_layout_chess .post_title + .post_meta {
    margin-top: 0.4em; }

  .post_layout_chess .post_content_inner {
    display: none !important; }

  .post_layout_chess.post_format_quote .post_content_inner + .post_meta,
  .post_layout_chess.post_format_link .post_content_inner + .post_meta,
  .post_layout_chess.post_format_aside .post_content_inner + .post_meta,
  .post_layout_chess.post_format_status .post_content_inner + .post_meta {
    display: none !important; }

  .post_layout_chess.post_format_quote .post_header,
  .post_layout_chess.post_format_link .post_header,
  .post_layout_chess.post_format_aside .post_header,
  .post_layout_chess.post_format_status .post_header {
    display: block; }

  .post_layout_chess blockquote {
    padding: 2em 2em 2em 4em; }

  .post_layout_chess blockquote:before {
    top: 1.05em;
    left: 0.5em; }

  .post_layout_chess.post_layout_chess_1 .more-link,
  .post_layout_chess.post_layout_chess_2 .more-link,
  .post_layout_chess.post_layout_chess_3 .more-link {
    margin-top: 0; } }
@media (max-width: 479px) {
  /* Blog layout: Chess */
  .post_layout_chess .post_header {
    display: block !important; }

  .post_layout_chess .post_title {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0; }

  .post_layout_chess .post_meta {
    display: none !important; }

  .post_layout_chess .post_content {
    display: none; }

  .post_layout_chess.post_format_audio .mejs-time {
    display: none; } }

/*# sourceMappingURL=chess-responsive.css.map */
