/* Blog layout: Excerpt 
------------------------- */

@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";

.post_layout_excerpt {
	position:relative;
	margin-bottom:0;
	overflow: hidden;
}
.post_layout_excerpt + .post_layout_excerpt {
	margin-top: 4.4rem;
}
.post_layout_excerpt:not(.sticky) + .post_layout_excerpt:not(.sticky) {
	padding-top: 0;
	border-top: none;
}

.post_layout_excerpt .post_featured {
	display: inline-block;
}
/*.post_layout_excerpt.post_format_audio .post_featured,*/
.post_layout_excerpt.post_format_audio .post_featured.without_thumb,
.post_layout_excerpt.post_format_gallery .post_featured.without_thumb {
	display:block;
}
.post_layout_excerpt .post_header {
	margin: 0;
	position:relative;
	padding:0 50px;
}
.post_layout_excerpt .post_header .post_price {
	width: auto;
	@include abs-rt;
	@include font(2.5em, 1.5em);
}

.sticky.post_layout_excerpt .post_title {
	margin-top:10px;
}
.post_layout_excerpt .post_header + .post_content {
	margin-top: 0.55rem;
}
.post_layout_excerpt .post_title {
	margin: 0;
	@include font(30px, 35px, 700);
	letter-spacing: -1px;
	margin-top:15px;
}
.post_layout_excerpt .post_meta {
	margin-top: 0;
}
.post_layout_excerpt .post_title + .post_meta {
	margin-top: 2.55rem;
}
.post_layout_excerpt .post_content{
	padding:0 50px;
}
.post_layout_excerpt{
	padding:38px 0 45px!important;
	&.has-post-thumbnail, &.post_format_audio, &.post_format_quote, &.post_format_video, &.post_format_image{
		padding:0 0 45px 0!important;
	}
}

.post_layout_excerpt.post_format_gallery{
	padding-top:0!important;
	.post_header{
		padding-top:45px;
	}
	.post_featured + .post_header{
		padding-top:0;
	}
	&.sticky{
		padding-top:40px!important;
	}
}
.post_layout_excerpt.post_format_video{
	.post_featured{
		iframe{
			margin:0;
		}
	}
}


.post_layout_excerpt.has-post-thumbnail.sticky{
	padding: 40px 50px!important;
}

// First post large in the Classic and Masonry
body[class*="blog_style_classic"] .post_layout_excerpt,
body[class*="blog_style_masonry"] .post_layout_excerpt {
	margin-bottom: 3em;
}
.post_layout_excerpt.post_format_gallery{
	.slider_controls_wrap{
		display: none!important;
	}
	.slider_pagination_wrap{
		right: 36px;
		left: auto;
		top: 50%;
		bottom: auto;
		width: auto;
		height: auto;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		.swiper-pagination-bullet{
			border:none;
			margin: 17px 0;
			display: block;
		}
	}
}
.post_layout_excerpt.post_format_audio .post_featured{
	.post_audio{
		border-bottom:2px solid white!important;
	}
}

.post_layout_excerpt.post_format_quote{
	.post_content{
		padding:0;
		.post_header+p{
			padding-left:50px;
		}
		.post_content_inner blockquote{
			border-bottom:4px solid white;
		}
	}
}
