/* Blog layout: Portfolio Gallery (use Portfolio styles too)
------------------------------------------------------------- */
.post_layout_gallery * {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.post_layout_gallery .post_details {
  display: none; }

.gallery_item_current {
  opacity: 0 !important; }

.gallery_preview {
  position: fixed;
  z-index: 200000;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: none; }

.gallery_preview:before {
  content: ' ';
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.6s ease;
  -ms-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease; }

.gallery_preview_show {
  pointer-events: auto; }

.gallery_preview_show:before {
  opacity: 1; }

.gallery_preview_image_clone {
  position: fixed;
  z-index: 110;
  -webkit-transition: -webkit-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-backface-visibility: hidden; }

.gallery_preview_image_original {
  position: relative;
  z-index: 120;
  display: block;
  object-fit: contain;
  -webkit-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-backface-visibility: hidden; }

.gallery_preview_show .gallery_preview_image_animate {
  /* open */
  -webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
  -ms-transition: -ms-transform 0.6s, opacity 0.2s;
  transition: transform 0.6s, opacity 0.2s; }

.gallery_preview_image_animate {
  /* close */
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -ms-transition: -ms-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s; }

.gallery_preview_description {
  position: absolute;
  z-index: 140;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -ms-transition: -ms-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(0, 30px, 0);
  -ms-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  padding: 0 3em;
  opacity: 0; }

.gallery_preview_show .gallery_preview_description {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.gallery_preview_show .post_title {
  margin: 0 0 0.5em; }

.gallery_preview_show .post_meta {
  font-size: 1em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 2em; }

.gallery_preview_show .post_description_content {
  max-width: 100%;
  font-size: 1.1429em;
  line-height: 2em; }

.gallery_preview_close {
  font-size: 2em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
  border: none;
  background: none;
  padding: 1em;
  opacity: 0;
  position: fixed;
  z-index: 150;
  top: 0;
  right: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -ms-transition: -ms-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  -ms-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1); }

.gallery_preview_image_loaded .gallery_preview_close {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

/*# sourceMappingURL=gallery.css.map */
