/* Blog layout: Masonry
------------------------- */
.masonry_wrap {
  position: relative;
  margin-right: -30px; }

.masonry_wrap .masonry_item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 30px 30px 0;
  margin-bottom: 0;
  width: 50%;
  border-width: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.masonry_wrap .masonry_item-1_3 {
  width: 33.3333%; }

.masonry_wrap .masonry_item-1_4 {
  width: 25%; }

/*# sourceMappingURL=masonry.css.map */
