/* ThemeREX Addons
------------------------------------------------------------------------------------ */
/* Grid */
.sidebar .trx_addons_columns_wrap {
  margin-right: 0; }

.sidebar .trx_addons_columns_wrap [class*="trx_addons_column-"] {
  display: block;
  width: 100%;
  padding: 0; }

/* Scroll to top */
.menu_style_right .trx_addons_scroll_to_top {
  left: 2em;
  right: auto; }

/* Stack rows */
.menu_style_right .sc_stack_section_fixed {
  right: 6rem !important; }

.menu_style_left .sc_stack_section_fixed {
  left: 6rem !important; }

/* Layouts */
.menu_style_left .sc_layouts_row_fixed_on {
  margin-left: 6rem !important; }

.menu_style_right .sc_layouts_row_fixed_on {
  margin-right: 6rem !important; }

body.mobile_layout.menu_style_left .sc_layouts_row_fixed_on {
  margin-left: 0 !important; }

body.mobile_layout.menu_style_right .sc_layouts_row_fixed_on {
  margin-right: 0 !important; }

.header_position_under:not(.mobile_layout) .top_panel .wpb_row {
  background-color: transparent !important; }

.top_panel.with_bg_image .sc_layouts_row:not(.sc_layouts_row_fixed_on) {
  background-color: transparent; }

/* Search field inside content */
.content .search_wrap {
  max-width: 50%;
  margin: 0; }

.post_item_none_search .search_wrap,
.post_item_none_archive .search_wrap {
  max-width: none; }

.content .search_wrap .search_form_wrap {
  width: 100%; }

.content .search_wrap .search_form_wrap .search_field {
  width: 100%; }

.content .search_wrap .search_submit {
  background-color: transparent; }

.post_item_none_search .search_wrap .search_field,
.post_item_none_archive .search_wrap .search_field {
  padding: 1.2em 3em 1em 1em !important; }

.post_item_none_search .search_wrap .search_submit,
.post_item_none_archive .search_wrap .search_submit {
  left: auto;
  right: 0;
  top: 0;
  padding: 0 1em; }

.content .search_wrap .search_results {
  width: 100%; }

/* Slider
---------------------------------------------- */
/* Pagination */
.sidebar .slider_pagination_pos_bottom > .swiper-pagination,
.sidebar .slider_outer_pagination_pos_bottom > .swiper-pagination {
  bottom: 0.5em; }

.sidebar .slider_container .swiper-pagination-bullet,
.sidebar .slider_outer .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  line-height: 8px;
  text-align: center; }

/* Controls */
/* Icons in controls */
.sc_slider_controls .slider_controls_wrap > a:before,
.slider_container.slider_controls_side .slider_controls_wrap > a:before,
.slider_outer_controls_side .slider_controls_wrap > a:before,
.slider_outer_controls_outside .slider_controls_wrap > a:before,
.slider_outer_controls_top .slider_controls_wrap > a:before,
.slider_outer_controls_bottom .slider_controls_wrap > a:before {
  font-family: "fontello";
  font-size: 1.6em; }

.sc_slider_controls .slider_controls_wrap > .slider_prev:before,
.slider_container.slider_controls_side .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_side .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_outside .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_top .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_bottom .slider_controls_wrap > .slider_prev:before {
  content: '\e939'; }

.sc_slider_controls .slider_controls_wrap > .slider_next:before,
.slider_container.slider_controls_side .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_side .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_outside .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_top .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_bottom .slider_controls_wrap > .slider_next:before {
  content: '\e93a'; }

.slider_elastistack_outer.slider_outer_controls > .slider_controls_wrap > .slider_next:before,
.slider_elastistack.slider_controls > .slider_controls_wrap > .slider_next:before {
  content: '\e929'; }

/* Slider in the widgets area */
.header_widgets_wrap .slider_container .slide_overlay.slide_overlay_large {
  background-color: transparent; }

.header_widgets_wrap .slider_container.slider_titles_center:not(.slider_multi) .slide_info.slide_info_large {
  width: 18em; }

.sidebar .slider_container.slider_multi .slide_info:not(.slide_info_large),
.sidebar .slider_container .slide_info:not(.slide_info_large),
.footer_wrap .slider_container.slider_multi .slide_info:not(.slide_info_large),
.footer_wrap .slider_container .slide_info:not(.slide_info_large) {
  bottom: 8px; }

.sidebar .slider_container.slider_multi .slide_title,
.sidebar .slider_container .slide_info:not(.slide_info_large) .slide_title,
.footer_wrap .slider_container.slider_multi .slide_title,
.footer_wrap .slider_container .slide_info:not(.slide_info_large) .slide_title {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 6px; }

.sidebar .slider_container.slider_multi .slide_date,
.sidebar .slider_container .slide_info:not(.slide_info_large) .slide_date,
.footer_wrap .slider_container.slider_multi .slide_date,
.footer_wrap .slider_container .slide_info:not(.slide_info_large) .slide_date {
  font-size: 12px;
  line-height: 16px; }

/* Widgets
---------------------------------------------- */
/* Widgets in the Footer */
.footer_wrap .sc_layouts_row {
  line-height: 1.7857em; }

.footer_wrap .sc_layouts_item,
.footer_wrap .sc_layouts_row .widget {
  vertical-align: top;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important; }

.footer_wrap .sc_layouts_item .widget {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

/* Widget Categories list in columns or sidebar */
.widget_categories_list[class*="column-"] [class*="column-"],
.sidebar .widget_categories_list [class*="column-"] {
  width: 100%;
  float: none;
  overflow: hidden; }

.widget_categories_list[class*="column-"] [class*="column-"] + [class*="column-"],
.sidebar .widget_categories_list [class*="column-"] + [class*="column-"] {
  margin-top: 0.5em; }

.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_item,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_item {
  text-align: left; }

.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image {
  display: inline-block;
  width: 20%; }

.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image {
  display: inline-block;
  width: 32px;
  vertical-align: middle; }

.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image img,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image img {
  width: 100%;
  height: auto; }

.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_title,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_title {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  margin: 0;
  font-size: 1em;
  text-align: left;
  text-transform: none;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image + .categories_list_title,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image + .categories_list_title {
  padding-left: 1em; }

/* Contacts */
.footer_wrap .widget_contacts .contacts_description,
.footer_wrap .widget_contacts .contacts_content {
  margin-left: auto;
  margin-right: auto; }

.footer_wrap .columns_wrap .widget_contacts .contacts_description,
.footer_wrap .columns_wrap .widget_contacts .contacts_content {
  max-width: none; }

/* Recent News + Shortcode Recent News */
body.expand_content .sc_recent_news_style_news-announce .post_size_full,
.sc_layouts_submenu .sc_recent_news_style_news-announce .post_size_full {
  height: 656px; }

body.expand_content .sc_recent_news_style_news-announce .post_size_big,
.sc_layouts_submenu .sc_recent_news_style_news-announce .post_size_big {
  height: 328px; }

body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
.sc_layouts_submenu .sc_recent_news_style_news-announce .post_size_medium,
body.expand_content .sc_recent_news_style_news-announce .post_size_small,
.sc_layouts_submenu .sc_recent_news_style_news-announce .post_size_small {
  height: 164px; }

.sidebar .sc_recent_news .post_item .post_title,
.footer_wrap .sc_recent_news .post_item .post_title {
  font-size: 1em; }

.sidebar .sc_recent_news .post_item .post_content,
.footer_wrap .sc_recent_news .post_item .post_content {
  font-size: 0.8667em;
  line-height: 1.3846em; }

/* Shortcodes
---------------------------------------------- */
/* Blogger */
.sc_blogger .post_featured + .post_header {
  max-width: none;
  padding: 0 50px;
  display: block; }

.sc_blogger_item_list.sc_blogger_item_image_position_left .sc_blogger_item_title,
.sc_blogger_item_list.sc_blogger_item_image_position_right .sc_blogger_item_title,
.sc_blogger_item_list.sc_blogger_item_image_position_alter .sc_blogger_item_title {
  font-size: 1.15em;
  line-height: 1.5em;
  font-weight: 400; }

.sc_blogger.sc_blogger_excerpt .post_featured {
  width: 100%; }

/* Content */
.sc_content_width_1_1, .sc_inner_width_1_1 > .elementor-column-wrap {
  width: 1278px; }

.sc_content_width_1_2, .sc_inner_width_1_2 > .elementor-column-wrap {
  width: 639px; }

.sc_content_width_1_3, .sc_inner_width_1_3 > .elementor-column-wrap {
  width: 426px; }

.sc_content_width_2_3, .sc_inner_width_2_3 > .elementor-column-wrap {
  width: 852px; }

.sc_content_width_1_4, .sc_inner_width_1_4 > .elementor-column-wrap {
  width: 319.5px; }

.sc_content_width_3_4, .sc_inner_width_3_4 > .elementor-column-wrap {
  width: 958.5px; }

/* Form */
.sc_form .sc_form_info_item .sc_form_info_icon:before {
  font-family: "fontello"; }

.sc_form .sc_form_info_item_address .sc_form_info_icon:before {
  content: '\e8fd'; }

.sc_form .sc_form_info_item_email .sc_form_info_icon:before {
  content: '\e8fa'; }

.sc_form .sc_form_info_item_phone .sc_form_info_icon:before {
  content: '\e8f5'; }

/* Icons */
.footer_wrap .sc_icons .sc_icons_icon + .sc_icons_item_title {
  margin-top: 1em;
  margin-bottom: 2em; }

/* Portfolio */
.sc_portfolio_default .sc_portfolio_item {
  -webkit-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  -ms-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease; }

/* Services */
.services_page_tabs {
  margin-top: 5em; }

.services_page_tabs .comments_list_wrap,
.services_page_tabs .comments_form_wrap:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top-width: 0; }

.services_page_tabs .comments_list_wrap + .comments_form_wrap {
  margin-top: 3em;
  padding-top: 3em;
  border-top-width: 1px; }

/* Team */
.single-cpt_team .comments_list_wrap,
.single-cpt_team .comments_form_wrap {
  margin-top: 0;
  border-top: none; }

.sc_team_default .sc_team_item_info {
  padding: 28px 38px 28px 46px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center; }
  .sc_team_default .sc_team_item_info .sc_team_item_header {
    text-align: left; }
    .sc_team_default .sc_team_item_info .sc_team_item_header .sc_team_item_title {
      font-size: 24px; }
    .sc_team_default .sc_team_item_info .sc_team_item_header .sc_team_item_subtitle {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      font-style: normal; }

.sc_team_default .sc_team_item_socials .social_item {
  margin: 0 3px; }

/* Testimonials */
.sc_testimonials_item_content:before {
  content: '\e965';
  font-family: "fontello";
  position: absolute;
  left: 50%;
  top: -30px;
  font-size: 157px;
  z-index: -1;
  transform: translateX(-50%); }

.sc_testimonials_item_content {
  padding-top: 50px; }
  .sc_testimonials_item_content p {
    font-size: 20px;
    line-height: 29px;
    font-weight: 600; }

.sc_testimonials_item_author_title {
  font-size: 30px;
  line-height: 1.1em;
  font-weight: 600;
  font-style: normal; }

.sc_testimonials_item_author_subtitle {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  font-style: normal; }

.sc_testimonials_simple [class*="column"] .sc_testimonials_item_author_data {
  padding: 0;
  border-left: none; }

.sc_testimonials [class*="column"] .sc_testimonials_item_content {
  text-align: center; }

.sc_testimonials [class*="column"] .sc_testimonials_item_author {
  text-align: center;
  padding: 1.5em 0.5em; }

.swiper-pagination-custom .swiper-pagination-button {
  width: 104px;
  height: 104px;
  border: none;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.sc_item_slider.slider_outer_pagination_pos_bottom .swiper-pagination {
  bottom: 9.5em; }

.slider_outer.slider_outer_pagination_pos_bottom.slider_outer_pagination_custom,
.slider_outer.slider_outer_pagination_pos_bottom_outside.slider_outer_pagination_custom {
  padding-bottom: 13.8em;
  padding-top: 1.5em; }

/* Tool Tip */
.trx_addons_tooltip:before {
  font-size: 1rem;
  white-space: nowrap;
  padding: 11px 19px; }

/* Skill */
.sc_skills_pie.sc_skills_compact_off .sc_skills_total {
  font-size: 53px;
  line-height: 1.1em;
  top: 48%; }

.sc_skills_pie.sc_skills_compact_off .sc_skills_item_title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0; }

.sc_skills_counter .sc_skills_total {
  font-size: 53px;
  line-height: 1.1em;
  font-weight: 700; }

.sc_skills_counter .sc_skills_item_title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0; }

.sc_skills.sc_skills_counter .sc_skills_item_wrap {
  position: relative;
  padding: 50px 0;
  z-index: 1; }
  .sc_skills.sc_skills_counter .sc_skills_item_wrap:before {
    content: '';
    width: 188px;
    height: 188px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: green;
    z-index: -1;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

/* Title */
.sc_item_subtitle {
  font-size: 14px;
  line-height: 1.1em;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 0; }

h2.sc_item_title {
  line-height: 1.2em;
  margin-top: 12px; }

h2.sc_item_title_tag + .sc_item_descr,
h2.sc_item_title_tag + .sc_item_slider,
h2.sc_item_title_tag + .sc_item_columns,
h2.sc_item_title_tag + .sc_item_content {
  margin-top: 2em; }

.sc_layouts_title.with_tint.with_content:before {
  display: none; }

.sc_title.sc_title_extra .sc_title_title.sc_item_title_style_extra {
  position: relative; }
  .sc_title.sc_title_extra .sc_title_title.sc_item_title_style_extra:after {
    content: '';
    width: 34px;
    height: 3px;
    display: block;
    background: green;
    margin-top: 33px; }
  .sc_title.sc_title_extra .sc_title_title.sc_item_title_style_extra.sc_align_center:after {
    margin: 33px auto; }
  .sc_title.sc_title_extra .sc_title_title.sc_item_title_style_extra.sc_align_right:after {
    margin: 33px 0 0 auto; }

/* Google Map */
.sc_googlemap_content_default {
  pointer-events: auto;
  display: flex;
  align-items: center;
  padding: 0;
  top: 15.5%;
  bottom: 15.5%;
  width: 27%;
  right: 16%;
  -webkit-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px; }
  .sc_googlemap_content_default ul.contact_icon_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; }
    .sc_googlemap_content_default ul.contact_icon_list li {
      display: flex;
      flex-direction: row;
      padding: 42px 80px; }
      .sc_googlemap_content_default ul.contact_icon_list li div[class*="icon"] {
        width: 76px;
        height: 76px;
        line-height: 76px;
        border: 2px solid red;
        font-weight: 400;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        font-size: 30px;
        margin-right: 35px;
        text-align: center;
        flex-shrink: 0; }
      .sc_googlemap_content_default ul.contact_icon_list li div {
        align-self: center; }
        .sc_googlemap_content_default ul.contact_icon_list li div h5, .sc_googlemap_content_default ul.contact_icon_list li div h6 {
          margin: 0; }
        .sc_googlemap_content_default ul.contact_icon_list li div h6 {
          font-size: 14px;
          line-height: 1.2em;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: .8px; }
        .sc_googlemap_content_default ul.contact_icon_list li div h5 {
          font-size: 24px;
          line-height: 30px;
          font-weight: 700;
          letter-spacing: -.5px; }
      .sc_googlemap_content_default ul.contact_icon_list li + li {
        border-top: 1px solid red; }

/*  Promo */
.sc_promo.sc_promo_size_normal .sc_promo_text_inner {
  padding: 0 0 0 7.778em; }

.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_descr,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_descr,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_content,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_content,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_content {
  margin-top: 2em; }

.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_content + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_content + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_slider + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_slider + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_columns + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_columns + .sc_item_button_image {
  margin-top: .8em; }

.sc_promo.sc_promo_default .sc_item_title {
  line-height: 0.93em;
  margin-top: 14px; }
  .sc_promo.sc_promo_default .sc_item_title:after {
    content: '';
    width: 34px;
    height: 3px;
    display: block;
    background: green;
    margin-top: 33px; }
  .sc_promo.sc_promo_default .sc_item_title.sc_align_center:after {
    margin: 33px auto; }
  .sc_promo.sc_promo_default .sc_item_title.sc_align_right:after {
    margin: 33px 0 0 auto; }

.sc_promo.sc_promo_size_normal .sc_promo_descr {
  font-size: 1em; }

/* Pricing */
.sc_price_item {
  -webkit-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px; }
  .sc_price_item .sc_price_item_subtitle {
    padding-top: 25px; }

.sc_price_item_info {
  padding: 0 0 70px; }
  .sc_price_item_info .sc_price_item_title {
    display: block;
    padding: 44px 10px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: -.5px;
    position: relative; }
  .sc_price_item_info .sc_price_item_price {
    margin-top: 0;
    padding: 56px 10px 3px;
    position: relative; }
    .sc_price_item_info .sc_price_item_price .sc_price_item_price_before, .sc_price_item_info .sc_price_item_price .sc_price_item_price_after {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 700; }
    .sc_price_item_info .sc_price_item_price .sc_price_item_price_value {
      font-size: 53px;
      line-height: 1em;
      font-weight: 700; }
  .sc_price_item_info .sc_price_item_description + .sc_price_item_price {
    padding-top: 15px; }
  .sc_price_item_info .sc_price_item_details {
    margin-top: 1.2em;
    margin-bottom: .9em; }
  .sc_price_item_info .sc_price_item_description, .sc_price_item_info .sc_price_item_details {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    font-style: normal;
    padding: 0 76px; }
    .sc_price_item_info .sc_price_item_description p, .sc_price_item_info .sc_price_item_details p {
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
      font-style: normal; }

.sc_price_item_subtitle + .sc_price_item_description, .sc_price_item_title + .sc_price_item_description {
  margin: 2.5em 0 0; }

/* Action */
.sc_action_item_default .sc_action_item_subtitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 25px; }

.sc_action_item_default .sc_action_item_title {
  font-size: 4.7222em;
  line-height: 0.94em;
  font-weight: 800;
  letter-spacing: -2.5px;
  position: relative; }
  .sc_action_item_default .sc_action_item_title:after {
    content: '';
    width: 34px;
    height: 3px;
    display: block;
    background: green; }
  .sc_action_item_default .sc_action_item_title span {
    display: block; }

.sc_action_item_subtitle + .sc_action_item_description,
.sc_action_item_title + .sc_action_item_description,
.sc_action_item_date + .sc_action_item_description,
.sc_action_item_date + .sc_action_item_link {
  margin-top: 1.3em; }

.sc_action_item_subtitle + .sc_action_item_link,
.sc_action_item_title + .sc_action_item_link,
.sc_action_item_description + .sc_action_item_link {
  margin-top: 2.5em; }

.sc_action_item_description {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  font-style: normal;
  width: 80%;
  margin: 0 auto; }

.sc_action_item_mc .sc_action_item_title:after, .sc_action_item_tc .sc_action_item_title:after, .sc_action_item_bc .sc_action_item_title:after {
  margin: 36px auto 0; }
.sc_action_item_tl .sc_action_item_title:after, .sc_action_item_ml .sc_action_item_title:after, .sc_action_item_bl .sc_action_item_title:after {
  margin: 36px 0 0; }
.sc_action_item_tr .sc_action_item_title:after, .sc_action_item_mr .sc_action_item_title:after, .sc_action_item_br .sc_action_item_title:after {
  margin: 36px 0 0 auto; }

/* Icon */
.sc_icons.sc_icons_default .sc_icons_columns_wrap {
  counter-reset: section; }
  .sc_icons.sc_icons_default .sc_icons_columns_wrap div[class*='trx_addons_column-'] {
    position: relative; }
    .sc_icons.sc_icons_default .sc_icons_columns_wrap div[class*='trx_addons_column-'] .sc_icons_item:after {
      content: counter(section,decimal);
      counter-increment: section;
      font-size: 18px;
      font-weight: 700;
      width: 44px;
      height: 44px;
      line-height: 44px;
      -webkit-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      color: white;
      background: red;
      display: inline-block;
      text-align: center;
      position: absolute;
      left: 33px;
      top: 6px;
      z-index: 4; }
    .sc_icons.sc_icons_default .sc_icons_columns_wrap div[class*='trx_addons_column-'] + div[class*='trx_addons_column-']:after {
      content: url("../../images/arrow.png");
      display: block;
      position: absolute;
      left: -100px;
      top: 62px; }
.sc_icons.sc_icons_default .sc_icons_item {
  position: relative;
  padding: 73px 0; }
  .sc_icons.sc_icons_default .sc_icons_item:before {
    content: '';
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    z-index: 0;
    background: white; }
  .sc_icons.sc_icons_default .sc_icons_item .sc_icons_image {
    position: relative;
    z-index: 3; }
    .sc_icons.sc_icons_default .sc_icons_item .sc_icons_image img {
      max-width: 62px; }
  .sc_icons.sc_icons_default .sc_icons_item .sc_icons_item_details {
    position: relative;
    z-index: 3;
    padding: 0 42px; }
    .sc_icons.sc_icons_default .sc_icons_item .sc_icons_item_details .sc_icons_item_title {
      font-size: 24px;
      line-height: 1.2em;
      font-weight: 700;
      letter-spacing: -.5px;
      text-transform: capitalize; }
    .sc_icons.sc_icons_default .sc_icons_item .sc_icons_item_details .sc_icons_item_description {
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
      max-height: 44px;
      overflow: hidden; }

.sc_icons_extra .sc_icons_columns_wrap {
  counter-reset: section; }
  .sc_icons_extra .sc_icons_columns_wrap div[class*='trx_addons_column-'] {
    position: relative; }
    .sc_icons_extra .sc_icons_columns_wrap div[class*='trx_addons_column-'] .sc_icons_item .number_list {
      margin-bottom: 45px; }
      .sc_icons_extra .sc_icons_columns_wrap div[class*='trx_addons_column-'] .sc_icons_item .number_list:before {
        content: counter(section,decimal);
        counter-increment: section;
        font-size: 34px;
        font-weight: 700;
        width: 85px;
        height: 85px;
        line-height: 85px;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        color: white;
        background: red;
        display: inline-block;
        text-align: center;
        position: relative;
        z-index: 4; }
.sc_icons_extra .sc_icons_item_title {
  font-size: 24px;
  line-height: 1.25em;
  font-weight: 700;
  letter-spacing: -.5px;
  text-transform: none;
  padding: 0 15px; }

.sc_icons_default .sc_icons_icon + .sc_icons_item_details, .sc_icons_default .sc_icons_image + .sc_icons_item_details {
  margin-top: 11px; }

/*# sourceMappingURL=trx_addons.css.map */
