@media (max-width: 1439px) {
  /* ThemeREX Addons */
  /* Content Area */
  .sc_content_width_1_1, .sc_inner_width_1_1 > .elementor-column-wrap {
    width: 1100px; }

  .sc_content_width_1_2, .sc_inner_width_1_2 > .elementor-column-wrap {
    width: 550px; }

  .sc_content_width_1_3, .sc_inner_width_1_3 > .elementor-column-wrap {
    width: 366.6666666667px; }

  .sc_content_width_2_3, .sc_inner_width_2_3 > .elementor-column-wrap {
    width: 733.3333333333px; }

  .sc_content_width_1_4, .sc_inner_width_1_4 > .elementor-column-wrap {
    width: 275px; }

  .sc_content_width_3_4, .sc_inner_width_3_4 > .elementor-column-wrap {
    width: 825px; }

  /* Content Area on boxed pages */
  .body_style_boxed .sc_content_width_1_1, .body_style_boxed .sc_inner_width_1_1 > .elementor-column-wrap {
    width: 1020px; }

  .body_style_boxed .sc_content_width_1_2, .body_style_boxed .sc_inner_width_1_2 > .elementor-column-wrap {
    width: 510px; }

  .body_style_boxed .sc_content_width_1_3, .body_style_boxed .sc_inner_width_1_3 > .elementor-column-wrap {
    width: 340px; }

  .body_style_boxed .sc_content_width_2_3, .body_style_boxed .sc_inner_width_2_3 > .elementor-column-wrap {
    width: 680px; }

  .body_style_boxed .sc_content_width_1_4, .body_style_boxed .sc_inner_width_1_4 > .elementor-column-wrap {
    width: 255px; }

  .body_style_boxed .sc_content_width_3_4, .body_style_boxed .sc_inner_width_3_4 > .elementor-column-wrap {
    width: 765px; }

  /* Stack rows */
  .menu_style_right .sc_stack_section_fixed {
    right: 70px !important; }

  .menu_style_left .sc_stack_section_fixed {
    left: 70px !important; } }
@media (max-width: 1279px) {
  /* ThemeREX Addons */
  /* Recent News on expanded pages */
  body.expand_content .sc_recent_news_style_news-announce .post_size_full {
    height: 540px; }

  body.expand_content .sc_recent_news_style_news-announce .post_size_big {
    height: 270px; }

  body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
  body.expand_content .sc_recent_news_style_news-announce .post_size_small {
    height: 135px; }

  /* Content Area */
  .sc_content_width_1_1, .sc_inner_width_1_1 > .elementor-column-wrap {
    width: 964px; }

  .sc_content_width_1_2, .sc_inner_width_1_2 > .elementor-column-wrap {
    width: 482px; }

  .sc_content_width_1_3, .sc_inner_width_1_3 > .elementor-column-wrap {
    width: 321.3333333333px; }

  .sc_content_width_2_3, .sc_inner_width_2_3 > .elementor-column-wrap {
    width: 642.6666666667px; }

  .sc_content_width_1_4, .sc_inner_width_1_4 > .elementor-column-wrap {
    width: 241px; }

  .sc_content_width_3_4, .sc_inner_width_3_4 > .elementor-column-wrap {
    width: 723px; }

  /* Content Area on boxed pages */
  .body_style_boxed .sc_content_width_1_1, .body_style_boxed .sc_inner_width_1_1 > .elementor-column-wrap {
    width: 964px; }

  .body_style_boxed .sc_content_width_1_2, .body_style_boxed .sc_inner_width_1_2 > .elementor-column-wrap {
    width: 482px; }

  .body_style_boxed .sc_content_width_1_3, .body_style_boxed .sc_inner_width_1_3 > .elementor-column-wrap {
    width: 321.3333333333px; }

  .body_style_boxed .sc_content_width_2_3, .body_style_boxed .sc_inner_width_2_3 > .elementor-column-wrap {
    width: 642.6666666667px; }

  .body_style_boxed .sc_content_width_1_4, .body_style_boxed .sc_inner_width_1_4 > .elementor-column-wrap {
    width: 241px; }

  .body_style_boxed .sc_content_width_3_4, .body_style_boxed .sc_inner_width_3_4 > .elementor-column-wrap {
    width: 723px; }

  /* Content Area with Side Menu */
  .menu_style_side .sc_content_width_1_1, .menu_style_side .sc_inner_width_1_1 > .elementor-column-wrap {
    width: 904px; }

  .menu_style_side .sc_content_width_1_2, .menu_style_side .sc_inner_width_1_2 > .elementor-column-wrap {
    width: 452px; }

  .menu_style_side .sc_content_width_1_3, .menu_style_side .sc_inner_width_1_3 > .elementor-column-wrap {
    width: 301.3333333333px; }

  .menu_style_side .sc_content_width_2_3, .menu_style_side .sc_inner_width_2_3 > .elementor-column-wrap {
    width: 602.6666666667px; }

  .menu_style_side .sc_content_width_1_4, .menu_style_side .sc_inner_width_1_4 > .elementor-column-wrap {
    width: 226px; }

  .menu_style_side .sc_content_width_3_4, .menu_style_side .sc_inner_width_3_4 > .elementor-column-wrap {
    width: 678px; }

  /* Stack rows */
  .menu_style_right .sc_stack_section_fixed {
    right: 60px !important; }

  .menu_style_left .sc_stack_section_fixed {
    left: 60px !important; } }
@media (max-width: 1023px) {
  /* ThemeREX Addons */
  /* Recent News on expanded pages */
  body.expand_content .sc_recent_news_style_news-announce .post_size_full {
    width: 100%;
    height: 198px; }

  body.expand_content .sc_recent_news_style_news-announce .post_size_big {
    width: 100%;
    height: 198px; }

  body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
  body.expand_content .sc_recent_news_style_news-announce .post_size_small {
    width: 100%;
    height: 198px; }

  /* Content Area */
  .sc_content_width_1_1, .sc-tablet_inner_width_1_1 > .elementor-column-wrap {
    width: 708px; }

  .sc_content_width_1_2, .sc-tablet_inner_width_1_2 > .elementor-column-wrap {
    width: 354px; }

  .sc_content_width_1_3, .sc-tablet_inner_width_1_3 > .elementor-column-wrap {
    width: 236px; }

  .sc_content_width_2_3, .sc-tablet_inner_width_2_3 > .elementor-column-wrap {
    width: 472px; }

  .sc_content_width_1_4, .sc-tablet_inner_width_1_4 > .elementor-column-wrap {
    width: 177px; }

  .sc_content_width_3_4, .sc-tablet_inner_width_3_4 > .elementor-column-wrap {
    width: 531px; }

  /* Content Area on boxed pages */
  .body_style_boxed .sc_content_width_1_1, .body_style_boxed .sc-tablet_inner_width_1_1 > .elementor-column-wrap {
    width: 708px; }

  .body_style_boxed .sc_content_width_1_2, .body_style_boxed .sc-tablet_inner_width_1_2 > .elementor-column-wrap {
    width: 354px; }

  .body_style_boxed .sc_content_width_1_3, .body_style_boxed .sc-tablet_inner_width_1_3 > .elementor-column-wrap {
    width: 236px; }

  .body_style_boxed .sc_content_width_2_3, .body_style_boxed .sc-tablet_inner_width_2_3 > .elementor-column-wrap {
    width: 472px; }

  .body_style_boxed .sc_content_width_1_4, .body_style_boxed .sc-tablet_inner_width_1_4 > .elementor-column-wrap {
    width: 177px; }

  .body_style_boxed .sc_content_width_3_4, .body_style_boxed .sc-tablet_inner_width_3_4 > .elementor-column-wrap {
    width: 531px; }

  /* Content Area with Side Menu */
  .menu_style_side .sc_content_width_1_1, .menu_style_side .sc-tablet_inner_width_1_1 > .elementor-column-wrap {
    width: 648px; }

  .menu_style_side .sc_content_width_1_2, .menu_style_side .sc-tablet_inner_width_1_2 > .elementor-column-wrap {
    width: 324px; }

  .menu_style_side .sc_content_width_1_3, .menu_style_side .sc-tablet_inner_width_1_3 > .elementor-column-wrap {
    width: 216px; }

  .menu_style_side .sc_content_width_2_3, .menu_style_side .sc-tablet_inner_width_2_3 > .elementor-column-wrap {
    width: 432px; }

  .menu_style_side .sc_content_width_1_4, .menu_style_side .sc-tablet_inner_width_1_4 > .elementor-column-wrap {
    width: 162px; }

  .menu_style_side .sc_content_width_3_4, .menu_style_side .sc-tablet_inner_width_3_4 > .elementor-column-wrap {
    width: 486px; }

  /* Stack rows */
  .menu_style_right .sc_stack_section_fixed {
    right: 60px !important; }

  .menu_style_left .sc_stack_section_fixed {
    left: 60px !important; } }
@media (max-width: 767px) {
  /* ThemeREX Addons */
  /* Recent News on expanded pages */
  body.expand_content .sc_recent_news_style_news-announce .post_size_full {
    width: 100%;
    height: 124px; }

  body.expand_content .sc_recent_news_style_news-announce .post_size_big {
    width: 100%;
    height: 124px; }

  body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
  body.expand_content .sc_recent_news_style_news-announce .post_size_small {
    width: 100%;
    height: 124px; }

  /* Content Area */
  .sc_content_width_1_1, .sc-mobile_inner_width_1_1 > .elementor-column-wrap {
    width: 440px; }

  .sc_content_width_1_2, .sc-mobile_inner_width_1_2 > .elementor-column-wrap {
    width: 220px; }

  .sc_content_width_1_3, .sc-mobile_inner_width_1_3 > .elementor-column-wrap {
    width: 146.6666666667px; }

  .sc_content_width_2_3, .sc-mobile_inner_width_2_3 > .elementor-column-wrap {
    width: 293.3333333333px; }

  .sc_content_width_1_4, .sc-mobile_inner_width_1_4 > .elementor-column-wrap {
    width: 110px; }

  .sc_content_width_3_4, .sc-mobile_inner_width_3_4 > .elementor-column-wrap {
    width: 330px; }

  /* Content Area on boxed pages */
  .body_style_boxed .sc_content_width_1_1, .body_style_boxed .sc-mobile_inner_width_1_1 > .elementor-column-wrap {
    width: 440px; }

  .body_style_boxed .sc_content_width_1_2, .body_style_boxed .sc-mobile_inner_width_1_2 > .elementor-column-wrap {
    width: 220px; }

  .body_style_boxed .sc_content_width_1_3, .body_style_boxed .sc-mobile_inner_width_1_3 > .elementor-column-wrap {
    width: 146.6666666667px; }

  .body_style_boxed .sc_content_width_2_3, .body_style_boxed .sc-mobile_inner_width_2_3 > .elementor-column-wrap {
    width: 293.3333333333px; }

  .body_style_boxed .sc_content_width_1_4, .body_style_boxed .sc-mobile_inner_width_1_4 > .elementor-column-wrap {
    width: 110px; }

  .body_style_boxed .sc_content_width_3_4, .body_style_boxed .sc-mobile_inner_width_3_4 > .elementor-column-wrap {
    width: 330px; }

  /* Content Area with Side Menu */
  .menu_style_side .sc_content_width_1_1, .menu_style_side .sc-mobile_inner_width_1_1 > .elementor-column-wrap {
    width: 440px; }

  .menu_style_side .sc_content_width_1_2, .menu_style_side .sc-mobile_inner_width_1_2 > .elementor-column-wrap {
    width: 220px; }

  .menu_style_side .sc_content_width_1_3, .menu_style_side .sc-mobile_inner_width_1_3 > .elementor-column-wrap {
    width: 146.6666666667px; }

  .menu_style_side .sc_content_width_2_3, .menu_style_side .sc-mobile_inner_width_2_3 > .elementor-column-wrap {
    width: 293.3333333333px; }

  .menu_style_side .sc_content_width_1_4, .menu_style_side .sc-mobile_inner_width_1_4 > .elementor-column-wrap {
    width: 110px; }

  .menu_style_side .sc_content_width_3_4, .menu_style_side .sc-mobile_inner_width_3_4 > .elementor-column-wrap {
    width: 330px; }

  /* Stack rows */
  .menu_style_right .sc_stack_section_fixed {
    right: 0 !important; }

  .menu_style_left .sc_stack_section_fixed {
    left: 0 !important; } }
@media (max-width: 479px) {
  /* ThemeREX Addons */
  /* Content Area */
  .sc_content_width_1_1, .sc-mobile_inner_width_1_1 > .elementor-column-wrap {
    width: 280px; }

  .sc_content_width_1_2, .sc-mobile_inner_width_1_2 > .elementor-column-wrap {
    width: 140px; }

  .sc_content_width_1_3, .sc-mobile_inner_width_1_3 > .elementor-column-wrap {
    width: 93.3333333333px; }

  .sc_content_width_2_3, .sc-mobile_inner_width_2_3 > .elementor-column-wrap {
    width: 186.6666666667px; }

  .sc_content_width_1_4, .sc-mobile_inner_width_1_4 > .elementor-column-wrap {
    width: 70px; }

  .sc_content_width_3_4, .sc-mobile_inner_width_3_4 > .elementor-column-wrap {
    width: 210px; }

  /* Content Area on boxed pages */
  .body_style_boxed .sc_content_width_1_1, .body_style_boxed .sc-mobile_inner_width_1_1 > .elementor-column-wrap {
    width: 280px; }

  .body_style_boxed .sc_content_width_1_2, .body_style_boxed .sc-mobile_inner_width_1_2 > .elementor-column-wrap {
    width: 140px; }

  .body_style_boxed .sc_content_width_1_3, .body_style_boxed .sc-mobile_inner_width_1_3 > .elementor-column-wrap {
    width: 93.3333333333px; }

  .body_style_boxed .sc_content_width_2_3, .body_style_boxed .sc-mobile_inner_width_2_3 > .elementor-column-wrap {
    width: 186.6666666667px; }

  .body_style_boxed .sc_content_width_1_4, .body_style_boxed .sc-mobile_inner_width_1_4 > .elementor-column-wrap {
    width: 70px; }

  .body_style_boxed .sc_content_width_3_4, .body_style_boxed .sc-mobile_inner_width_3_4 > .elementor-column-wrap {
    width: 210px; }

  /* Content Area with Side Menu */
  .menu_style_side .sc_content_width_1_1, .menu_style_side .sc-mobile_inner_width_1_1 > .elementor-column-wrap {
    width: 280px; }

  .menu_style_side .sc_content_width_1_2, .menu_style_side .sc-mobile_inner_width_1_2 > .elementor-column-wrap {
    width: 140px; }

  .menu_style_side .sc_content_width_1_3, .menu_style_side .sc-mobile_inner_width_1_3 > .elementor-column-wrap {
    width: 93.3333333333px; }

  .menu_style_side .sc_content_width_2_3, .menu_style_side .sc-mobile_inner_width_2_3 > .elementor-column-wrap {
    width: 186.6666666667px; }

  .menu_style_side .sc_content_width_1_4, .menu_style_side .sc-mobile_inner_width_1_4 > .elementor-column-wrap {
    width: 70px; }

  .menu_style_side .sc_content_width_3_4, .menu_style_side .sc-mobile_inner_width_3_4 > .elementor-column-wrap {
    width: 210px; } }

/*# sourceMappingURL=trx_addons-responsive.css.map */
