/* Essential Grid styles
----------------------------------------------------------------- */
.esg-grid i[class*="eg-icon-"] {
  color: #fff;
  -webkit-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease; }

.esg-entry-cover .eec > div {
  margin-right: 0 !important; }

.esg-entry-cover .eec > div[class*="-element-1-a"] {
  margin-left: 10px !important; }

.esg-starring {
  vertical-align: top; }

.esg-starring .star-rating, .esg-starring-page .star-rating {
  width: 6em; }

.flat-light .esg-filters .esg-sortbutton-order,
.flat-light .esg-filters .esg-cartbutton-order {
  line-height: 36px;
  margin: 0; }

.flat-light .esg-filters .esg-sortbutton {
  padding-right: 0; }

.esgbox-overlay {
  z-index: 228010 !important; }

.esgbox-opened {
  z-index: 228030 !important; }

.wp-widget-ess-grid-widget ul > li:before {
  display: none !important; }

.esgbox-button.esgbox-button--share {
  display: none; }

/*# sourceMappingURL=essential-grid.css.map */
