@import "_mixins.scss";
@import "_theme-vars.scss";


/* Theme-specific font icons
-----------------------------------------------------------------*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
	@include font(inherit, inherit !important, inherit, inherit);
	display: inline-block;
	vertical-align: middle;
	width:auto;
	margin:0;
}



/* Media crop
-----------------------------------------------------------------*/
.media-frame-content .crop-content > img + div + div {
	min-height: 10px;
}


/* New editor area
-----------------------------------------------------------------*/
@if $hide_scrollbars_in_gb {
	// Hide scrollbars in the editor area
	.edit-post-layout__content {
		overflow-x: hidden !important;
	}
	// Hide scrollbar of the sidebar (at the right side of the editor area)
	@media (min-width: 782px) {
		.edit-post-sidebar {
			right: -16px;
			overflow-y: scroll;
		}
		.edit-post-layout.is-sidebar-opened .edit-post-sidebar,
		.edit-post-layout.is-sidebar-opened .edit-post-plugin-sidebar__sidebar-layout {
			width: 296px;
		}
		.edit-post-sidebar > .components-panel {
			overflow-y: auto;
		}
	}
}


/* Notices
-----------------------------------------------------------------*/
.tantum_admin_notice {
	display:block;
	margin-top: 1em;
	margin-left: 0;
	overflow: hidden;
	position: relative;
}
.tantum_admin_notice .tantum_notice_image {
	float: left;
	margin-right: 2em;
}
.tantum_admin_notice .tantum_notice_image img {
	max-height: 135px;
	width: auto;
}
.tantum_admin_notice .tantum_notice_title {
	margin:0;
}
.tantum_admin_notice .tantum_notice_title a {
	text-decoration: none;
}
.tantum_admin_notice.tantum_rate_notice .tantum_notice_title:after {
	display: inline-block;
	vertical-align: top;
	content: '\f155\f155\f155\f155\f155';
	font-family: 'dashicons';
	margin-left: 0.5em;
	color: #ffcc00;
	font-size: 1em;
}
.tantum_admin_notice .tantum_notice_text {
	margin: 1em 0;
}
.tantum_admin_notice p {
	margin: 0 0 0.1em;
}
.tantum_admin_notice .tantum_notice_text_info {
	margin-top: 0.5em;
	font-style: italic;
}
.tantum_admin_notice .dashicons {
	font-size:1.2em;
	line-height:inherit;
}

.tantum_admin_notice .button+.button {
	margin-left: 0.3em;
}

.tantum_admin_notice .tantum_hide_notice {
	@include abs-rt(1em, 1em);
	text-decoration: none;
}
@media (max-width: 799px) {
	.tantum_admin_notice .tantum_hide_notice_text {
		display: none;
	}
}


/* Admin messages
-----------------------------------------------------------------*/
.tantum_admin_messages {
	margin-bottom: 1em;
}
.tantum_admin_messages .tantum_admin_message_item {
	margin: 0.5em 0;
}


.tantum_skin_code {
	width: 100%;
}


/* Menu icons
-----------------------------------------------------------------*/
.menu-item-settings .description-thin {
	position:relative;
}
.tantum_list_icons_selector {
	@include abs-rt(1px, 50%, 2);
	@include translateY(-50%);
	display:inline-block;
	@include square(24px);
	border-left: 1px solid #ccc;
	background-size: 100%;
	background-position:left top;
	background-repeat:no-repeat;
	cursor:pointer;
}
.menu-item-settings .tantum_list_icons_selector {
	top: auto;
	bottom: 2px;
	@include transform-none;
	background-color:#fff;
}
.tantum_list_icons {
	position:absolute;
	display:none;
	z-index:1000;
	@include box(298px, 284px);
	overflow-x:hidden;
	overflow-y:scroll;
	background-color:#f0f0f0;
	padding:1px 0 0 1px;
	border: 2px solid #ccc;
	max-width:100%;
}
.tantum_list_icons input[type="text"].tantum_list_icons_search {
	display: block;
	font-size: 16px;
	width: 99% !important;
	padding: 6px;
	margin-bottom:1px;
	@include border-box;
}
.tantum_list_icons span {
	display:inline-block;
	font-size: 16px;
	@include square(2em);
	vertical-align:top;
	border: 1px solid #ccc;
	margin: 0 1px 1px 0;
	background-color:#fff;
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
	@include border-radius(2px);
}
.customize-control .tantum_list_icons span {
	font-size: 15px;
}
.tantum_list_icons span:before,
.tantum_list_icons_selector:before {
	margin:0;
}
.tantum_list_icons span:hover,
.tantum_list_icons span.tantum_list_active,
.tantum_list_icons_selector:hover {
	background-color:#f0f0f0;
	border-color: #bbb;
	@include box-shadow(0px 0px 3px 0px rgba(0, 0, 0, 0.2));	
}
.tantum_list_icons span.tantum_list_hidden {
	display: none;
}


/* Checklist
-----------------------------------------------------------------*/
.tantum_checklist {
	max-height:20em;
	overflow-x: hidden;
	overflow-y: auto;
}
.tantum_checklist .tantum_checklist_item_label {
	display:block;
	width: 100%;
	@include border-box;
}
.tantum_checklist_horizontal .tantum_checklist_item_label {
	display:inline-block;
	vertical-align:top;
	padding-right: 1em;
	width: 33.3333%;
}
.tantum_checklist_vertical .tantum_checklist_item_label {
	margin-bottom: 0.5em;
}
.tantum_checklist .tantum_checklist_item_label img {
	display:inline-block;
	vertical-align:middle;
	@include box(auto, 2.5em);
}

.tantum_sortable .tantum_sortable_item,
.tantum_sortable .tantum_sortable_placeholder {
	padding:0.5em 1em;
	border: 1px dotted #ddd;
}
.tantum_sortable .tantum_sortable_placeholder {
	background-color:#fffddd;
	border: 1px dashed #ccc;
	min-height: 1.5em;
}
.tantum_sortable .tantum_sortable_item.ui-sortable-helper {
	background-color:#ffffff;
	@include box-shadow(0 0 15px 0 rgba(0, 0, 0, 0.1));
}


/* Theme Options & Meta boxes
-----------------------------------------------------------------*/
[id^="tantum_override_options_"] > h2,
#trx_addons_meta_box > h2 {
	background-color: #478aaa !important;
	color: #fff !important;
}
[id^="tantum_override_options_"] > button,
#trx_addons_meta_box > button {
	position: relative;
	z-index: 1;
}
[id^="tantum_override_options_"] > button > .toggle-indicator,
#trx_addons_meta_box > button > .toggle-indicator {
	color: #fff !important;
}
#eg-meta-box h2 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.tantum_hidden {
	display: none;
}

div.tantum_tabs {
	border: none !important;
	background: none !important;
	font-size: 1em !important;
	padding:  0 !important;
}
div.tantum_tabs > ul.ui-tabs-nav {
	margin-bottom:0;
	padding: 0;
	position:relative;
	z-index:1;
	background: none;
	border: none;
}
div.tantum_tabs > ul.ui-tabs-nav > li {
	position: static;
	display:inline-block;
	margin:0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border:1px solid #ddd;
	border-bottom:none;
	background-image: none;
	background: #f7f7f7;
}
div.tantum_tabs > ul.ui-tabs-nav > li:hover {
	background-image: none;
	background: #f0f0f0;
}
div.tantum_tabs > ul.ui-tabs-nav > li > a.ui-tabs-anchor {
	display:block;
	padding: 1em;
	text-decoration:none;
	@include box-shadow(none !important);
}
div.tantum_tabs > ul.ui-tabs-nav > li.ui-state-active > a.ui-tabs-anchor {
	position:relative;
	top: 1px;
	background-color:#fff;
	color: #333;
}
div.tantum_tabs > ul.ui-tabs-nav > li.ui-state-active {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
div.tantum_tabs > ul.ui-tabs-nav > li+li {
	margin-left:3px;
}

div.tantum_tabs .tantum_tabs_section {
	padding: 2em 1.5em !important;
	border:1px solid #ddd !important;
	background-color:#fff !important;
}
div.tantum_tabs_section + .tantum_tabs_section {
	display:none;
}

/* Tabs inside other tabs */
div.ui-tabs div.ui-tabs > div.ui-tabs-panel {
	background-color: #fafafa;
}
div.ui-tabs div.ui-tabs > ul.ui-tabs-nav > li.ui-state-active > a.ui-tabs-anchor {
	background-color:#fafafa;
}

/* Accordion groups */
div.tantum_accordion {
	padding:0 !important;
}
div.tantum_accordion + .tantum_accordion,
.tantum_options_item + .tantum_options_groups {
	padding:1.5em 0 !important;
}
div.tantum_accordion_title,
div.ui-accordion .tantum_accordion_title.ui-accordion-header {
	padding:0.8em 1em;
	color: #fff;
	background: #bbb;	/*#00a0d0;*/
	margin:0;
	margin-top:1px;
	cursor:pointer;
	@include border-sharp;
}
div.ui-accordion .tantum_accordion_title.ui-accordion-header.ui-state-active {
	background:#888;	/*#0080b0;*/
}
div.ui-accordion .tantum_accordion_title.ui-accordion-header .ui-icon {
	display:inline-block;
	vertical-align:top;
	text-indent:0;
	margin-right:0.8em;
}
div.ui-accordion .tantum_accordion_title.ui-accordion-header .ui-icon:before {
	content:'\e929';
	font-family: 'fontello';
}
div.tantum_accordion_title.ui-accordion-header.ui-state-active .ui-icon:before {
	content:'\e92c';
}
div.ui-accordion .tantum_accordion_content {
	border:1px solid #ccc;
	padding: 1em 2em;
}


/* Single and Range Slider */
.tantum_range_slider {
	font-family:inherit;
	font-size:1em;
	line-height:inherit;
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}
.tantum_range_slider_value {
	display:inline-block;
	vertical-align:top;
	width: 15% !important;
	margin-right:3% !important;
	text-align:right;
}
.tantum_range_slider_value + .tantum_range_slider {
	display:inline-block;
	vertical-align:top;
	width: 80%;
}
@media (max-width: 479px) {
	.tantum_range_slider_value {
		width: 20% !important;
	}
	.tantum_range_slider_value + .tantum_range_slider {
		width: 75%;
	}
}
.tantum_range_slider_label {
	@include font(0.75em, 1em, bold);
	position: absolute;
	z-index:1;
	top: 0.9em;
}
.tantum_range_slider_label_min {
	left: 0;
	color: #aaa;
	@include translateX(-50%);
}
.tantum_range_slider_label_max {
	right: 0;
	color: #aaa;
	@include translateX(50%);
}
.tantum_range_slider_label_cur {
	color: #909090;
	left: 0;
	bottom: auto;
	top: -2em;
	@include translateX(-50%);
}
div.ui-slider {
	position:relative;
	text-align:left;
	background: #ffffff;
	border: 1px solid #d8d8d8;
	@include border-radius(2px);
}
div.ui-slider .ui-slider-handle {
	position:absolute;
	z-index:2;
	@include box(1.1em, 1.1em);
	cursor:default;
	-ms-touch-action:none;
	touch-action:none;
	border: 3px solid #ffffff;
	background: #f0f0f0;
	@include border-round;
	@include border-box;
	@include box-shadow(0px 0px 3px rgba(0,0,0,0.3));
}
div.ui-slider .ui-slider-handle:hover,
div.ui-slider .ui-slider-handle.ui-state-active {
	background: #ddd;
	@include box-shadow(0px 0px 6px rgba(0,0,0,0.3));
}
div.ui-slider .ui-slider-handle.ui-state-active {
	background: #64abc8;
}
div.ui-slider .ui-slider-range {
	position:absolute;
	z-index:1;
	font-size:.7em;
	display:block;
	border:0;
	background-position:0 0;
	background: #70c0e0;
	@include border-radius(1px);
}
div.ui-slider.ui-state-disabled .ui-slider-handle,
div.ui-slider.ui-state-disabled .ui-slider-range {
	filter:inherit
}
div.ui-slider-horizontal {
	height:.3em
}
div.ui-slider-horizontal:not(.elementor-slider) .ui-slider-handle {
	top:-.5em;
	margin-left:-.5em
}
div.ui-slider-horizontal .ui-slider-range {
	top:0;
	height:100%
}
div.ui-slider-horizontal .ui-slider-range-min {
	left:0
}
div.ui-slider-horizontal .ui-slider-range-max {
	right:0
}
div.ui-slider-vertical {
	@include box(.8em, 100px);
}
div.ui-slider-vertical .ui-slider-handle {
	left:-.3em;
	margin-left:0;
	margin-bottom:-.6em
}
div.ui-slider-vertical .ui-slider-range {
	left:0;
	width:100%
}
div.ui-slider-vertical .ui-slider-range-min {
	bottom:0
}
div.ui-slider-vertical .ui-slider-range-max {
	top:0
}


/* Theme Options info */
.tantum_options_info {
	margin: 0 0 2em 0;
}
.tantum_options_asterisk {
	vertical-align: baseline;
	font-size: 0.75em;
	font-weight: normal;
	line-height: 0;
	position: relative;
	top: -0.5em;
	display: inline-block;
}
.tantum_options_asterisk:before {
	content: '\2732';
}

/* Single option */
.tantum_options_item {
    padding: 1.5em 0 1.25em;
}
.tantum_options_item:not(.tantum_options_item_info) + .tantum_options_item:not(.tantum_options_item_info) {
    border-top: 1px dotted #ddd;
}
.tantum_options_item:after {
	content: ' ';
}
.tantum_new_row_before,
.tantum_options_item:after {
	display:block;
	@include box(100%, 0);
	clear: both;
}
.tantum_options_item_title {
	display: inline-block;
	vertical-align:top;
	margin:0.4em 0.5em 0.5em 0;
	max-width:95%;
	width: 190px;
	padding-right:20px;
	position: relative;
}
.tantum_options_item_checkbox .tantum_options_item_title {
	margin-top:0.2em;
}
.tantum_options_item_data {
	display:inline-block;
	vertical-align:top;
	width:100%;
	max-width:470px;
}
.tantum_options_item_text_editor .tantum_options_item_data {
	max-width: 800px;
}
.tantum_options_item_text_editor iframe {
	min-height: 200px;
}
.tantum_options_item_field {
	position:relative;
}
.tantum_options_item_description {
	font-style: italic;
	font-size:0.9em;
}
.tantum_options_item * {
	-webkit-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
.tantum_options_item_color .wp-picker-holder,
.tantum_options_item_color .wp-picker-holder * {
	-webkit-box-sizing: content-box !important;
	-ms-box-sizing: content-box !important;
	box-sizing: content-box !important;	
}
.tantum_options_item input[type="text"],
.tantum_options_item textarea,
.tantum_options_item select {
	width:100%;
}

/* Checkbox */
.tantum_options_item_checkbox .tantum_options_item_label {
	display:inline-block;
	margin: 0.5em 0;
}

/* Radio and Switch */
.tantum_options_item_switch .tantum_options_item_label,
.tantum_options_item_radio .tantum_options_item_label {
	display:inline-block;
	margin: 0.5em 1em 0.5em 0;
}

/* Checklist */
.tantum_options_item_checklist .tantum_options_item_description {
	margin-top: 0.5em;
}

/* Color */
.tantum_options_item_color .tantum_options_item_description {
	margin-top: 0.5em;
}

/* Image */
.tantum_options_item_image input[type="text"],
.tantum_options_item_media input[type="text"],
.tantum_options_item_audio input[type="text"],
.tantum_options_item_video input[type="text"] {
	width: 73% !important;
	height: 28px;
	line-height: 26px;
	margin: 0 1px 0 0;
	@include border-box;
}
.tantum_options_item_image .tantum_media_selector,
.tantum_options_item_media .tantum_media_selector,
.tantum_options_item_audio .tantum_media_selector,
.tantum_options_item_video .tantum_media_selector {
	display:inline-block;
	width: 26%;
	max-width: 105px;
	@include border-box;
	@include box-shadow(none);
}

/* Columns */
[class*="tantum_column-"] {
	display:inline-block;
	vertical-align:top;
	padding-right: 20px;
	@include border-box;
}
.tantum_column-1_2 { width: 50%; }
.tantum_column-1_3 { width: 33.3333%; }
.tantum_column-2_3 { width: 66.6667%; }
.tantum_column-1_4 { width: 25%; }
.tantum_column-2_4 { width: 50%; }
.tantum_column-3_4 { width: 75%; }
.tantum_column-1_5 { width: 20%; }
.tantum_column-2_5 { width: 40%; }
.tantum_column-3_5 { width: 60%; }
.tantum_column-4_5 { width: 80%; }
@media (max-width: 1279px) {
	.tantum_column-1_4,
	.tantum_column-3_4,
	.tantum_column-1_5,
	.tantum_column-2_5,
	.tantum_column-3_5,
	.tantum_column-4_5 { width: 50%; }
}
@media (max-width: 1023px) {
	.tantum_column-1_3,
	.tantum_column-2_3 { width: 50%; }
}
@media (max-width: 767px) {
	.tantum_column-1_2,
	.tantum_column-1_3,
	.tantum_column-2_3,
	.tantum_column-1_4,
	.tantum_column-2_4,
	.tantum_column-3_4,
	.tantum_column-1_5,
	.tantum_column-2_5,
	.tantum_column-3_5,
	.tantum_column-4_5 { width: 100%; padding-right: 0; }
}
[class*="tantum_column-"] .tantum_options_item_title {
	text-align: left;
	float: none;
	width: auto;
	padding-right: 0;
	display:block;
}
[class*="tantum_column-"] .tantum_options_item_data {
	text-align: left;
	float: none;
	width: auto;
	min-width: none;
	display:block;
}
.tantum_options_item[class*="tantum_column-"] {
	border-width:0 !important;
}

/* Info block */
.tantum_options_item_info {
	background-color:#f7f7f7;
	padding: 1em 1.5em;
	border-left: 3px solid #aaa;
}
.tantum_options_item_info .tantum_options_item_title,
.tantum_options_item_info .tantum_options_item_data {
	float:none;
	width: 100%;
}
.tantum_options_item_info .tantum_options_item_title {
	text-transform:uppercase;
	letter-spacing:1px;
	text-align: left;
}

/* Images preview */
.tantum_options_field_preview {
	display: block;
	margin: 1em 0 0;
}
.tantum_options_field_preview img {
	@include box(auto, auto);
	max-width: 100%;
	max-height: 100px;
	vertical-align:top;
}
.tantum_options_field_preview > img,
.tantum_options_field_preview > span {
	margin: 0 0.3em 0.3em 0;
	position:relative;
	max-width: 30%;
}
.tantum_options_field_preview > span {
	display:inline-block;
	cursor:pointer;
}
.tantum_options_field_preview > span > a {
	padding:0.3em 0.5em;
}
.tantum_options_field_preview > span:before {
	content: ' ';
	@include bg-mask(#000, 0.5, 1);
	opacity: 0;
	@include transition-property(opacity);
}
.tantum_options_field_preview > span:after {
	content: '\e916';
	font-family:'fontello';
	@include abs-lt(50%, 50%, 2);
	display:block;
	text-align:center;
	font-size: 1em;
	@include square(1em);
	margin:-0.6em 0 0 -0.5em;
	color: #fff;
	opacity: 0;
	@include transition-property(opacity);
}
.tantum_options_field_preview > span:hover:before,
.tantum_options_field_preview > span:hover:after {
	opacity:1;
}


/*.customize-control-field-wrap .tantum_list_icons_selector,*/
.tantum_options_item_icon .tantum_list_icons_selector {
	right: 0;
}

/* Inherit state */
.tantum_options_inherit_lock {
	@include abs-rt;
	display:block;
	@include square(18px);
	background-color:#d0d0d0;
	color:#4c4c4c;
	@include border-radius(2px);
	@include transition-all;
}
.tantum_options_item_checkbox .tantum_options_inherit_lock {
	top: 4px;
}
.tantum_options_item_switch .tantum_options_inherit_lock,
.tantum_options_item_radio .tantum_options_inherit_lock {
	top: 2px;
}
.tantum_options_inherit_off .tantum_options_inherit_lock {
	background-color:#4cb2e1;
	color:#ffffff;
}
.tantum_options_inherit_lock:before {
	font-family:'fontello';
	content: '\e82b';
	padding:0;
	margin:0;
}
.tantum_options_inherit_off .tantum_options_inherit_lock:before {
	content: '\e8a9';
}
.tantum_options_inherit_cover {
	@include bg-mask(#000, 0.5, 3);
	background-image:url(../images/stripe-black.png);
}
.tantum_options_inherit_label {
	@include abs-lt(50%, 50%);
	display:inline-block;
	margin:-10px 0 0 -30px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
}
.tantum_options_wait:before {
	font-family:'fontello';
	content: '\e810' !important;
	display:inline-block;
	@include square(1em);
	@include animation(spin 2s infinite linear);
}

/* Buttons */
.tantum_options_buttons {
	margin-top: 1em;
}
.tantum_options_buttons input {
	border: 1px solid #0080b0;
	background-color: #00a0d0;
	color:#fff;
	padding: 0.5em 1em;
}
.tantum_options_buttons input:hover {
	border-color: #006090;
	background-color: #0073aa;
}


/* Color scheme editor
-------------------------------------------------- */
.tantum_scheme_editor {
	margin-bottom:1em;
}
.tantum_scheme_editor_scheme {
	margin-bottom: 10px;
	padding-right: 95px;
	position: relative;
}
.tantum_scheme_editor_controls {
	@include abs-rt(0, 1px, 1);
	bottom: 0;
}
.tantum_scheme_editor_control {
	display: inline-block;
	vertical-align: top;
	@include box(27px, 27px, 25px);
	text-align: center;
	margin-left: 2px;
	@include border-box;
	border: 1px solid #ccc;
	@include border-radius(2px);
	background-color: #f7f7f7;
	color: #666;
	cursor: pointer;
	@include transition-properties(color, background-color);
}
.tantum_scheme_editor_control:hover {
	background-color: #eee;
	color: #333;
}
@media (max-width: 782px) {
	.tantum_scheme_editor_control {
		height: 35px;
		line-height: 33px;
	}
}

.tantum_scheme_editor_control:before {
	font-family: 'fontello';
	font-size: 1.15em;
}
.tantum_scheme_editor_control_reset:before {
	content: '\e80e';
}
.tantum_scheme_editor_control_copy:before {
	content: '\f0c5';
}
.tantum_scheme_editor_control_delete:before {
	content: '\e8da';
}
.tantum_scheme_editor_type {
	margin-bottom: 10px;
}
.tantum_scheme_editor_type .tantum_scheme_editor_row {
	border: none;
}
.tantum_scheme_editor_type label+label {
	margin-left: 1em;
}
.tantum_scheme_editor_type .tantum_scheme_editor_description {
	font-style:italic;
	font-size:0.9em;
}
.tantum_scheme_editor_header {
	padding: 3px 0;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
}
.tantum_scheme_editor_header_cell,
.tantum_scheme_editor_row_cell {
	display:inline-block;
	vertical-align:middle;
	width: 15%;
	padding: 0 2px 0 0;
	@include border-box;
}
.tantum_scheme_editor_header_cell:first-child,
.tantum_scheme_editor_row_cell:first-child {
	width: 25%;
}
.tantum_scheme_editor_row_cell_span {
	width: 75%;
}
.tantum_scheme_editor_header_cell + .tantum_scheme_editor_header_cell,
.tantum_scheme_editor_row_cell + .tantum_scheme_editor_row_cell {
	margin-left:0;
}
.tantum_scheme_editor_header_cell {
	font-weight: bold;
	text-align:center;
}
.tantum_scheme_editor_row {
	padding: 3px 0;
	border-bottom: 1px dotted #ddd;
}



/* Internal ColorPicker 
-----------------------------------------------------------------*/
.iColorPickerTable .iColorPicker_moreColors {
	background-image: url(../images/colorpicker-morecolors.png);
	background-repeat:no-repeat;
	display:inline-block;
	margin-left: 0.5em;
	@include square(1em);
	vertical-align:middle;
	box-shadow: none !important;
}



/* Tiny ColorPicker 
-----------------------------------------------------------------*/
.cp-color-picker {
	z-index:1000;
	background-color: #ddd;
}



/* TGMA
-----------------------------------------------------------------*/
#setting-error-tgmpa {
	display:block;
}
.tgmpa_line_template {
	display: block;
	margin: 0.5em 0.5em 0 0;
	clear: both;
}
.tgmpa_version {
	float: right;
	padding: 0em 1.5em 0.5em 0;
}
.tgmpa_column_version {
	min-width: 32px;
	text-align: right;
	float: right;
}
.tgmpa_column_version_colored {
	color: #ff0000;
	font-weight: bold;
}
.tgmpa_column_version_colored_2 {
	color: #71C671;
	font-weight: bold;
}
.tgmpa_header {
	@include font(23px, 29px, 400);
	margin: 0;
	padding: 9px 15px 4px 0;
}
.tgmpa_update_php {
	@include box(100%, 98%);
	min-height: 850px;
	padding-top: 1px;
}
.tgmpa_actions_row {
	color: #888;
}


/* Get PRO Version
---------------------------------------------------------- */

/* Table */
.tantum_theme_panel_table_row {
	width:100%;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.tantum_theme_panel_table_row:last-child {
	border-bottom: none;
}
.tantum_theme_panel_table_row > div {
	padding: 2em 0;
	@include border-box;
	float: left;
}
.tantum_theme_panel_table_head > div {
	font-size:1.1538em;
	font-weight:bold;
	text-align: center;
}
.tantum_theme_panel_table_row > div + div {
	padding: 2em 1em;
	text-align: center;
}
.tantum_theme_panel_table_info {
	width: 70%;
}
.tantum_theme_panel_table_check {
	width: 15%;
	text-align: center;
}
@media (max-width: 767px) {
	.tantum_theme_panel_table_head .tantum_theme_panel_table_info {
		display: none;
	}
	.tantum_theme_panel_table_info {
		width: 100%;
		padding-top: 0;
	}
	.tantum_theme_panel_table_check {
		width: 50%;
		padding-top: 0;
	}
}
.tantum_theme_panel_table_info_title {
	margin-top: 0;
	margin-bottom: 0.3em;
}
.tantum_theme_panel_table_check .dashicons {
	@include font(2em, 1em);
	@include box(1em, 1em);
}
.tantum_theme_panel_table_check .dashicons:before {
	font-size: 1em;
}
.tantum_theme_panel_table_check .dashicons-yes:before {
	color:#00aa00;
}
.tantum_theme_panel_table_check .dashicons-no:before {
	color:#aa0000;
}

/* Button */
.trx_addons_theme_panel_theme_inactive .tantum_pro_link {
	margin-top: 1em;
}
.tantum_theme_panel_table_check .tantum_pro_link {
	margin-top: 0;
}

/* Form */
.tantum_pro_form_wrap {
	display: none;
	@include fixed-cover(10001);	/* admin sidemenu have 9990 */
	background-color: rgba(0,0,0,0.5);
}
.tantum_pro_form {
	@include abs-cc(10010);
	opacity: 0;
	margin-top: 50px;
	width: 460px;
	padding: 4em;
	border: 1px solid #ddd;
	background-color: #fff;
	@include box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.2));
}
@media (max-width: 479px) {
	.tantum_pro_form {
		width: 300px;
	}
}
.tantum_pro_close {
	display: none;	/* Hide in Customizer */
}
.tantum_pro_close:after {
	content: '\e875';
	display: inline-block;
	font-family: 'trx_addons_icons';
	font-size: 1.25em;
	line-height: inherit;
	margin-left: 0.3em;
}
.tantum_pro_close:hover {
	color: #000;
}
.trx_addons_theme_panel_theme_inactive .tantum_pro_close {
	display: inline-block;
	padding: 1.2em;
	@include abs-rt;
	cursor: pointer;
	color: #888;
	text-transform: uppercase;
}

.tantum_pro_title {
	margin-top: 0;
	color: #333;
}

.tantum_pro_link_get {
	color: #0088bb;
	border-bottom: 1px solid #0088bb;
//	font-size: 1.25em;
	text-decoration: none;
	@include transition-properties(color, border-color);
}
.tantum_pro_link_get:hover {
	color: #008800;
	border-color: #008800;
}

.tantum_pro_field {
	border: 1px solid #ddd;
	background-color: #f7f7f7;
	padding: 2em;
}
.tantum_pro_field + .tantum_pro_field {
	margin-top: 20px;
}
.tantum_pro_step_title {
	margin-top: 0;
	@include font(1em, 1.2em);
	text-transform: uppercase;
	color: #888;
}
.tantum_pro_label {
	display: block;
	margin: 1em 0;
	font-weight: bold;
	color: #333;
}
.tantum_pro_field input[type="text"] {
	display: block;
	width: 100%;
	padding: 0.5em 1em;
	box-sizing: border-box;
	margin-bottom: 1em;
}
.tantum_pro_upgrade {
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}
.tantum_pro_upgrade_process {
	display: inline-block;
	line-height: inherit;
	margin-left: 0.3em;
}
