@import "_mixins.scss";
@import "_theme-vars.scss";

//@mixin theme--xxl() {
@media #{$media_xxl} {
    /* Theme Common styles */

	/* Tags layouts */
	table th, table td,
	.sc_table table th, .sc_table table td	{
		padding:1rem;
	}
	
	/* Post layouts */
	.post_item_404 .post_content {
		padding: 2em 0 5em;
	}
	.post_item_none_search .post_content {
		padding: 2em 0;
	}

	/* Single post */
	.nav-links-single.nav-links-fixed {
		position: static;
		bottom: auto;
		left: auto;
		right: auto;
		opacity: 1;
	}
	.nav-links-single.nav-links-fixed .nav-links {
		padding-top: 6em;
		margin-top: 6em;
		border-width: 1px;
	}
	.nav-links-single.nav-links-fixed .nav-links .nav-previous,
	.nav-links-single.nav-links-fixed .nav-links .nav-next {
		position: relative;
		width: 50%;
		padding: 0;
		border-width: 0;
		background-color: transparent;
		left: auto;
		right: auto;
		top: auto;
	}
	.sc_googlemap_content_default ul.contact_icon_list li{
		padding: 42px 30px;
	}
	.body_style_boxed .page_wrap {			width:$xxl_page_boxed + 40px; }
	.body_style_boxed .content_wrap,
	.body_style_boxed .content_container {	width:$xxl_page_boxed; }
	.post_layout_portfolio_4 .post_featured  .post_info{
		@include font(.95em);
	}
}

//@mixin theme--xl() {
@media #{$media_xl} {
    /* Theme Common styles */

	h1, .front_page_section_caption {
		@include font(3.5em);
	}
	h2, .sc_layouts_title_title > .sc_layouts_title_caption {
		@include font(3.1em);
	}
	h3 {
		@include font(2.6em);
	}

	/* Body sizes */
	.content_wrap, .content_container {		width:$xl_page; }
	.body_style_boxed .page_wrap {			width:$xl_page; }
	.body_style_boxed .content_wrap,
	.body_style_boxed .content_container {	width:$xl_page_boxed; }

	.menu_style_side .menu_side_wrap {			width: $xl_menu_side; }
	body.menu_style_left {						margin-left: $xl_menu_side; }
	body.menu_style_right {						margin-right: $xl_menu_side; }
	.menu_style_left .sc_layouts_row_fixed_on {	margin-left: $xl_menu_side !important;}
	.menu_style_right .sc_layouts_row_fixed_on {margin-right: $xl_menu_side !important;}
	
	/* Content and Sidebar */
	//.sidebar_show .content,
	body.body_style_wide:not(.expand_content) [class*="content_wrap"] > .content {	width: $xl_content; }
	body.body_style_boxed:not(.expand_content) [class*="content_wrap"] > .content {	width: $xl_content_boxed; }
	[class*="content_wrap"] > .sidebar { 											width: $xl_sidebar; }
	body.body_style_boxed [class*="content_wrap"] > .sidebar { 						width: $xl_sidebar_boxed; }
	
	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide .content_wrap {
		padding-left: $xl_paddings_fullwide;
		padding-right:$xl_paddings_fullwide;
	}
	.body_style_fullwide.sidebar_right [class*="content_wrap"] > .content,
	.body_style_fullscreen.sidebar_right [class*="content_wrap"] > .content { padding-right: $xl_gap + $xl_sidebar; }
	.body_style_fullwide.sidebar_right [class*="content_wrap"] > .sidebar,
	.body_style_fullscreen.sidebar_right [class*="content_wrap"] > .sidebar { margin-left: -$xl_sidebar; }
	.body_style_fullwide.sidebar_left [class*="content_wrap"] > .content,
	.body_style_fullscreen.sidebar_left [class*="content_wrap"] > .content { padding-left:  $xl_gap + $xl_sidebar; }
	.body_style_fullwide.sidebar_left [class*="content_wrap"] > .sidebar,
	.body_style_fullscreen.sidebar_left [class*="content_wrap"] > .sidebar { margin-right:-$xl_sidebar; }
	
	/* Header */
	.menu_side_icons .toc_menu_item .toc_menu_icon:before {
		font-size: 1.8rem;
	}
	
	/* Mobile menu */
	.menu_mobile .menu_mobile_nav_area li > a {
		@include font(1.2857em, 1.5em);
	}
	.menu_mobile .menu_mobile_nav_area > ul > li > a {
		@include font(2em, 1.5em);
	}

	/* Post layouts */
	.post_item_404 .post_content {
		padding: 0 0 2em;
	}
	.post_item_none_search .post_content {
		padding: 2em 0;
	}
	
	/* Content area on pages with background */
	.custom-background .content_wrap > .content,
	.page_banner_wrap ~ .content_wrap > .content {
		padding: 3em;
	}

	/* Single post navigation fixed with side menu active */
	.menu_style_left .nav-links-single.nav-links-fixed {
		margin-left: $xl_menu_side;
	}
	.menu_style_right .nav-links-single.nav-links-fixed {
		margin-right: $xl_menu_side;
	}


	/* Widgets */
	.sidebar_banner_wrap {
		margin-bottom: 3em;
	}
	.sidebar[class*="scheme_"] .sidebar_inner {
		padding: 3em 0;
	}
	.sidebar[class*="scheme_"] .widget {
		padding: 0 3em;
	}
	.sidebar .widget+.widget,
	.sidebar[class*="scheme_"] .widget+.widget {
		padding-top: 1.5em;
		margin-top: 30px;
	}
	.sidebar .widget + .widget.widget_bg_image,
	.sidebar[class*="scheme_"] .widget + .widget.widget_bg_image,
	.sidebar .widget + .widget.widget_fullwidth,
	.sidebar[class*="scheme_"] .widget + .widget.widget_fullwidth {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}
	.sidebar_inner .widget_search, .sidebar .widget{
		padding:1.5em;
	}
	.widget .widget_title, .widget .widgettitle, .widget_product_tag_cloud .widget_title, .widget_tag_cloud .widget_title{
		margin-bottom:1em;
	}
	.sc_googlemap_content_default{
		width: 31%;
		right: 10%;
	}
	.single .post_item_single .post_content_single{
		padding: 17px 25px 27px;
	}
	.single .post_item_single .header_content_wrap .post_header_single{
		padding: 25px 25px 0;
	}
	.sc_promo.sc_promo_size_normal .sc_promo_text_inner{
		padding:0 0 0 5em;
	}
	.sc_icons.sc_icons_default .sc_icons_item:before{
		width: 250px;
		height: 250px;
	}
	.sc_icons.sc_icons_default .sc_icons_columns_wrap div[class*='trx_addons_column-'] .sc_icons_item:after{
		top:25px;
	}
	.sc_button.sc_button_default.sc_button_with_icon {
		padding: 14px 24px;
	}
	.sc_recent_news_style_news-excerpt .post_item .post_title{
		font-size: 20px;
		line-height: 23px;
	}
	.sc_recent_news_style_news-excerpt .post_item {
		padding: 2.13em 2em;
	}
	div .car-rental-search-step1 .booking-item .booking-item-body input[type="submit"]{
		margin-top:18px;
	}
}

//@mixin theme--lg() {
@media #{$media_lg} {
    /* Theme Common styles */

	html { font-size: 16px; line-height: 161.54%; }

	p, ul, ol, dl, blockquote, address {
		margin-bottom: 1em;
	}

	/* Body sizes */
	.body_style_boxed .page_wrap {				width:100%; }
	.content_wrap,
	.content_container {						width:$lg_page !important; }

	.menu_style_side .content_wrap,
	.menu_style_side .content_container {		width: $lg_page_menu_side !important; }
	.menu_style_side .menu_side_wrap {			width: $lg_menu_side; }
	body.menu_style_left {						margin-left: $lg_menu_side !important; }
	body.menu_style_right {						margin-right: $lg_menu_side; }
	.menu_style_left .sc_layouts_row_fixed_on {	margin-left: $lg_menu_side !important;}
	.menu_style_right .sc_layouts_row_fixed_on {margin-right: $lg_menu_side !important;}

	/* Content and Sidebar */
	//.sidebar_show .content,
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) [class*="content_wrap"] > .content { 
												width: $lg_content; }
	body.menu_style_side:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) [class*="content_wrap"] > .content {
												width: $lg_content - $lg_menu_side; }
	[class*="content_wrap"] > .sidebar,
	body.body_style_boxed [class*="content_wrap"] > .sidebar {
												width: $lg_sidebar; }

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide .content_wrap {
		padding-left:50px;
		padding-right:50px;
	}
	.body_style_fullwide.sidebar_right [class*="content_wrap"] > .content,
	.body_style_fullscreen.sidebar_right [class*="content_wrap"] > .content { padding-right: $lg_gap + $lg_sidebar; }
	.body_style_fullwide.sidebar_right [class*="content_wrap"] > .sidebar,
	.body_style_fullscreen.sidebar_right [class*="content_wrap"] > .sidebar { margin-left: -$lg_sidebar; }
	.body_style_fullwide.sidebar_left [class*="content_wrap"] > .content,
	.body_style_fullscreen.sidebar_left [class*="content_wrap"] > .content { padding-left:  $lg_gap + $lg_sidebar; }
	.body_style_fullwide.sidebar_left [class*="content_wrap"] > .sidebar,
	.body_style_fullscreen.sidebar_left [class*="content_wrap"] > .sidebar { margin-right: -$lg_sidebar; }
	
	/* Grid */
	.container, .container-fluid,
	.trx_addons_container, .trx_addons_container-fluid {
		padding-left: $lg_grid_gap / 2;
		padding-right: $lg_grid_gap / 2;
	}
	.row, .columns_wrap, .trx_addons_columns_wrap {
		margin-right: -$lg_grid_gap;
	}
	.row > [class*="column-"],
	.columns_wrap > [class*="column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
		padding-right: $lg_grid_gap;
	}
	.vc_row.columns_padding_left,
	.row.columns_padding_left,
	.columns_wrap.columns_padding_left,
	.trx_addons_columns_wrap.columns_padding_left  {
		margin-left: -$lg_grid_gap;
	}
	.vc_row.columns_padding_left .vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_left > [class*="trx_addons_column-"], .trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_left,
	.row.columns_padding_left > [class*="column-"], .columns_wrap.columns_padding_left > [class*="column-"],
	.row > [class*="column-"].columns_padding_left, .columns_wrap > [class*="column-"].columns_padding_left {
		padding-left: $lg_grid_gap;
	}
	.vc_row.columns_padding_right,
	.row.columns_padding_right,
	.trx_addons_columns_wrap.columns_padding_right,
	.columns_wrap.columns_padding_right {
		margin-right: -$lg_grid_gap;
	}
	.vc_row.columns_padding_right .vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_right > [class*="trx_addons_column-"], .trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_right,
	.row.columns_padding_right > [class*="column-"], .columns_wrap.columns_padding_right > [class*="column-"],
	.row > [class*="column-"].columns_padding_right, .columns_wrap > [class*="column-"].columns_padding_right {
		padding-right: $lg_grid_gap;
	}
	.vc_row,
	.trx_addons_columns_wrap.columns_padding_center,
	.row.columns_padding_center,
	.columns_wrap.columns_padding_center {
		margin-left: -$lg_grid_gap / 2;
		margin-right: -$lg_grid_gap / 2;
	}
	.vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_center > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_center,
	.row.columns_padding_center > [class*="column-"], .columns_wrap.columns_padding_center > [class*="column-"],
	.row > [class*="column-"].columns_padding_center, .columns_wrap > [class*="column-"].columns_padding_center {
		padding-left: $lg_grid_gap / 2;
		padding-right: $lg_grid_gap / 2;
	}
	.trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom,
	.row.columns_padding_bottom > [class*="column-"], .columns_wrap.columns_padding_bottom > [class*="column-"],
	.row > [class*="column-"].columns_padding_bottom, .columns_wrap > [class*="column-"].columns_padding_bottom {
		padding-bottom: $lg_grid_gap;
	}
	
	hr, .vc_separator { margin: 4em 0 !important; }
	

	/* Header */
	.menu_side_wrap .sc_layouts_logo {								padding: 55% 8%; }
	.menu_side_icons .toc_menu_item .toc_menu_description span {	letter-spacing:1px;	padding:0 2em; }

	.menu_mobile .menu_mobile_nav_area li > a {
		@include font(1.2308em, 1.5em);
	}

	/* Buttons */
	form button:not(.components-button),
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.theme_button,
	.post_item .more-link,
	.gallery_preview_show .post_readmore,
	.tantum_tabs .tantum_tabs_titles li a,
	/* BB PRess */
	#buddypress .comment-reply-link,
	#buddypress .generic-button a,
	#buddypress a.button,
	#buddypress button,
	#buddypress input[type="button"],
	#buddypress input[type="reset"],
	#buddypress input[type="submit"],
	#buddypress ul.button-nav li a,
	#buddypress div.activity-meta a,
	a.bp-title-button,
	/* Booked */
	body #booked-profile-page input[type="submit"],
	body #booked-profile-page button,
	body .booked-list-view input[type="submit"],
	body .booked-list-view button,
	body table.booked-calendar input[type="submit"],
	body table.booked-calendar button,
	body .booked-modal input[type="submit"],
	body .booked-modal button,
	/* EDD */
	.edd_download_purchase_form .button,
	#edd-purchase-button,
	.edd-submit.button,
	.widget_edd_cart_widget .edd_checkout a,
	/* MailChimp */
	form.mc4wp-form .mc4wp-form-fields input[type="submit"],
	/* ThemeREX Addons*/
	.sc_button,
	.sc_layouts_row .sc_button,
	.sc_form button,
	/* Tour Master */
	.tourmaster-tour-search-wrap input.tourmaster-tour-search-submit[type="submit"],
	/* Tribe Events */
	#tribe-bar-form .tribe-bar-submit input[type="submit"],
	#tribe-bar-form button,
	#tribe-bar-form a,
	#tribe-bar-form input,
	#tribe-bar-form .tribe-bar-views-toggle,
	#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option,
	.tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option,
	#tribe-events .tribe-events-button,
	.tribe-events-button,
	.tribe-events-cal-links a,
	.tribe-events-sub-nav li a,
	.tribe-events-read-more,
	#tribe-events-footer ~ a.tribe-events-ical.tribe-events-button,
	/* WooCommerce buttons */
	.woocommerce .button, .woocommerce-page .button, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button .woocommerce #respond input#submit, .woocommerce input[type="button"], .woocommerce-page input[type="button"], .woocommerce input[type="submit"], .woocommerce-page input[type="submit"], .woocommerce .woocommerce-message .button, .woocommerce ul.products li.product .button, .woocommerce div.product form.cart .button, .woocommerce #review_form #respond p.form-submit input[type="submit"], .woocommerce-page #review_form #respond p.form-submit input[type="submit"], .woocommerce table.my_account_orders .order-actions .button, .woocommerce table.cart td.actions .button, #add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
	.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit[disabled]:disabled, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button[disabled]:disabled, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button[disabled]:disabled, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button[disabled]:disabled,
	.yith-woocompare-widget a.clear-all{
		@include font(16px, 18px);
		padding: 0.657em 1.6em;
		letter-spacing: 0;
	}
	.minimal-light .esg-filterbutton, .minimal-light .esg-navigationbutton, .minimal-light .esg-sortbutton, .minimal-light .esg-cartbutton a{
		@include font(16px, 18px);
		padding: 0.657em 1.6em!important;
		letter-spacing: 0;
	}
	.sc_button_simple {
		padding: 0 1.8em 0 0;
	}

	/* Tab buttons */
	div.esg-filter-wrapper .esg-filterbutton > span,
	.mptt-navigation-tabs li a,
	div.tantum_tabs .tantum_tabs_titles li a,
	div.tantum_tabs .tantum_tabs_titles li a.ui-tabs-anchor {
		padding: 1em 1.25em;
	}
	
	/* Post layouts */
	.post_item .more-link {
		margin-top: 2em;
	}

	/* Single post */
	.nav-links-single .nav-links,
	.nav-links-single.nav-links-fixed .nav-links,
	.related_wrap,
	.comments_list_wrap,
	.comments_form_wrap {
		margin-top: 4em;
		padding-top: 4em;
	}
	.comments_wrap .form-submit {
		margin-top: 3em;
	}
	.comments_list_wrap .comment_posted {
		font-size:1em;
	}

	/* Single post navigation fixed with side menu active */
	.menu_style_left .nav-links-single.nav-links-fixed {
		margin-left: $lg_menu_side;
	}
	.menu_style_right .nav-links-single.nav-links-fixed {
		margin-right: $lg_menu_side;
	}

	/* Widgets */
	.widget .widgettitle {
		@include font(16px, 20px);
	}

	.sc_edd_details .downloads_page_tags .downloads_page_data > a,
	.widget_product_tag_cloud a,
	.widget_tag_cloud a {
		letter-spacing:0;
	}

	/* Video players */
	.trx_addons_video_player.with_cover .video_hover,
	.format-video .post_featured.with_thumb .post_video_hover {
		@include transition-none;
		opacity: 1;
		margin-top:-1em;
	}
	.blog_mode_post blockquote, .blog_mode_page blockquote{
		margin-top:30px;
		margin-bottom:30px;
	}
	blockquote, blockquote[class*="wp-block-quote"][class*="is-style-"], blockquote[class*="wp-block-quote"][class*="is-"], .wp-block-quote:not(.is-large):not(.is-style-large), .wp-block-freeform.block-library-rich-text__tinymce blockquote {
		padding: 2em 2.2em 2.2em 5.4em;
	}
	blockquote:before {
		top: 0.8em;
		left: 0.55em;
	}
	blockquote > cite, blockquote > p > cite, blockquote > .wp-block-pullquote__citation, .wp-block-quote .wp-block-quote__citation{
		@include font(20px);
	}
	.sc_table table tr:first-child th, .sc_table table tr:first-child td{
		@include font(18px);
	}
	.widget_area .post_item .post_thumb, aside .post_item .post_thumb{
		width:70px;
		height:70px;
	}
	.sc_price_item_info .sc_price_item_description, .sc_price_item_info .sc_price_item_details{
		padding: 0 25px;
	}
	.sc_googlemap_content_default ul.contact_icon_list li div[class*="icon"]{
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 20px;
		margin-right: 15px;
	}
	.sc_googlemap_content_default ul.contact_icon_list li div h5 {
		font-size: 22px;
		line-height: 25px;
	}
	.post_item_single .post_content > .post_meta_single .post_tags{
		float: none;
		max-width: 100%;
	}
	.post_item_single .post_content > .post_meta_single .post_share{
		float: none;
		max-width:100%;
		margin-top:10px;
	}
	.sc_icons.sc_icons_default .sc_icons_columns_wrap div[class*='trx_addons_column-'] + div[class*='trx_addons_column-']:after{
		transform: scale(0.8);
	}
	.sc_icons.sc_icons_default .sc_icons_item:before {
		width: 230px;
		height: 230px;
	}
	.sc_icons.sc_icons_default .sc_icons_item .sc_icons_item_details{
		padding:0 15px;
	}
	.sc_team_default .sc_team_item_info {
		padding: 1.1429em;
	}
	.post_item_404 .page_title{
		font-size: 12em;
	}
	.page_content_wrap{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.wpgdprc-checkbox label input[type="checkbox"]:before {
		top: 13px;
	}
	.wpgdprc-checkbox label{
		font-size: 0.9em;
	}
}


//@mixin theme--md_over() {
@media #{$media_md_over} {
    /* Theme Common styles */
	.sidebar_small_screen_above .sidebar_inner {
		display: block !important;
	}
}


//@mixin theme--md() {
@media #{$media_md} {
    /* Theme Common styles */

	h1, .front_page_section_caption {
		 @include font(40px, 46px);	margin-top: 30px;	margin-bottom: 16px; }
	h2 { @include font(36px, 38px);	margin-top: 38px;	margin-bottom: 20px; }
	h3 { @include font(30px, 30px);	margin-top: 36px;	margin-bottom: 18px; }
	h4 { @include font(26px, 26px);	margin-top: 30px;	margin-bottom: 16px; }
	h5 { @include font(22px, 22px);	margin-top: 28px; 	margin-bottom: 14px; }
	h6 { @include font(20px, 20px);	margin-top: 24px;	margin-bottom: 10px; }
	.sc_layouts_title_title > .sc_layouts_title_caption { @include font(36px, 38px);}

	/* Columns, push, pull and offset sizes */
	@for $i from 1 through 12 {
		@for $j from $i through 12 {
			$s: 100% / $j * $i;
			@if $j == 1 {
				.column-#{$i}-tablet,
				.column-#{$i}_#{$j}-tablet { width: $s; }
			} @else {
				.column-#{$i}_#{$j}-tablet { width: $s; }
			}
		}
	}
	.row.columns_padding_bottom.columns_in_single_row > [class*="column-"][class*="-tablet"], .columns_wrap.columns_padding_bottom.columns_in_single_row > [class*="column-"][class*="-tablet"],
	.trx_addons_columns_wrap.columns_padding_bottom.columns_in_single_row > [class*="trx_addons_column-"][class*="-tablet"] {
		padding-bottom: $md_grid_gap;
	}

	/* Body sizes */
	.content_wrap,
	.content_container {						width:$md_content !important; }

	.menu_style_side .content_wrap,
	.menu_style_side .content_container {		width: $md_page_menu_side !important; }
	.menu_style_side .menu_side_wrap {			width: $md_menu_side; }
	body.menu_style_left {						margin-left: $md_menu_side; }
	body.menu_style_right {						margin-right: $md_menu_side; }
	.menu_style_left .sc_layouts_row_fixed_on {	margin-left: $md_menu_side !important;}
	.menu_style_right .sc_layouts_row_fixed_on {margin-right: $md_menu_side !important;}

	/* Content and Sidebar */
	//.sidebar_show .content,
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) [class*="content_wrap"] > .content {
												width:100% !important; float: none !important; }
	[class*="content_wrap"] > .sidebar {
												width: 100% !important; float:none !important; margin-top: 4em; }

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide .content_wrap {
		padding-left:30px;
		padding-right:30px;
	}
	.body_style_fullwide.sidebar_right [class*="content_wrap"] > .content,
	.body_style_fullscreen.sidebar_right [class*="content_wrap"] > .content { padding-right: 0 !important; float: none; }
	.body_style_fullwide.sidebar_right [class*="content_wrap"] > .sidebar,
	.body_style_fullscreen.sidebar_right [class*="content_wrap"] > .sidebar { margin-left: 0 !important; float: none; }
	.body_style_fullwide.sidebar_left [class*="content_wrap"] > .content,
	.body_style_fullscreen.sidebar_left [class*="content_wrap"] > .content { padding-left: 0 !important; float: none; }
	.body_style_fullwide.sidebar_left [class*="content_wrap"] > .sidebar,
	.body_style_fullscreen.sidebar_left [class*="content_wrap"] > .sidebar { margin-right: 0 !important; float: none; }

	/* Sidebar above the content */
	.sidebar_small_screen_above .content_wrap {
		@include flex;
		@include flex-direction(column);
	}
	.sidebar_small_screen_above .content_wrap > .widgets_above_page {	order: 10; }
	.sidebar_small_screen_above .content_wrap > .sidebar {			order: 20; margin-top: 0; margin-bottom: 4em; }
	.sidebar_small_screen_above .content_wrap > .content {			order: 30; }
	.sidebar_small_screen_above .content_wrap > widgets_below_page {	order: 40; }

	.sidebar_small_screen_above .sidebar_control {
		display: block;
		@include border-box;
		border: 1px solid #ddd;
		padding: 1em 2em;
		text-align: center;
		position: relative;
		text-transform: uppercase;
		@include font(1.25em, 1.5em);
	}
	.sidebar_small_screen_above .sidebar_control:after {
		content: '\e828';
		font-family: $theme_icons;
		display: inline-block;
		@include square( 2em);
		@include transition-properties(color,background-color,transform);
		@include abs-rt(1em, 0.75em);
	}
	.sidebar_small_screen_above .sidebar.opened .sidebar_control:after {
		@include rotate(180deg);
	}
	.sidebar_small_screen_above .sidebar_control + .sidebar_inner {
		margin-top: 2em;
		display: none;
	}

	/* Sidebar float */
	.sidebar_small_screen_float .page_content_wrap .content_wrap {
		position: static;
	}
	.sidebar_small_screen_float.sidebar_show .sidebar {
		bottom: 0;
		height: 100%;
		width: $sidebar !important;
		@include border-box;
		@include transition-property(transform, 0.5s);
		margin-top: 0 !important;
	}
	.sidebar_small_screen_float.sidebar_left .sidebar {
		@include fixed-lt(0, 0, 100002);
		@include translateX(-100%);
	}
	.sidebar_small_screen_float.sidebar_right .sidebar {
		@include fixed-rt(0, 0, 100002);
		@include translateX(100%);
	}
	.sidebar_small_screen_float.sidebar_show .sidebar.opened {
		@include translateX(0);
	}
	.sidebar_small_screen_float.sidebar_show .sidebar_inner {
		position: relative;
		z-index: 2;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		overflow-x: visible;
	}
	.sidebar_small_screen_float .sidebar_control {
		display: inline-block;
		border-width: 1px;
		border-style: solid;
		text-transform: uppercase;
		@include font(1.25em, 2.95em);
		@include border-box;
		@include box(3em, 3em);
		padding: 0 0.6em;
		@include transition-properties(left, right);
	}
	.sidebar_small_screen_float.sidebar_left .sidebar_control {
		@include abs-rc(-1.5em, 1);
		text-align: right;
	}
	.sidebar_small_screen_float.sidebar_right .sidebar_control {
		@include abs-lc(-1.5em, 1);
		text-align: left;
	}
	.sidebar_small_screen_float .sidebar_control:after {
		content: '\e836';
		font-family: $theme_icons;
		display: inline-block;
		vertical-align: top;
	}
	.sidebar_small_screen_float.sidebar_right .sidebar_control:after {
		content: '\e837';
	}
	.sidebar_small_screen_float .sidebar.opened .sidebar_control:after {
		@include rotate(180deg);
	}
	.sidebar_small_screen_float.sidebar_left.menu_style_left .sidebar_control:hover {
		right: -2em;
	}
	.sidebar_small_screen_float.sidebar_left.menu_style_right .sidebar_control:hover {
		left: -2em;
	}

	/* Widget areas above and below the page */
	.widgets_above_page_wrap, .widgets_above_content_wrap {		margin-bottom: 4em; }
	.widgets_below_page_wrap, .widgets_below_content_wrap {		margin-top: 4em; }

	/* Leave max 5 columns in the gallery */
	.gallery.gallery-columns-9 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 20% !important; }

	/* Header */
	body.no_layout.menu_style_left {	margin-left: 0; }
	body.no_layout.menu_style_right {	margin-right: 0; }
	body.no_layout.menu_style_right .menu_side_wrap {	right: -6rem; }
	body.no_layout.menu_style_left .menu_side_wrap {	left: -6rem; }

	body.no_layout.menu_style_left .sc_layouts_row_fixed_on { padding-left: 0; }
	body.no_layout.menu_style_right .sc_layouts_row_fixed_on {padding-right: 0; }
	
	body.no_layout.menu_style_left .sc_layouts_row_fixed_on { margin-left: 0 !important; }
	body.no_layout.menu_style_right .sc_layouts_row_fixed_on {margin-right: 0 !important; }

	.page_content_wrap {
		padding-top: 4.4445rem;
		padding-bottom: 4.4445rem;
	}

	.top_panel.with_bg_image {
		min-height: 20em;
	}
	
	.thumbnail_type_fullwidth.post_header_position_default .page_content_wrap > .header_content_wrap,
	.post_header_position_on_thumb .page_content_wrap > .header_content_wrap {
		margin-bottom: 3em;
	}
	.post_header_position_on_thumb .header_content_wrap .post_featured + .post_header {
		min-width: 60%;
		max-width: 70%;
	}
	.thumbnail_type_fullwidth .header_content_wrap .post_featured.post_featured_bg {
		height: 30rem;
	}

	/* Slider */
	.top_panel .slider_engine_revo .slide_subtitle {
		margin-bottom: 1em !important;
	}
	.top_panel .slider_engine_revo .slide_button {
		font-size: 12px !important;
	}

	/* Mobile menu */
	.menu_mobile .menu_mobile_nav_area {
		position:relative;
		top: auto;
		margin: 3em 0 0;
		max-height: none;
		padding-right:0;
		overflow-y: visible;
		@include transform-none;
	}
	.menu_mobile .menu_mobile_inner {
		overflow-y: auto;
	}
	.menu_mobile .menu_mobile_nav_area > ul > li > a {
		@include font(1.5em, 1.5em);
	}
	.menu_mobile .menu_mobile_nav_area li li .open_child_menu {
		padding: 0.25em 0.4em;
	}
	.menu_mobile .search_mobile {
		position:relative;
		bottom: auto;
		left: 0;
		margin: 3em auto 0;
	}
	.menu_mobile .socials_mobile  {
		position: relative;
		bottom: auto;
		margin: 1em 0 0;
	}
	.menu_mobile .sc_layouts_logo {
		margin-top: 4em;
	}

	
	/* Tags layouts */
	hr, .vc_separator { 
		margin: 3em 0 !important;
	}

	/* Post layouts */
	.post_item_404:not([class*="post_item_none_"]) .page_title {
		@include font(10em, 1em);
	}

	.posts_container .full_post_content {
		margin-top: 5em;
		padding-top: 5em;
	}
	.posts_container .full_post_content:not(:last-child) {
		margin-bottom: 5em;
		padding-bottom: 5em;
	}

	.format-audio .post_featured.with_thumb .post_audio {
		bottom: 1em;
	}
	
	/* Content area on pages with background */
	.custom-background .content_wrap > .content,
	.page_banner_wrap ~ .content_wrap > .content {
		padding: $md_grid_gap;
	}

	/* Single post navigation fixed with side menu active */
	.menu_style_left .nav-links-single.nav-links-fixed {
		margin-left: $md_menu_side;
	}
	.menu_style_right .nav-links-single.nav-links-fixed {
		margin-right: $md_menu_side;
	}
	
	/* Widgets */
	.sidebar_banner_wrap {
		margin-bottom: $md_grid_gap;
	}
	.sidebar .sidebar_inner {
		padding: $md_grid_gap 0;
		margin: 0 -15px;
	}
	.sidebar[class*="scheme_"] .sidebar_inner {
		padding: $md_grid_gap $md_grid_gap/2;
	}
	.sidebar.sidebar_float[class*="scheme_"] .sidebar_inner {
		padding: $md_grid_gap;
	}
	.sidebar.sidebar_float .widget,
	.sidebar.sidebar_float[class*="scheme_"] .widget {
		padding: 0;
	}
	//div:not(.wpb_content_element) > .widget:not(.column-1_1) {
	.sidebar:not(.sidebar_float) .widget, .sidebar:not(.sidebar_float)[class*="scheme_"] .widget {
		display: inline-block;
		float:none;
		vertical-align:top;
		width:calc(50% - 30px);
		margin: 0 $md_grid_gap/2;
		@include border-box;
	}

	.sidebar:not(.sidebar_float) .widget + .widget, .sidebar:not(.sidebar_float)[class*="scheme_"] .widget + .widget {
		margin-top: 0;
		border-top-width:0;
	}
	.footer_wrap .widget + .widget + .widget,
	.sidebar:not(.sidebar_float) .widget + .widget + .widget,
	.sidebar:not(.sidebar_float)[class*="scheme_"] .widget + .widget + .widget {
		margin-top: $md_grid_gap !important;
		padding-top: $md_grid_gap !important;
		border-top-width:1px;
		border-top-style:solid;
	}
	.widget.column-1_3, .widget.column-1_4, .widget.column-1_5, .widget.column-1_6, .widget.column-1_7, .widget.column-1_8, .widget.column-1_9, .widget.column-1_10, .widget.column-1_11, .widget.column-1_12 {
		width:50%;
	}

	.footer_wrap .sc_content .wpb_column:not(.vc_col-sm-12) {
		width: 50% !important;
		float: none;
		display: inline-block;
		vertical-align:top;
	}
	.footer_wrap .sc_content .wpb_column + .wpb_column + .wpb_column {
		margin-top: $md_grid_gap !important;
		padding-top: $md_grid_gap !important;
		border-top-width:1px;
		border-top-style:solid;
	}
	.header_fullwidth .widget,
	.footer_fullwidth .widget {
		width:100% !important;
		display:block !important;
		margin-left:0 !important;
		margin-bottom:0 !important;
	}
	.sc_skills_counter .sc_skills_total {
		font-size: 2.5rem;
	}
	.sc_price_item_info{
		padding: 0 0 30px 0;
	}
	.sc_price_item_info .sc_price_item_title{
		@include font(24px, 28px);
		padding:30px 10px 30px;
	}
	.sc_price_item_info .sc_price_item_price .sc_price_item_price_value{
		@include font(40px, 1em);
	}
	.sc_price_item_info .sc_price_item_price:before{
		border-width: 0 15px 15px 15px;
		top: -15px;
		left: calc(50% - 15px);
	}
	.sc_price_item_info .sc_price_item_price{
		padding: 30px 10px 3px;
	}
	.sc_price_item_subtitle + .sc_price_item_link, .sc_price_item_title + .sc_price_item_link, .sc_price_item_description + .sc_price_item_link, .sc_price_item_details + .sc_price_item_link{
		margin-top:1.2em;
	}
	.sc_testimonials_item_author_title{
		@include font(22px, 1.2em);
	}
	.sc_testimonials_item_content p{
		@include font(18px, 1.2em);
	}
	.swiper-pagination-custom .swiper-pagination-button{
		width:90px;
		height:90px;
	}
	.slider_outer.slider_outer_pagination_pos_bottom.slider_outer_pagination_custom, .slider_outer.slider_outer_pagination_pos_bottom_outside.slider_outer_pagination_custom {
		padding-bottom: 9.8em;
		padding-top: 0;
	}
	.sc_item_slider.slider_outer_pagination_pos_bottom .swiper-pagination {
		bottom: 7.5em;
	}
	.sc_action_item_default .sc_action_item_title {
		font-size: 3.5556em;
	}
	.sc_googlemap_content_default {
		left: 7%;
		right: 7%;
		top: auto;
		bottom: 7%;
		width: auto;
		max-height: 33%;
		padding: 1em;
	}
	.sc_googlemap_content_default ul.contact_icon_list{
		flex-direction: row;
		display: flex;
		li{
			flex:1 1 33.3%;
			border:none;
			padding: 15px;
			flex-direction: column;
			text-align: center;
			div[class*="icon"]{
				margin-bottom:15px;
			}
			&+li{
				border:none;
			}
		}
	}
	.sc_icons.sc_icons_default .sc_icons_columns_wrap div[class*='trx_addons_column-']{
		width:50%;
		padding-bottom:35px;
	}
	.sc_icons.sc_icons_default .sc_icons_columns_wrap div[class*='trx_addons_column-'] + div[class*='trx_addons_column-']:after{
		display: none;

	}
	.sc_icons.sc_icons_default .sc_icons_item:before {
		width: 300px;
		height: 300px;
	}
	.sc_icons.sc_icons_default .sc_icons_item .sc_icons_item_details {
		padding: 0 50px;
	}
	.sc_icons_extra .sc_icons_item_title{
		padding: 0 5px;
		font-size: 20px;
	}
	.sc_icons_extra .sc_icons_columns_wrap div[class*='trx_addons_column-'] .sc_icons_item .number_list{
		margin-bottom: 25px;
	}
	.sc_team_default .sc_team_item_info{
		flex-direction: column;
	}
	.sc_team_default .sc_team_item_info .sc_team_item_header{
		text-align: center;
		margin-bottom:10px;
	}
	.elementor-toggle .elementor-tab-title{
		font-size: 20px;
		line-height: 24px;
	}
	.sc_button.sc_button_default.sc_button_with_icon {
		padding: 14px 17px;
	}
	.strong-view.default .testimonial-inner{
		padding: 30px 15px;
	}
	.strong-view.default .testimonial-content p, .strong-view.simple .testimonial-inner .testimonial-content p {
		font-size: 16px;
		line-height: 22px;
		font-weight: 600;
	}
	.strong-view.default .testimonial-client .testimonial-name, .strong-view.simple .testimonial-inner .testimonial-client .testimonial-name {
		font-size: 22px;
	}
	.strong-view.default .testimonial-client, .strong-view.simple .testimonial-inner .testimonial-client {
		margin-top: 1.2em;
	}
	div .car-rental-booking-details .form-row:nth-child(2n+1){
		padding-right: 15px;
	}
	div .car-rental-booking-details .form-row{
		padding-left: 15px;
	}
	.strong-view.default .testimonial-name{
		font-size: 24px;
	}
}

//@mixin theme--sm() {
@media #{$media_sm} {
    /* Theme Common styles */


	h1, .front_page_section_caption {
		@include font(36px, 38px);	margin-top: 30px;	margin-bottom: 16px; }
	h2{ @include font(32px, 38px);	margin-top: 38px;	margin-bottom: 20px; }
	h3 { @include font(28px, 30px);	margin-top: 36px;	margin-bottom: 18px; }
	h4 { @include font(26px, 28px);	margin-top: 30px;	margin-bottom: 16px; }
	h5 { @include font(22px, 24px);	margin-top: 28px; 	margin-bottom: 14px; }
	h6 { @include font(18px, 20px);	margin-top: 24px;	margin-bottom: 10px; }

	.sc_layouts_title_title > .sc_layouts_title_caption { @include font(32px, 38px);}

	/* Body sizes */
	.content_wrap,
	.content_container {	width: $sm_content !important; }
	
	.menu_style_side .content_wrap,
	.menu_style_side .content_container {					width: $sm_content !important; }
	.menu_style_side .menu_side_wrap {						width: $sm_menu_side !important; }
	body.mobile_layout.menu_style_left .menu_side_wrap {	left: -$sm_menu_side; }
	body.mobile_layout.menu_style_right .menu_side_wrap {	right: -$sm_menu_side; }
	.menu_style_left .sc_layouts_row_fixed_on {				margin-left: 0 !important;}
	.menu_style_right .sc_layouts_row_fixed_on {			margin-right: 0 !important;}
	body.menu_style_left {									margin-left: 0 !important; }
	body.menu_style_right {									margin-right: 0 !important; }

	/* Content and Sidebar */
	//.sidebar_show .content,
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) [class*="content_wrap"] > .content { margin-bottom:0;	}
	[class*="content_wrap"] > .sidebar { margin-top:3em; }

	.sidebar_small_screen_above .content_wrap > .sidebar { margin-bottom: 3em; }

	.sidebar_small_screen_float.sidebar_show .sidebar { width: 300px !important; }

	.widgets_above_page_wrap, .widgets_above_content_wrap {		margin-bottom: 3em; }
	.widgets_below_page_wrap, .widgets_below_content_wrap {		margin-top: 3em; }

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide .content_wrap {
		padding-left:20px;
		padding-right:20px;
	}

	/* Sidemenu and sidebar together */
	.menu_style_left.sidebar_left.sidebar_small_screen_float .sidebar_control,
	.menu_style_right.sidebar_right.sidebar_small_screen_float .sidebar_control {
		margin-top: 3.3em;
	}

	/* Grid */
	.container, .container-fluid,
	.trx_addons_container, .trx_addons_container-fluid {
		padding-left:  $sm_grid_gap / 2;
		padding-right: $sm_grid_gap / 2;
	}
	.row,
	.columns_wrap,
	.trx_addons_columns_wrap {
		margin-right: -$sm_grid_gap;
	}
	.row > [class*="column-"],
	.columns_wrap > [class*="column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
		padding-right: $sm_grid_gap;
	}
	.vc_row.columns_padding_left,
	.trx_addons_columns_wrap.columns_padding_left,
	.row.columns_padding_left,
	.columns_wrap.columns_padding_left {
		margin-left: -$sm_grid_gap;
	}
	.vc_row.columns_padding_left .vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_left > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_left,
	.row.columns_padding_left > [class*="column-"], .columns_wrap.columns_padding_left > [class*="column-"],
	.row > [class*="column-"].columns_padding_left, .columns_wrap > [class*="column-"].columns_padding_left {
		padding-left: $sm_grid_gap;
	}
	.vc_row.columns_padding_right,
	.trx_addons_columns_wrap.columns_padding_right,
	.row.columns_padding_right,
	.columns_wrap.columns_padding_right {
		margin-right: -$sm_grid_gap;
	}
	.vc_row.columns_padding_right .vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_right > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_right,
	.row.columns_padding_right > [class*="column-"], .columns_wrap.columns_padding_right > [class*="column-"],
	.row > [class*="column-"].columns_padding_right, .columns_wrap > [class*="column-"].columns_padding_right {
		padding-right:$sm_grid_gap;
	}
	.vc_row,
	.trx_addons_columns_wrap.columns_padding_center,
	.row.columns_padding_center,
	.columns_wrap.columns_padding_center {
		margin-left: -$sm_grid_gap / 2;
		margin-right: -$sm_grid_gap / 2;
	}
	.vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_center > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_center,
	.row.columns_padding_center > [class*="column-"], .columns_wrap.columns_padding_center > [class*="column-"],
	.row > [class*="column-"].columns_padding_center, .columns_wrap > [class*="column-"].columns_padding_center {
		padding-left: $sm_grid_gap / 2;
		padding-right: $sm_grid_gap / 2;
	}
	.row.columns_padding_bottom > [class*="column-"], .columns_wrap.columns_padding_bottom > [class*="column-"],
	.row > [class*="column-"].columns_padding_bottom, .columns_wrap > [class*="column-"].columns_padding_bottom,
	.trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom {
		padding-bottom: $sm_grid_gap;
	}
	.row.columns_padding_bottom.columns_in_single_row > [class*="column-"], .columns_wrap.columns_padding_bottom.columns_in_single_row > [class*="column-"],
	.trx_addons_columns_wrap.columns_padding_bottom.columns_in_single_row > [class*="trx_addons_column-"] {
		padding-bottom: 30px;
	}
	.row.columns_padding_bottom.columns_in_single_row > [class*="column-"]:last-child, .columns_wrap.columns_padding_bottom.columns_in_single_row > [class*="column-"]:last-child,
	.trx_addons_columns_wrap.columns_padding_bottom.columns_in_single_row > [class*="trx_addons_column-"]:last-child {
		padding-bottom: 0;
	}
	.row:not(.columns_padding_bottom):not(.columns_fluid) > [class*="column-"]:nth-child(2n+3),
	.columns_wrap:not(.columns_padding_bottom):not(.columns_fluid) > [class*="column-"]:nth-child(2n+3),
	.row:not(.columns_padding_bottom):not(.columns_fluid) > [class*="column-"]:nth-child(2n+4),
	.columns_wrap:not(.columns_padding_bottom):not(.columns_fluid) > [class*="column-"]:nth-child(2n+4),
	.trx_addons_columns_wrap:not(.columns_padding_bottom):not(.columns_fluid) > [class*="trx_addons_column-"]:nth-child(2n+3),
	.trx_addons_columns_wrap:not(.columns_padding_bottom):not(.columns_fluid) > [class*="trx_addons_column-"]:nth-child(2n+4) {
		padding-top: $sm_grid_gap;
	}

	/* Max column's width in the row */
	.row:not(.columns_fluid) > [class*="column-"],
	.columns_wrap:not(.columns_fluid) > [class*="column-"],
	.trx_addons_columns_wrap:not(.columns_fluid) > [class*="trx_addons_column-"] {
		width:100% / $sm_grid_max_columns;
	}
	.row:not(.columns_fluid) > .column-1_1, .row:not(.columns_fluid) > .column-2_2, .row:not(.columns_fluid) > .column-3_3, .row:not(.columns_fluid) > .column-4_4,
	.row:not(.columns_fluid) > .column-5_5,	.row:not(.columns_fluid) > .column-6_6, .row:not(.columns_fluid) > .column-7_7, .row:not(.columns_fluid) > .column-8_8,
	.row:not(.columns_fluid) > .column-9_9, .row:not(.columns_fluid) > .column-10_10,
	.row:not(.columns_fluid) > .column-11_11, .row:not(.columns_fluid) > .column-12_12,
	.columns_wrap:not(.columns_fluid) > .column-1_1, .columns_wrap:not(.columns_fluid) > .column-2_2, .columns_wrap:not(.columns_fluid) > .column-3_3,
	.columns_wrap:not(.columns_fluid) > .column-4_4, .columns_wrap:not(.columns_fluid) > .column-5_5, .columns_wrap:not(.columns_fluid) > .column-6_6,
	.columns_wrap:not(.columns_fluid) > .column-7_7, .columns_wrap:not(.columns_fluid) > .column-8_8, .columns_wrap:not(.columns_fluid) > .column-9_9,
	.columns_wrap:not(.columns_fluid) > .column-10_10, .columns_wrap:not(.columns_fluid) > .column-11_11, .columns_wrap:not(.columns_fluid) > .column-12_12,
/* Uncomments next selector if you want to stretch each 3-th column to 100% */
/*
	.row:not(.columns_fluid) > .column-1_3:nth-child(3n), .columns_wrap:not(.columns_fluid) > .column-1_3:nth-child(3n),
*/
	.row:not(.columns_fluid) > .column-2_3, .columns_wrap:not(.columns_fluid) > .column-2_3,
	.row:not(.columns_fluid) > .column-1_3.after_span_2, .columns_wrap:not(.columns_fluid) > .column-1_3.after_span_2,
	.row:not(.columns_fluid) > .column-2_4, .columns_wrap:not(.columns_fluid) > .column-3_4,
	.row:not(.columns_fluid) > .column-1_4.after_span_2, .columns_wrap:not(.columns_fluid) > .column-1_4.after_span_3,
/* Uncomments next selector if you want to stretch each 5-th column to 100% */
/*
	.row:not(.columns_fluid) > .column-1_5:nth-child(5n), .columns_wrap:not(.columns_fluid) > .column-1_5:nth-child(5n),
*/
	.row:not(.columns_fluid) > .column-2_5, .columns_wrap:not(.columns_fluid) > .column-2_5,
	.row:not(.columns_fluid) > .column-3_5, .columns_wrap:not(.columns_fluid) > .column-3_5,
	.row:not(.columns_fluid) > .column-4_5, .columns_wrap:not(.columns_fluid) > .column-4_5,
	.row:not(.columns_fluid) > .column-2_6, .columns_wrap:not(.columns_fluid) > .column-2_6,
	.row:not(.columns_fluid) > .column-3_6, .columns_wrap:not(.columns_fluid) > .column-3_6,
	.row:not(.columns_fluid) > .column-4_6, .columns_wrap:not(.columns_fluid) > .column-4_6,
	.row:not(.columns_fluid) > .column-5_6, .columns_wrap:not(.columns_fluid) > .column-5_6,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-1_1, .trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-2_2,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-3_3, .trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-4_4,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-5_5, .trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-6_6,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-7_7, .trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-8_8,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-9_9, .trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-10_10,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-11_11,.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-12_12,
/* Uncomments next selector if you want to stretch each 3-th column to 100% */
/*
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-1_3:nth-child(3n),
*/
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-2_3,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-1_3.after_span_2,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-3_4,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-1_4.after_span_3,
/* Uncomments next selector if you want to stretch each 5-th column to 100% */
/*
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-1_5:nth-child(5n),
*/
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-2_5,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-3_5,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-4_5,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-2_6,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-3_6,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-4_6,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-5_6 {
		width:100%;
	}

	/* Columns, push, pull and offset sizes */
	@for $i from 1 through 12 {
		@for $j from $i through 12 {
			$s: 100% / $j * $i;
			@if $j == 1 {
				.row:not(.columns_fluid) > .column-#{$i}-mobile, .columns_wrap:not(.columns_fluid) > .column-#{$i}-mobile,
				.row:not(.columns_fluid) > .column-#{$i}_#{$j}-mobile, .columns_wrap:not(.columns_fluid) > .column-#{$i}_#{$j}-mobile,
				.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-#{$i}-mobile,
				.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-#{$i}_#{$j}-mobile {
					width: $s;
				}
			} @else {
				.row:not(.columns_fluid) > .column-#{$i}_#{$j}-mobile, .columns_wrap:not(.columns_fluid) > .column-#{$i}_#{$j}-mobile,
				.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-#{$i}-mobile,
				.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-#{$i}_#{$j}-mobile {
					width: $s;
				}
			}
		}
	}
	
	/* WP Gallery Grid */
	.gallery.gallery-columns-9 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-5 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-4 .gallery-item {	width: 33.3333% !important; }
	
	img.alignleft, img.alignright,
	figure.alignleft, figure.alignright {
		float:none !important;
		display: block !important;
		margin: 1em auto !important;
	}

	/* Vertical menus */
	.sc_layouts_menu_dir_vertical .sc_layouts_menu_nav li.menu-item-has-children > a > .open_child_menu {
		display: block;
	}
	
	/* Header */
	.menu_side_icons .toc_menu_item .toc_menu_icon:before {			font-size: 1.5em; }
	.menu_side_icons .toc_menu_item .toc_menu_description span {	letter-spacing:1px;	padding:0 1.5em; }

	.page_content_wrap {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.thumbnail_type_fullwidth .header_content_wrap .post_featured.post_featured_bg {
		height: 25rem;
	}

	/* Search */
	.search_style_fullscreen.search_opened .search_form {
		width: 75%;
	}
	.search_style_fullscreen.search_opened .search_submit,
	.search_style_fullscreen.search_opened .search_field,
	.search_style_fullscreen.search_opened .search_close {
		font-size: 1.5em !important;
		height: 2.5em;
		line-height:2.5em;
	}
	.search_style_fullscreen.search_opened .search_field {
		padding-right: 1.25em !important;
	}
	.search_style_fullscreen.search_opened .search_close {
		top: 50%;
		@include translateY(-50%);
	}
	
	/* Slider */
	.top_panel .slider_engine_revo .slide_subtitle {
		font-size: 14px !important;
	}
	.top_panel .slider_engine_revo .slide_button {
		font-size: 11px !important;
	}
	
	/* Content area on pages with background */
	.custom-background .content_wrap > .content,
	.page_banner_wrap ~ .content_wrap > .content {
		padding: $sm_grid_gap;
	}

	/* Widgets */
	.sidebar_banner_wrap {
		margin-bottom: $sm_grid_gap;
	}
	.sidebar .sidebar_inner {
		padding: $sm_grid_gap 0;
		margin:0;
	}
	.sidebar[class*="scheme_"] .sidebar_inner {
		padding: $sm_grid_gap $sm_grid_gap/2;
	}
	.sidebar.sidebar_float[class*="scheme_"] .sidebar_inner {
		padding: $sm_grid_gap;
	}
	.sidebar:not(.sidebar_float) .widget,
	.sidebar:not(.sidebar_float)[class*="scheme_"] .widget {
		width:100%;
		margin:0;
	}
	.sidebar:not(.sidebar_float) .widget + .widget,
	.sidebar:not(.sidebar_float)[class*="scheme_"] .widget + .widget{
		margin-top: $sm_grid_gap !important;
	}

	.footer_wrap .widget + .widget + .widget,
	.sidebar:not(.sidebar_float) .widget + .widget + .widget, .sidebar:not(.sidebar_float)[class*="scheme_"] .widget + .widget + .widget {
		margin-top: $sm_grid_gap !important;
		padding-top: $sm_grid_gap !important;
	}
	.widget.column-1_3, .widget.column-1_4, .widget.column-1_5, .widget.column-1_6, .widget.column-1_7, .widget.column-1_8, .widget.column-1_9, .widget.column-1_10, .widget.column-1_11, .widget.column-1_12 {
		width:50%;
	}
	.footer_wrap .sc_content .wpb_column + .wpb_column + .wpb_column {
		margin-top: $sm_grid_gap !important;
		padding-top: $sm_grid_gap !important;
	}
	.widget .widget_title, .widget .widgettitle{
		@include font(22px, 26px);
	}
	.widget_categories li a{
		@include font(18px,20px);
	}
	.widget_categories li{
		padding: 8px 0;
	}
	.widget_area .post_item .post_title, aside .post_item .post_title,
	.widget_recent_comments ul li a:not(.comment-author-link){
		@include font(18px,20px);
	}
	/* Tabs */
	.tantum_tabs .tantum_tabs_titles {
		margin: 0 0 2em;
	}

	/* Post layouts */
	.post_item_404 .page_title {
		@include font(12em, 1em);
		float: none;
		width:100%;
		text-align:center;
	}
	.post_item_none_search .page_title,
	.post_item_none_archive .page_title {
		font-size:6em;
	}
	.post_item_404 .page_info {
		padding-left: 0;
		padding-top: 2em;
		width:100%;
		text-align:center;
	}
	.post_item_404 .page_description {
		line-height:1.7em;
	}
	.post_item_404 .go_home {
		padding: 1em 2em;
	}

	blockquote > a, blockquote > p > a, blockquote > cite, blockquote > p > cite {
		margin-top: 1.5em;
	}

	.posts_container .full_post_content {
		margin-top: 4em;
		padding-top: 4em;
	}
	.posts_container .full_post_content:not(:last-child) {
		margin-bottom: 4em;
		padding-bottom: 4em;
	}
	
	/* Single post */
	.blog_mode_post blockquote, .blog_mode_page blockquote {
		margin-left: 0;
	}
	.post_item_single .post_content > .post_meta_single .post_tags,
	.post_item_single .post_content > .post_meta_single .post_share {
		max-width:none;
		float:none;
		margin-top: 0;
	}
	.post_item_single .post_content > .post_meta_single .post_share {
		margin-top:10px;
	}
	.post_item_single .post_content > .post_meta_single .post_share .social_item:first-child {
		margin-left: 0;
	}
	
	.nav-links-single .nav-links .nav-next a,
	.nav-links-single .nav-links .nav-previous a {
		padding: 0;
	}
	.nav-links-single .nav-links a .nav-arrow {
		position:static;
		left: auto;
		top: auto;
		right: auto;
		display: inline-block;
		margin-bottom: 1em;
	}
	
	.nav-links-single .nav-links,
	.nav-links-single.nav-links-fixed .nav-links,
	.related_wrap,
	.comments_list_wrap,
	.comments_form_wrap {
		margin-top: 3em;
		padding-top: 3em;
	}
	.comments_wrap .form-submit {
		margin-top: 2em;
	}
	
	.related_wrap .related_item_style_1 .post_title {
		letter-spacing: 0;
		margin: 0;
	}

	/* Single post navigation fixed with side menu active */
	.menu_style_left .nav-links-single.nav-links-fixed {
		margin-left: $sm_menu_side;
	}
	.menu_style_right .nav-links-single.nav-links-fixed {
		margin-right: $sm_menu_side;
	}

	/* Other minor plugins */
	.mfp-inline-holder .mfp-content,
	.mfp-ajax-holder .mfp-content {
		max-width: 100%;
		max-height: 100%;
	}
	.mfp-arrow-left {
		margin-top:-41px;
	}

	.wpcf7 .elementor-column-gap-extended > .elementor-row > .elementor-column > .elementor-element-populated{
		padding: 7px;
	}
	.wpcf7 .elementor-column-gap-extended {
		margin: 0 -7px;
	}
	.sc_googlemap_content_default{
		display: none;
	}
	.comments_list_wrap ul ul{
		margin-left: 3em;
	}
	.comments_list_wrap li + li, .comments_list_wrap li ul {
		margin-top: 2.8em;
	}
	.related_wrap.related_style_wide .post_title{
		font-size: 20px;
		line-height: 24px;
	}
	.sc_promo.sc_promo_size_normal .sc_promo_text_inner{
		padding-left:0;
	}
	.sc_promo.sc_promo_default .sc_item_title:after{
		margin-top:15px;
	}
	.sc_icons.sc_icons_default .sc_icons_columns_wrap div[class*='trx_addons_column-']{
		width:100%;
	}

	.sc_icons.sc_icons_default .sc_icons_item:before {
		width: 270px;
		height: 270px;
	}
	.sc_icons.sc_icons_default .sc_icons_item .sc_icons_item_details {
		padding: 0 120px;
	}
	.sc_icons.sc_icons_default .sc_icons_columns_wrap div[class*='trx_addons_column-']:before{
		left: 110px;
	}
	.sc_icons_extra .sc_icons_columns_wrap div[class*='trx_addons_column-'] .sc_icons_item .number_list {
		margin-bottom: 10px;
	}
	.sc_action_item_default .sc_action_item_title {
		font-size: 3em;
		letter-spacing: -1px;
	}
	.sc_action_item_description br{
		display: none;
	}
	.strong-masonry.columns-3 .testimonial, .strong-masonry.columns-3 .grid-sizer, .strong-content.strong-grid.columns-3 .testimonial {
		width: 100%;
	}
	.form-field.field-client_name, .form-field.field-age {
		float: none;
		width: 100%;
	}
	.strong-form-inner {
		padding: 8px;
	}
	.sc_icons.sc_icons_default .sc_icons_columns_wrap div[class*='trx_addons_column-'] .sc_icons_item:after{
		left: 112px;
	}
	.sc_icons.sc_icons_default .sc_icons_item {
		position: relative;
		padding: 60px 0;
	}
	.sc_icons.sc_icons_default .sc_icons_columns_wrap div[class*='trx_addons_column-']{
		padding-bottom:30px;
	}
	.elementor-section.sc_extra_bg_medium, .elementor-column.sc_extra_bg_medium > .elementor-column-wrap, .elementor-widget-text-editor.sc_extra_bg_medium{
		padding: 3em  0!important;
	}
	div .car-rental-booking-details .form-row{
		width:100%;
		padding:0 !important;
	}
	.single.single-car_rental_item div .car-rental-booking-details .form-row{
		width: 100%!important;
	}
	.sc_item_title_text{
		br{
			display: none;
		}
	}
	.post_layout_chess  .post_meta,
	.post_layout_chess .more-link{
		display: none;
	}
	.post_layout_chess_1 .post_title, .post_layout_chess_3 .post_title {
		line-height: 24px;
	}
	.related_wrap.related_style_wide .post_header{
		max-width: calc(100% - 145px);
	}
	.buttons .back-button{
		margin: 10px auto 0;
		display: block;
	}
	.strong-view.default .testimonial-name{
		font-size: 22px;
	}
}

//@mixin theme--xs() {
@media #{$media_xs} {
    /* Theme Common styles */

	html { font-size: 16px; line-height: 153.84615%; }
	ol, ul{
		font-size: 16px;
	}
	h1, h2, h3, h4, h5, h6 {
		hyphens: auto;
	}

	h1, .front_page_section_caption {
		 @include font(30px, 36px);	margin-top: 32px;	margin-bottom: 20px; }
	h2 { @include font(28px, 32px);	margin-top: 30px;	margin-bottom: 18px; }
	h3 { @include font(26px, 30px);	margin-top: 28px;	margin-bottom: 16px; }
	h4 { @include font(22px, 26px);	margin-top: 24px;	margin-bottom: 14px; }
	h5 { @include font(20px, 22px);	margin-top: 22px; 	margin-bottom: 10px; }
	h6 { @include font(18px, 20px);	margin-top: 20px;	margin-bottom: 8px; }

	.sc_layouts_title_title > .sc_layouts_title_caption { @include font(28px, 32px);}

	.widget .widgettitle {
		@include font(18px, 20px);
	}

	figure figcaption {
		font-size: 12px;
	}
	
	/* Body sizes */
	.content_wrap, .content_container {	width: $xs_content !important; }

	/* Content and Sidebar */
	//.sidebar_show .content,
	[class*="content_wrap"] > .sidebar { margin-top: 3.5em; }

	.sidebar_small_screen_above .content_wrap > .sidebar { margin-bottom: 3.5em; }

	.sidebar_small_screen_float.sidebar_show .sidebar { width: 270px !important; }

	.widgets_above_page_wrap, .widgets_above_content_wrap {		margin-bottom: 3.5em; }
	.widgets_below_page_wrap, .widgets_below_content_wrap {		margin-top: 3.5em; }

	.menu_style_side .content_wrap,
	.menu_style_side .content_container {					width: $xs_content !important; }
	.menu_style_side .menu_side_wrap {						width: $xs_menu_side !important; }
	body.mobile_layout.menu_style_left .menu_side_wrap {	left: -$xs_menu_side; }
	body.mobile_layout.menu_style_right .menu_side_wrap {	right: -$xs_menu_side; }
	
	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide .content_wrap {
		padding-left:20px;
		padding-right:20px;
	}

	/* Grid */
	.container, .container-fluid,
	.trx_addons_container, .trx_addons_container-fluid {
		padding-left:  $xs_grid_gap / 2;
		padding-right: $xs_grid_gap / 2;
	}
	.row,
	.columns_wrap,
	.trx_addons_columns_wrap {
		margin-right: -$xs_grid_gap;
	}
	.row > [class*="column-"],
	.columns_wrap > [class*="column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
		padding-right: $xs_grid_gap;
	}
	
	.vc_row.columns_padding_left,
	.trx_addons_columns_wrap.columns_padding_left,
	.row.columns_padding_left,
	.columns_wrap.columns_padding_left {
		margin-left: -$xs_grid_gap;
	}
	.vc_row.columns_padding_left .vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_left > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_left,
	.row.columns_padding_left > [class*="column-"], .columns_wrap.columns_padding_left > [class*="column-"],
	.row > [class*="column-"].columns_padding_left, .columns_wrap > [class*="column-"].columns_padding_left {
		padding-left: $xs_grid_gap;
	}
	.vc_row.columns_padding_right,
	.trx_addons_columns_wrap.columns_padding_right,
	.row.columns_padding_right,
	.columns_wrap.columns_padding_right {
		margin-right: -$xs_grid_gap;
	}
	.vc_row.columns_padding_right .vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_right > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_right,
	.row.columns_padding_right > [class*="column-"], .columns_wrap.columns_padding_right > [class*="column-"],
	.row > [class*="column-"].columns_padding_right, .columns_wrap > [class*="column-"].columns_padding_right {
		padding-right:$xs_grid_gap;
	}
	.vc_row,
	.trx_addons_columns_wrap.columns_padding_center,
	.row.columns_padding_center,
	.columns_wrap.columns_padding_center {
		margin-left: -$xs_grid_gap / 2;
		margin-right: -$xs_grid_gap / 2;
	}
	.vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_center > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_center,
	.row.columns_padding_center > [class*="column-"], .columns_wrap.columns_padding_center > [class*="column-"],
	.row > [class*="column-"].columns_padding_center, .columns_wrap > [class*="column-"].columns_padding_center {
		padding-left: $xs_grid_gap / 2;
		padding-right: $xs_grid_gap / 2;
	}
	.row.columns_padding_bottom > [class*="column-"], .columns_wrap.columns_padding_bottom > [class*="column-"],
	.row > [class*="column-"].columns_padding_bottom, .columns_wrap > [class*="column-"].columns_padding_bottom,
	.trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom {
		padding-bottom: $xs_grid_gap;
	}
	.row.columns_padding_bottom.columns_in_single_row > [class*="column-"], .columns_wrap.columns_padding_bottom.columns_in_single_row > [class*="column-"],
	.trx_addons_columns_wrap.columns_padding_bottom.columns_in_single_row > [class*="trx_addons_column-"] {
		padding-bottom:30px;
	}

	/* Max column's width in the not-fluid rows */
	.row:not(.columns_fluid) > [class*="column-"],
	.columns_wrap:not(.columns_fluid) > [class*="column-"],
	.trx_addons_columns_wrap:not(.columns_fluid) > [class*="trx_addons_column-"] {
		width:100% / $xs_grid_max_columns;
	}
	
	/* Max column's width in the fluid rows */
	.row.columns_fluid > [class*="column-"],
	.columns_wrap.columns_fluid > [class*="column-"],
	.trx_addons_columns_wrap.columns_fluid > [class*="trx_addons_column-"] {
		width:50%;
	}
	.row.columns_fluid > .column-1_1, .columns_wrap.columns_fluid > .column-1_1,
	.row.columns_fluid > .column-2_2, .columns_wrap.columns_fluid > .column-2_2,
	.row.columns_fluid > .column-3_3, .columns_wrap.columns_fluid > .column-3_3,
	.row.columns_fluid > .column-4_4, .columns_wrap.columns_fluid > .column-4_4,
	.row.columns_fluid > .column-5_5, .columns_wrap.columns_fluid > .column-5_5,
	.row.columns_fluid > .column-6_6, .columns_wrap.columns_fluid > .column-6_6,
	.row.columns_fluid > .column-7_7, .columns_wrap.columns_fluid > .column-7_7,
	.row.columns_fluid > .column-8_8, .columns_wrap.columns_fluid > .column-8_8,
	.row.columns_fluid > .column-9_9, .columns_wrap.columns_fluid > .column-9_9,
	.row.columns_fluid > .column-10_10, .columns_wrap.columns_fluid > .column-10_10,
	.row.columns_fluid > .column-11_11, .columns_wrap.columns_fluid > .column-11_11,
	.row.columns_fluid > .column-12_12, .columns_wrap.columns_fluid > .column-12_12 {
		width:100%;
	}

	/* Columns, push, pull and offset sizes */
	@for $i from 1 through 12 {
		@for $j from $i through 12 {
			$s: 100% / $j * $i;
			@if $j == 1 {
				.row:not(.columns_fluid) > .column-#{$i}-mobile, .columns_wrap:not(.columns_fluid) > .column-#{$i}-mobile,
				.row:not(.columns_fluid) > .column-#{$i}_#{$j}-mobile, .columns_wrap:not(.columns_fluid) > .column-#{$i}_#{$j}-mobile,
				.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-#{$i}-mobile,
				.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-#{$i}_#{$j}-mobile {
					width: $s;
				}
			} @else {
				.row:not(.columns_fluid) > .column-#{$i}_#{$j}-mobile, .columns_wrap:not(.columns_fluid) > .column-#{$i}_#{$j}-mobile,
				.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-#{$i}-mobile,
				.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-#{$i}_#{$j}-mobile {
					width: $s;
				}
			}
		}
	}


	/* WP Gallery Grid */
	.gallery.gallery-columns-9 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-5 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-4 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-3 .gallery-item {	width: 50% !important; }
	
	
	/* Header */
	.top_panel_mobile {
		display:block;
	}
	body.header_mobile_enabled .top_panel {
		display:none;
	}
	.menu_side_wrap .sc_layouts_logo {
		padding:40% 8%;
	}
	.menu_side_icons .toc_menu_item .toc_menu_icon,
	.menu_side_icons .toc_menu_item .toc_menu_description:before {
		height: 5.5rem;
	}
	.menu_side_icons .toc_menu_item .toc_menu_description span {
		letter-spacing:0;
	}

	.mobile_device .menu_mobile .sc_layouts_logo img,
	.mobile_layout .menu_mobile .sc_layouts_logo img {
		max-height: 40px;
	}
	.mobile_device .menu_mobile .menu_mobile_nav_area,
	.mobile_layout .menu_mobile .menu_mobile_nav_area {
		margin-top: 2em;
	}
	.mobile_device .menu_mobile .search_mobile,
	.mobile_layout .menu_mobile .search_mobile {
		margin-top: 2em;
		width: 280px;
	}
	.menu_mobile .menu_mobile_nav_area > ul > li > a {
		@include font(18px, 1.5em);
	}
	.menu_mobile .menu_mobile_nav_area li > a {
		@include font(14px, 1.5em);
		width: 280px;
	}
	.menu_mobile .menu_mobile_nav_area ul.sc_layouts_submenu {
		width: 250px;
	}
	.menu_mobile .menu_mobile_nav_area li li .open_child_menu {
		padding: 0.3em 0.5em;
	}	
	.top_panel.with_bg_image {
		min-height:18em;
	}
	.thumbnail_type_fullwidth.post_header_position_default .page_content_wrap > .header_content_wrap,
	.post_header_position_on_thumb .page_content_wrap > .header_content_wrap,
	.header_content_wrap {
		margin-bottom: 2em;
	}
	.post_header_position_on_thumb .header_content_wrap .post_featured {
		margin: 0 !important;
	}
	.post_header_position_on_thumb .header_content_wrap .post_featured + .post_header {
		position: static !important;
		text-align: left !important;
		@include transform(none !important);
		min-width: 0;
		max-width: none;
	}
	.post_header_position_on_thumb:not(.custom-background) .header_content_wrap .post_featured + .post_header {
		margin-top: 2em;
		padding: 0;
		background-color: transparent;
		border: none !important;
	}
	.thumbnail_type_fullwidth.post_header_position_on_thumb:not(.custom-background) .header_content_wrap .post_featured + .post_header {
		padding: 0 1.5em;
	}
	.thumbnail_type_fullwidth .header_content_wrap .post_featured.post_featured_bg {
		height: 20rem;
	}

	/* Slider */
	.top_panel .slider_engine_revo .slide_subtitle {
		font-size: 13px !important;
	}
	.top_panel .slider_engine_revo .slide_button {
		font-size: 9px !important;
	}
	
	/* Content area on pages with background */
	.custom-background .content_wrap > .content,
	.page_banner_wrap ~ .content_wrap > .content {
		padding: $xs_grid_gap;
	}

	/* Widgets */
	.sidebar_banner_wrap {
		margin-bottom: $xs_grid_gap;
	}
	.sidebar .widget, .sidebar[class*="scheme_"] .widget {
		width:100% !important;
	}
	.footer_wrap .widget + .widget,
	.sidebar .widget + .widget, .sidebar[class*="scheme_"] .widget + .widget {
		margin-top: $xs_grid_gap !important;
		padding-top: $xs_grid_gap !important;
		border-top-width:1px;
		border-top-style:solid;
	}
	.widget.column-1_2, .widget.column-1_3, .widget.column-1_4, .widget.column-1_5, .widget.column-1_6, .widget.column-1_7, .widget.column-1_8, .widget.column-1_9, .widget.column-1_10, .widget.column-1_11, .widget.column-1_12 {
		width:100%;
	}
	.footer_wrap .sc_content .wpb_column,
	.footer_wrap .sc_content .wpb_column:not(.vc_col-sm-12) {
		display: block;
		float:none;
		vertical-align:top;
		width: 100% !important;
	}
	.footer_wrap .sc_content .wpb_column + .wpb_column {
		margin-top: $xs_grid_gap !important;
		padding-top: $xs_grid_gap !important;
		border-top-width:1px;
		 border-top-style:solid;
	}

	/* Tags layouts */
	blockquote,
	blockquote[class*="wp-block-quote"][class*="is-style-"],
	blockquote[class*="wp-block-quote"][class*="is-"],
	.wp-block-quote:not(.is-large):not(.is-style-large),
	.wp-block-freeform.block-library-rich-text__tinymce blockquote {
		padding: 2em 2em 2em 5em;
	}
	blockquote:before {
		top: 1em;
		left: 0.6em;
	}
	blockquote p {
		font-size:16px;
		line-height: 22px;
	}
	blockquote > a, blockquote > p > a,
	blockquote > cite, blockquote > p > cite {
		font-size: 16px;
	}
	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	input[type="password"],
	input[type="search"],
	select,
	textarea,
	textarea.wp-editor-area,
	/* Tour Master */
	.tourmaster-form-field input[type="text"],
	.tourmaster-form-field input[type="email"],
	.tourmaster-form-field input[type="password"],
	.tourmaster-form-field textarea,
	.tourmaster-form-field select,
	.tourmaster-form-field.tourmaster-with-border input[type="text"],
	.tourmaster-form-field.tourmaster-with-border input[type="email"],
	.tourmaster-form-field.tourmaster-with-border input[type="password"],
	.tourmaster-form-field.tourmaster-with-border textarea,
	.tourmaster-form-field.tourmaster-with-border select,
	/* BB Press*/
	#buddypress .dir-search input[type="search"],
	#buddypress .dir-search input[type="text"],
	#buddypress .groups-members-search input[type="search"],
	#buddypress .groups-members-search input[type="text"],
	#buddypress .standard-form input[type="color"],
	#buddypress .standard-form input[type="date"],
	#buddypress .standard-form input[type="datetime-local"],
	#buddypress .standard-form input[type="datetime"],
	#buddypress .standard-form input[type="email"],
	#buddypress .standard-form input[type="month"],
	#buddypress .standard-form input[type="number"],
	#buddypress .standard-form input[type="password"],
	#buddypress .standard-form input[type="range"],
	#buddypress .standard-form input[type="search"],
	#buddypress .standard-form input[type="tel"],
	#buddypress .standard-form input[type="text"],
	#buddypress .standard-form input[type="time"],
	#buddypress .standard-form input[type="url"],
	#buddypress .standard-form input[type="week"],
	#buddypress .standard-form select,
	#buddypress .standard-form textarea {
		padding:1em;
		width: 100%;
	}

	/* Post layouts */
	.post_item_404:not([class*="post_item_none_"]) .page_title {
		font-size: 8em;
	}
	.post_item_404 .page_info {
		padding-top: 1em;
	}
	.post_item_404 .page_description {
		margin-bottom:2em;
	}

	.post_item_none_search .page_title, .post_item_none_archive .page_title {
		font-size:5em;
	}

	.format-audio .post_featured.with_thumb .post_audio {
		bottom: 1em;
	}
	.format-audio .post_featured.with_thumb .post_audio.with_iframe {
		bottom: -3px;
		left: 0;
		right: 0;
	}
	
	.mejs-controls a.mejs-horizontal-volume-slider,
	.mejs-controls .mejs-horizontal-volume-total{
		width:40px;
	}
	
	.body_style_fullwide .format-video .post_featured.with_thumb .post_video_hover,
	.post_layout_excerpt.format-video .post_featured.with_thumb .post_video_hover,
	.post_layout_chess.format-video .post_featured.with_thumb .post_video_hover,
	.trx_addons_video_player.with_cover .video_hover {
		font-size:2em;
	}

	.page_links > span:not(.page_links_title), .page_links > a, .nav-links .page-numbers {
		@include square(3em);
		margin: 3px 3px 0 0;
	}
	.page_links .page_links_title {
		margin-top: 1em;
	}
	
		
	/* Single post */
	.post_item_single > .post_featured {
		margin-bottom:2em;
	}
	
	.author_info {
		padding: 2em;
	}
	.author_avatar {
		position:static;
		margin-bottom: 1.5em;
	}
	.author_description{
		padding-left: 0;
	}
	
	.nav-links-single .nav-links .nav-previous {
		padding-right: 8px;
	}
	.nav-links-single .nav-links .nav-next {
		padding-left: 8px;
	}
	.nav-links-single .nav-links .post-title {
		letter-spacing:0;
	}
	.nav-links-single .nav-links .meta-nav,
	.nav-links-single .nav-links .post_date {
		font-size:1em;
	}
	
	.comments_list_wrap .comment_posted {
		font-size:1em;
		display:inline-block;
		margin-left: 0;
	}
	.comments_list_wrap li + li, .comments_list_wrap li ul {
		margin-top:2em;
	}
	.comments_list_wrap ul li + li, .comments_list_wrap li > ul > li {
		padding-top: 0;
	}
	.comments_list_wrap ul ul {
		margin-left: 2em;
	}
	.comments_list_wrap ul ul ul ul {
		margin-left:0;
	}
	// Put avatar above comment on the small screen
	.comments_list_wrap ul li + li > .comment_body > .comment_author_avatar,
	.comments_list_wrap li > ul > li > .comment_body > .comment_author_avatar {
		top: 0;
	}
	.comments_list_wrap .comment_author_avatar {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 1.5em;
	}
	.comments_list_wrap .comment_content {
		padding-left: 0;
	}

	.post_content .related_wrap.related_position_inside_left,
	.post_content .related_wrap.related_position_inside_right {
		float: none;
		margin: 2em 0;
		max-width: none;
	}
	.related_wrap .post_meta {
		@include font(12px, 15px);
	}

	/* Single post navigation fixed with side menu active */
	.menu_style_left .nav-links-single.nav-links-fixed {
		margin-left: $xs_menu_side;
	}
	.menu_style_right .nav-links-single.nav-links-fixed {
		margin-right: $xs_menu_side;
	}

	.sc_table table tr:first-child th, .sc_table table tr:first-child td {
		font-size: 15px;
	}

	/* Other minor plugins */
	.mfp-title {
		line-height:13px;
	}
	blockquote:before {
		font-size: 1.65em;
	}
	blockquote, blockquote[class*="wp-block-quote"][class*="is-style-"], blockquote[class*="wp-block-quote"][class*="is-"], .wp-block-quote:not(.is-large):not(.is-style-large), .wp-block-freeform.block-library-rich-text__tinymce blockquote {
		padding: 1.5em 2em 2em 3.5em;
	}
	.widget_recent_comments ul li + li, aside .post_item + .post_item {
		padding-top: 15px;
		margin-top: 15px;
	}
	.sc_edd_details .downloads_page_tags .downloads_page_data > a, .widget_product_tag_cloud a, .widget_tag_cloud a{
		padding: 6px 12px;
		font-size: 14px !important;
		line-height: 16px;
	}
	.swiper-pagination-custom .swiper-pagination-button {
		width: 60px;
		height: 60px;
	}
	.sc_skills.sc_skills_counter .sc_skills_item_wrap:before {
		width: 168px;
		height: 168px;
	}
	.vc_row .trx_addons_audio_player .audio_caption, .trx_addons_audio_player .audio_caption{
		@include font(18px,1.2em);
	}
	.related_wrap.related_style_wide .related_item{
		flex-direction: column;
	}
	.related_wrap.related_style_wide .post_title{
		font-size: 18px;
		line-height: 22px;
	}
	.related_wrap.related_style_wide .post_featured{
		margin:0 0 15px 0;
	}
	.related_wrap.related_style_wide .post_header{
		padding:0;
		width: 100%;
	}
	.related_more_link{
		margin-top: 30px;
	}
	.post_item_single .post_content .post_tags a{
		padding: 3px 15px;
	}
	.sc_icons.sc_icons_default .sc_icons_item .sc_icons_item_details {
		padding: 0 25px;
	}
	.sc_icons.sc_icons_default .sc_icons_columns_wrap div[class*='trx_addons_column-']:before {
		left: 29px;
	}
	.sc_item_slider.slider_outer_pagination_pos_bottom .swiper-pagination {
		bottom: 5.5em;
	}
	.slider_outer.slider_outer_pagination_pos_bottom.slider_outer_pagination_custom, .slider_outer.slider_outer_pagination_pos_bottom_outside.slider_outer_pagination_custom {
		padding-bottom: 7.8em;
	}
	.sc_button + .sc_button{
		margin-left:0;
		margin-top:15px;
	}
	.sc_button.sc_button_default.sc_button_with_icon .sc_button_title{
		@include font(16px);
	}
	.sc_button_icon{
		@include font(1.5em);
	}
	.sc_action_item_default .sc_action_item_title {
		font-size: 2.2em;
		letter-spacing: -1px;
	}
	.elementor-toggle .elementor-tab-title {
		font-size: 18px;
		line-height: 22px;
	}
	.elementor-toggle .elementor-tab-title .elementor-toggle-icon {
		width: 32px;
	}
	.widget_contacts .contacts_description p{
		width: 100%;
	}
	.related_wrap.related_style_wide .related_item.post_format_audio .related_more_link{
		margin-top:30px;
	}
	.related_wrap.related_style_wide .related_item.post_format_audio{
		flex-direction: column;
	}
	.related_wrap.related_style_wide .related_item{
		text-align: center;
	}
	.sticky .label_sticky{
		font-size: 12px;
		padding:0 50px;
	}
	.widget.widget_nav_menu ul.menu ul{
		padding-left: 0.8em;
	}
	table th, table td, table tr{
		font-size: 0.9em;
	}
	table th, table td, .sc_table table th, .sc_table table td {
		padding: 0.3rem;
	}
	.format-audio .post_featured.without_thumb .post_audio:not(.with_iframe), .sc_layouts_blog_item_featured .post_featured.without_thumb .post_audio:not(.with_iframe){
		padding: 1em 1.5em;
	}
	.post_layout_excerpt.post_format_quote .post_content .post_header{
		padding: 0 25px!important;
	}
	.post_layout_excerpt.post_format_quote .post_content .post_header + p{
		padding-left: 25px;
		padding-bottom:0;
	}
	.post_layout_excerpt blockquote:before{
		top: 1em;
		left: 0.6em;
	}

	.post_layout_excerpt blockquote {
		padding: 2em 2em 2em 3.4em;
	}
	.sticky.post_item.post_format_audio .post_header,
	.sticky.post_item.post_format_audio .post_content{
		padding: 0 !important;
	}
	.post_layout_excerpt.post_format_quote .post_content .post_content_inner blockquote{
		border-bottom:2px solid white;
	}
	.comments_wrap .comments_author,
	.comments_wrap .comments_email {
		width: 100%;
		float:none;
	}
	.comments_wrap .comments_field{
		margin-bottom: 1em;
	}
	div .car-rental-search-step1 .booking-item .booking-item-body div.styled-select-dropdown select{
		padding-left: 13px;
		padding-right: 1.7em !important;
		&:after{
			right:1em;
		}
	}
	div .car-rental-single-booking .booking-item .booking-item-body input[name="pickup_date"],
	div .car-rental-single-booking .booking-item .booking-item-body input[name="return_date"]{
		width: 100%!important;
		padding-left: 20px;
	}
	div .car-rental-single-booking .booking-item .booking-item-body div.inline-div{
		width: 100%!important;
	}
	div .car-rental-single-booking .booking-item .booking-item-body div.narrow-dropdown{
		width:100%!important;
		margin-left: 0!important;
	}
}