@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";

/* Skin-specific styles
----------------------- */
.sc_push_small_negative, .sc_push_y_small_negative {
  margin-top: -3.8em !important;
}

.sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_popup .sc_layouts_menu_nav > li > ul, .sc_layouts_menu_nav > li > ul ul{
  top: -0.9em!important;
}

/* Buttons */
form button:not(.components-button),
input[type="button"],
input[type="reset"],
input[type="submit"],
.theme_button,
.post_item .more-link,
.gallery_preview_show .post_readmore,
.wp-block-button__link,
  /* BB PRess */
#buddypress .comment-reply-link,
#buddypress .generic-button a,
#buddypress a.button,
#buddypress button,
#buddypress input[type="button"],
#buddypress input[type="reset"],
#buddypress input[type="submit"],
#buddypress ul.button-nav li a,
#buddypress div.activity-meta a,
a.bp-title-button,
  /* Booked */
body #booked-profile-page input[type="submit"],
body #booked-profile-page button,
body .booked-list-view input[type="submit"],
body .booked-list-view button,
body table.booked-calendar input[type="submit"],
body table.booked-calendar button,
body .booked-modal input[type="submit"],
body .booked-modal button,
  /* MailChimp */
.mc4wp-form .mc4wp-form-fields input[type="submit"],
  /* ThemeREX Addons*/
.sc_button,
.sc_form button,
  /* Tour Master */
.tourmaster-tour-search-wrap input.tourmaster-tour-search-submit[type="submit"],
  /* Tribe Events */
#tribe-bar-form .tribe-bar-submit input[type="submit"],
#tribe-bar-form.tribe-bar-mini .tribe-bar-submit input[type="submit"],
#tribe-bar-form button,
#tribe-bar-form a,
#tribe-bar-form input,
#tribe-bar-form .tribe-bar-views-toggle,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
.tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
#tribe-events .tribe-events-button,
.tribe-events-button,
.tribe-events-cal-links a,
.tribe-events-sub-nav li a,
.tribe-events-read-more,
#tribe-events-footer ~ a.tribe-events-ical.tribe-events-button,
  /* EDD buttons */
.edd_download_purchase_form .button,
#edd-purchase-button,
.edd-submit.button,
.widget_edd_cart_widget .edd_checkout a,
  /* WooCommerce buttons */
.woocommerce .button, .woocommerce-page .button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce input[type="button"], .woocommerce-page input[type="button"],
.woocommerce input[type="submit"], .woocommerce-page input[type="submit"],
.woocommerce .woocommerce-message .button,
.woocommerce ul.products li.product .button,
.woocommerce div.product form.cart .button,
.woocommerce #review_form #respond p.form-submit input[type="submit"],
.woocommerce-page #review_form #respond p.form-submit input[type="submit"],
.woocommerce table.my_account_orders .order-actions .button,
.woocommerce table.cart td.actions .button,
#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
  /* Disabled state */
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit[disabled]:disabled,
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button[disabled]:disabled,
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button[disabled]:disabled,
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button[disabled]:disabled,
.yith-woocompare-widget a.clear-all {
  @include border-radius(50px);
  padding: 1.35em 3.2em;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: 2px solid #ddd;
  border-width: 2px !important;
  padding: 1.2em 3.05em;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="search"],
select,
.select_container,
textarea{
  @include border-radius(35px);
}
.sc_button_icon_left .sc_button_icon {
  margin-right: 0.3em;
}
.sc_button.sc_button_default.sc_button_with_icon{
  padding:14px 31px;
  .sc_button_title{
    @include font(20px,1em, 600);
  }
  .sc_button_subtitle{
    @include font(11px,1em, 700);
    text-transform: uppercase;
  }
}

.sc_button_text{
  display: inline-block;
  vertical-align: top;
}
.sc_table table tr:first-child th, .sc_table table tr:first-child td{
  text-transform: capitalize;
  @include font(20px,1em);
  padding: 1.2em 0.6em;
}
.post_item .more-link{
  padding:0.657em 1.6em;
  @include border-radius(35px);
}

/* Field error */
.trx_addons_message_box_success,
div.wpcf7-mail-sent-ok {
  border-color: #66cc66 !important;
  border-width:2px;
}
span.wpcf7-not-valid-tip {
  color: #D14F30;
  font-weight: 600;
}
.trx_addons_field_error, .wpcf7-not-valid {
  border-color: #D14F30 !important;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  border-color: #D14F30 !important;
  color: #535353;
  background: #fff;
  @include border-radius(35px);
}
.trx_addons_message_box_success, div.wpcf7-mail-sent-ok{
  @include border-radius(35px);
}
form .error_field {
  border-color: #D14F30 !important;
  @include box-shadow(none);
}
form .trx_addons_message_box {
  @include border-radius(24px);
  @include box-shadow(none !important);
}
.trx_addons_message_box_error {
  border: 2px solid #D14F30;
  color: #535353;
  background: #fff;
}
.trx_addons_message_box {
  font-size: 14px;
  line-height: 18px;
  padding: 0.8em 1.6em;
  background-color: #fff;
  @include border-radius(5px !important);
}
ul.inline-list{
  list-style-type: none;
  padding-left:0;
  li{
    h6{
      margin-bottom: 4px;
      margin-top:0;
    }
    p{
      @include font(16px,24px);
    }
    &+li{
      margin-top:25px;
      padding-top:25px;
      border-top:1px solid red;
    }
  }
}
/* 9. Sidebars
-------------------------------------------------------------- */
.sidebar_inner .widget{
  @include border-radius(9px);
}

/* Widget Search */
.sidebar_inner .widget_search {
  padding: 3.9em 4.27em 4.3em;
  @include box-sizing(border-box);

}

/* Widget Items */
aside .post_item + .post_item {
  margin-top: 30px;
  padding-top:30px;
}
.widget_area .post_item .post_title, aside .post_item .post_title {
  margin: 5px 0 0;
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
}
.widget_area .post_item .post_categories, aside .post_item .post_categories {
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.7em;
  padding-right: 3em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.widget_area .post_item .post_info, aside .post_item .post_info {
  font-size: 14px;
  line-height: 16px;
}
.widget_recent_posts {
  overflow: visible;
  counter-reset: headings 0;
}
.widget_area .post_item .post_thumb,
aside .post_item .post_thumb {
  width: 80px;
  height: 80px;
  @include border-radius(50%);
  overflow: visible;
  position: relative;
  margin: 0 20px 6px 0;
}
.widget_area .post_item .post_thumb img,
aside .post_item .post_thumb img {
  @include border-radius(50%);
  overflow: hidden;
}
.widget_area .post_item, aside .post_item{
  &+.post_item{
    border-top: 2px solid white;
  }
}


/* Header */
[data-type^="trx-addons/socials"], [data-type^="trx-addons/button"], [data-type^="trx-addons/layouts-"]:not([data-type^="trx-addons/layouts-blog-item"]):not([data-type^="trx-addons/layouts-container"]):not([data-type^="trx-addons/layouts-featured"]):not([data-type^="trx-addons/layouts-title"]), .wp-block-column > .sc_layouts_item, .sc_layouts_column .sc_layouts_item, .sc_layouts_column .sc_layouts_item + div:not(.sc_layouts_item):not(.vc_row):not(.vc_separator):not(.vc_empty_space):not(.vc_wp_text) {
  margin-right: 2.2em;
}
body .sc_layouts_row_type_compact,
body .sc_layouts_row_type_compact.sc_layouts_row_fixed_on {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.sc_layouts_title_title > .sc_layouts_title_caption {
  margin-top: 0;
  line-height: 1.2em;
}
.sc_layouts_menu_nav li li.menu-item-has-children > a:after {
  content: '\e836';
  font-family: $theme_icons;
  display: inline-block;
  top: 0.15em;
}

/* Menu */
.sc_layouts_menu_nav li {
  text-align: center;
}
.sc_layouts_menu_nav > li.menu-item-has-children > a:after {
  display: none;
}
.sc_layouts_menu_nav > li > a,
.sc_layouts_menu_nav > li.menu-item-has-children > a {
  padding: 9px 21px 11px;
  @include border-radius(30px);
  background: red;
  @include transition-all(0.15s);
}
.sc_layouts_menu_nav > li+li{
  margin-left:3px;
}
.sc_layouts_menu_nav > li.menu-item-has-children[class*="icon-"] > a,
.sc_layouts_menu_nav > li[class*="icon-"] > a {
  padding-left: 1.5em;
}
.sc_layouts_menu_nav > li[class*="icon-"]:before {
  padding: 0.9em 0;
  left: 0.2em;
}
.sc_layouts_menu_nav > li > ul {
  top: 3.8em;
  left: 0;
  margin-left: 0;
  li{
    text-align: left;
  }
}

.sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_nav > li ul {
  width: 9.445em;
  padding:15px 0;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_popup .sc_layouts_menu_nav > li > ul, .sc_layouts_menu_nav > li > ul ul {
  left:  9.445em;
  top: -1.5em;
  margin: 0 0 0 1px;
}
.sc_layouts_menu_nav > li > ul ul.submenu_left {
  left: -9.445em;
  margin: 0 0 0 -1px;
}
.sc_layouts_menu_nav > li > ul ul.sc_layouts_submenu.submenu_left {
  left: auto;
  right: 11em;
  margin: 0;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav > li.menu-item-has-children > a, .sc_layouts_menu_nav li li.menu-item-has-children > a,
.sc_layouts_menu_popup .sc_layouts_menu_nav > li > a, .sc_layouts_menu_nav > li li > a {
  padding: 3px 22px;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_nav > li ul {
  @include box-shadow(none);
}
.sc_layouts_menu_nav > li:last-child > ul, .sc_layouts_column_align_right .sc_layouts_menu_nav > li.menu-collapse > ul {
  left: 50%;
  right: auto;
}
.breadcrumbs .breadcrumbs_delimiter:before{
  content: '-';
}
.breadcrumbs {
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: .8px;
}

/* Spacer */
.elementor-widget-spacer.sc_height_small .elementor-spacer-inner {
  height: 23px !important;
}
.elementor-widget-spacer.sc_height_large .elementor-spacer-inner, .elementor-widget-spacer.sc_height_big .elementor-spacer-inner {
  height: 80px !important;
}



/* Accent Title */
.sc_title_accent h5.sc_item_title_tag + .sc_item_descr,
.sc_title_accent h5.sc_item_title_tag + .sc_item_slider,
.sc_title_accent h5.sc_item_title_tag + .sc_item_columns,
.sc_title_accent h5.sc_item_title_tag + .sc_item_content {
  margin-top: 1.7em;
}
.sc_title_accent .sc_item_descr p {
  line-height: 1.45em;
}
.sc_title_accent .sc_item_descr {
  font-size: 1.2em;
  font-style: italic;
}
.sc_item_title + .sc_item_descr, .sc_item_subtitle + .sc_item_descr {
  margin-top: 2em;
}
.sc_item_title_style_accent > .sc_item_title_text {
  position: relative;
  display: flex;
  flex-direction: row;
    &:after {
      content: "";
      display: block;
      height: 1px;
      margin-left: 25px;
      margin-top: 1px;
      flex: auto;
      min-width: 30px;
      align-self: center;
    }
}
.sc_item_title_style_accent.sc_align_right > .sc_item_title_text {
  &:after {
    display: none;
  }
  &:before {
    content: "";
    display: block;
    height: 1px;
    margin-right: 25px;
    margin-top: 1px;
    flex: auto;
    min-width: 30px;
    align-self: center;
  }
}
.sc_item_title_style_accent.sc_align_center > .sc_item_title_text {
  &:after {
    content: "";
    display: block;
    height: 1px;
    margin-left: 25px;
    margin-top: 1px;
    flex: auto;
    min-width: 30px;
    align-self: center;
  }
  &:before {
    content: "";
    display: block;
    height: 1px;
    margin-right: 25px;
    margin-top: 1px;
    flex: auto;
    min-width: 30px;
    align-self: center;
  }
}
.sc_title_accent .sc_button_simple {
  padding: 0;
}
.sc_title_accent .sc_button_simple:before, .sc_title_accent .sc_button_simple:after {
  display: none;
}
.sc_title_accent .title-wrap-go {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sc_title_accent.right-go .title-wrap-go {
  flex-direction: row-reverse;
}
.sc_title_accent .title-wrap-go .sc_item_title {
  flex: auto;
}
.sc_title_accent .title-wrap-go .sc_item_button {
  margin: 0 0 0 25px;
}
.sc_title_accent .title-wrap-go .sc_item_title.sc_align_right + .sc_item_button {
  margin: 0 25px 0 0;
}


/* Socials in footer */
.footer_wrap .sc_socials_icons_names {
  .socials_wrap {
    margin: 0;
    white-space: normal;
  }
  .social_item {
    display: inline-block;
    min-width: 180px;
    text-align: center;
    vertical-align: middle;
    margin: 5px 0;
    line-height: 16px;
  }
  .social_item + .social_item {
    border-left: 1px solid #ddd;
  }
  .social_icon {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 22px;
    line-height: 22px;
    @include border-radius(0);
    background: transparent !important;
  }
  .social_item .social_name {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    margin: 0 0 0 2px;
    letter-spacing: 0.3px;
  }
}

/* Meta */
.post_meta .post_meta_item:after,
.post_meta .post_meta_item.post_edit:after,
.post_meta .vc_inline-link:after {
  content: '';
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
  vertical-align: baseline;
  margin: 3px 6px 1px 9px;
  width: 1px;
  height: 7px;
  @include box-sizing(border-box);
  border: 1px solid #95919e;
  display: inline-block;
}
.post_meta .post_meta_item.post_categories:after {
  width: 0;
  height: 0;
  border: none;
}
.post_meta .post_meta_item.post_categories a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  @include border-radius(25px);
  padding: 6px 20px;
  margin-bottom: 3px;
  margin-right: 3px;
  vertical-align: middle;
}
.post_meta .post_meta_item.post_categories a:last-child {
  margin-right: 0;
}

/* Drop Cap */
.trx_addons_dropcap{
  @include font(53px);
  @include border-sharp();
  width: 1.661em;
  height: 1.661em;
  line-height:1.45em;
  margin: 0.15em 0.4em 0 0;
  &.trx_addons_dropcap_style_2{
    background: transparent!important;
    @include font(75px,1em, 700);
    text-align: left;
    width: 80px;
    height: 70px;
    margin: -9px 0 0;
  }
}

/* Contact Form 7 */
.wpcf7 {
  .elementor-column-gap-extended {
    margin: 0 -13px;
    > .elementor-row > .elementor-column > .elementor-element-populated {
      padding:13px;

    }
    + .text-center {
      margin-top: 20px;
      &+.text-center {
        margin-top: 20px;
      }
    }
  }
  .wpcf7-form-control-wrap {
    width: 100%;
    &.your-message {
      width: 100%;
      textarea {
        min-height: 5em;
        max-height: 13.4em;
      }
    }
  }
  label {
    width: 100%;
  }
  .text-right{
    text-align: right;
    position: relative;
    margin-top: 3px;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .text-left{
    text-align: left;
    justify-content: flex-start;
    align-self: center;
  }
  .ajax-loader{
    position: absolute;
    top:calc(50% - 8px);
    right:-10px;
  }
  div.wpcf7-response-output{
    margin-top:1em;
    text-align: center;
  }
  .trx_addons_field_error, .wpcf7-not-valid{
    box-shadow: none;
  }
  .elementor-col-70{
    align-items: center;

  }
  .wpcf7-list-item-label{
    @include font(14px,21px);
  }
}
.wpcf7-form-control.wpcf7-acceptance{
  .wpcf7-list-item{
    margin:0;
  }
}

/* Progress Bar */
.elementor-progress-percentage {
  padding-right: 0;
  position: absolute;
  left: auto;
  right: 0;
  top: -27px;
  @include font(18px);
}
.elementor-progress-wrapper{
  height:6px;
  padding:0;
  @include border-radius(0px)
}
.elementor-progress-bar{
  height:6px;
  @include border-radius(0px)
}
.elementor-widget-progress .elementor-title{
  @include font(18px, 22px, 600);
}

/* Tabs */
.elementor-toggle .elementor-tab-title{
  border-bottom:none;
  @include font(24px,30px, 700);
  @include border-radius(9px);
}
.elementor-toggle-item{
  background: white;
  @include border-radius(9px);
}

.elementor-toggle .elementor-tab-content{
  border-bottom:none;
  border-top:2px solid red;
  p{
    margin:0;
  }
}
.elementor-toggle .elementor-tab-title .elementor-toggle-icon {
  width: 1.5835em;
  border: 2px solid red;
  padding: 5px;
  border-radius: 50%;
  text-align: center!important;
}
.sc_recent_news .post_item .post_date:before{
  display: none;
}
.sc_recent_news_style_news-excerpt{
  .post_item{
    display: flex;
    align-items: center;
    padding:2.4em 2em;
    background: white;
    .post_featured{
      max-width: 125px;
      min-width: 125px;
      @include border-round();
      align-self: flex-start;
    }
    .post_title {
      margin: -0.25em 0 0;
      letter-spacing: -.5px;
      @include font(24px,30px,700);
    }
    .post_date {
      font-size: 14px;
      line-height: 1.2em;
      margin-bottom: 12px;
      font-weight: 600;
      display: inline-block;
    }
    .post_body{
      display: flex;
      align-items: center;
      flex: 1 1 100%;
    }
    &+.post_item{
      margin-top:0;
      padding-top: 2.4em;
    }
    .post_footer{
      margin-top:0;
    }
    .related_more_link{
      a{
        line-height: 1.39rem;
        margin-top:0;
      }
    }
  }
}
.sc_layouts_row_type_compact.sc_layouts_row .sc_layouts_item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.sc_layouts_row_type_compact.sc_layouts_row .sc_button{
  @include border-radius(30px);
  @include font(18px,1.1em);
  padding: 14px 21px 14px;
}

  /* Greed */
.minimal-light .esg-filterbutton, .minimal-light .esg-navigationbutton, .minimal-light .esg-sortbutton, .minimal-light .esg-cartbutton a{
  @include font(16px!important,1.1em!important,600!important);
  padding:23px 50px!important;
  @include border-radius(35px!important);
  margin-top:50px;
  @include transition-all(.3s);
  &:hover{
    box-shadow: none!important;
  }
}

/* Icon */
.sc_icons_modern.sc_icons_size_small .sc_icons_icon:before, .sc_icons_modern.sc_icons_size_small .sc_icons_icon > span:before{
  @include font(2.8rem);
}
.sc_icons_modern .sc_icons_item_title{
  @include font(20px, 1.1em, 700);
  letter-spacing: -.5px;
  text-transform: capitalize;
}
.sc_icons_modern.sc_icons_size_small .sc_icons_item_details {
  min-height: 4em;
  padding-left: 4.75em;
}
.sc_icons_modern .sc_icons_icon, .sc_icons_modern .sc_icons_image{
  top:50%;
  transform:translateY(-50%);
  font-weight:400;
}
.sc_icons_modern .sc_icons_item_description{
  @include font(16px, 24px);
}
.sc_icons_modern .sc_icons_item_title + .sc_icons_item_description {
  margin-top: 0.2em;
}
.sc_icons_modern .sc_icons_item+.sc_icons_item{
  padding-top: 21px;
  margin-top: 25px;
  border-top:1px solid red;
  .sc_icons_icon{
    top:calc(50% + 9px);
  }
}

/* Rant styles
----------------------------------------------------------------- */

.single-car_rental_item.single{
  .post_content_single{
    padding-top:50px;
  }
  .post_meta_single{
    display: none;
  }
  .car-rental-single-booking{
    float: none;
    clear: both;
    padding:0;
  }
  .car-rental-single-item .item-images {
    width: 30%;
  }

}

.single-car_rental_page.single .car-rental-new-booking{
  .booking-item{
    .booking-item-body {
      .narrow-dropdown{
          margin-left: 35px;
      }
    }
  }
}

div .car-rental-slider .responsive-items-slider button.car-rental-slider-prev, div .car-rental-slider .responsive-items-slider button.car-rental-slider-next{
  top: calc(50% - 16px);
}
.car-rental-new-booking{
  form{
    .booking-item{
      .booking-item-header{
        display: none;
      }
    }
  }
}
div .car-rental-search-step1 div.styled-select-dropdown{
  box-shadow: none;
}
div .car-rental-search-step1 .booking-item .booking-item-body input[name="pickup_date"], div .car-rental-search-step1 .booking-item .booking-item-body input[name="return_date"],
div .car-rental-single-booking .booking-item .booking-item-body input[name="pickup_date"], div .car-rental-single-booking .booking-item .booking-item-body input[name="return_date"]{
  box-shadow: none;
  @include border-radius(35px);
  height:65px;
  @include font(14px);
}
div .car-rental-search-step1 .booking-item .booking-item-body div.styled-select-dropdown, div .car-rental-single-booking .booking-item .booking-item-body div.styled-select-dropdown{
  select{
    font-style: normal;
    height:61px;
    padding-left:30px;
    @include font(14px);
  }
  .select_container{
    &:after{
      right:1.9em;
    }
  }
}
div .car-rental-single-booking .booking-item .booking-item-body div.styled-select-dropdown select{
  height:65px;
}

div .car-rental-search-step1 div.styled-select-dropdown, div .car-rental-single-booking .booking-item .booking-item-body div.styled-select-dropdown{
  @include border-radius(35px);
}
div .car-rental-search-step1 img.date-selector-image{
  margin-top: 19px;
}
div .car-rental-search-step1 .booking-item .booking-item-body div.narrow-dropdown{
  width: 195px;
}
div .car-rental-search-step1 .booking-item .booking-item-body input[name="pickup_date"], div .car-rental-search-step1 .booking-item .booking-item-body input[name="return_date"],
div .car-rental-single-booking .booking-item .booking-item-body input[name="pickup_date"], div .car-rental-single-booking .booking-item .booking-item-body input[name="return_date"]{
  width:200px;
  padding-left:30px;
  font-style: normal;
  &:after{
    content: '\e95a';
    font-family: $theme_icons;
    @include font(12px);
    position: absolute;
    right: 10px;
    top:5px;
  }
}
div .car-rental-search-step1 .booking-item{
  max-width: 410px;
}
div .car-rental-search-step1 .booking-item .booking-item-body div.wide-dropdown{
  width:410px;
}
div .car-rental-search-step1 .booking-item .booking-item-body input[type="submit"],
div .car-rental-single-booking .booking-item .booking-item-body input[type="submit"]{
  height:65px;
  padding:10px 50px;
  @include font(16px);
  text-transform: capitalize;
  width:100%;
  margin-left:0;
}
div .car-rental-search-step1 .booking-item .booking-item-body div.top-padded-submit{
  width:100%;
  margin-top:0;
  margin-bottom:0;
}
div .car-rental-search-step1 div.styled-select-dropdown{
  background: none;
}
.inline-div+.inline-div{
  margin-left:-59px;
}
div .car-rental-search-step1 .booking-item .booking-item-body div.narrow-dropdown{
  margin-left: 41px;
}
div .car-rental-slider .responsive-items-slider div.car-rental-item-details {
  padding: 5px 40px 30px;
  text-align: center;
  width:100%;
}
div .car-rental-single-booking{
  background-image: none;
}
div .car-rental-single-booking .booking-item, div .car-rental-single-booking .booking-item .booking-item-body div.wide-dropdown{
  width: 410px;
}
div .car-rental-single-booking img.date-selector-image{
  margin-top: 19px;
}
div .car-rental-single-booking .booking-item .booking-item-body div.narrow-dropdown {
  width: 175px;
  margin-left: 49px;
}
div .car-rental-single-item .item-features .item-features-label{
  margin-top:30px;
}
div .car-rental-single-item .item-description{
  width:66%;
}

div ul.car-rental-item-features-list{
  width: 100%;
  li{
    width: 33.3%;
  }
}
div .car-rental-single-item .item-images .item-small-image{
  width:calc(33.3% - 4px);
  img{
    width:100%;
  }
  &+.item-small-image{
    padding-left:5px;
  }
}
div .car-rental-single-booking .booking-item .booking-item-body div.top-padded-submit{
  margin-top: 0;
  width: 100%;
}
div .car-rental-search-result button[name="car_rental_do_search0"],
div .car-rental-search-result input[name="car_rental_do_search0"],
div .car-rental-search-result button[name="car_rental_do_search"],
div .car-rental-search-result input[name="car_rental_do_search"],
div .car-rental-search-result button[name="car_rental_do_search2"],
div .car-rental-search-result input[name="car_rental_do_search2"],
div .car-rental-search-result button[name="car_rental_do_search3"],
div .car-rental-search-result input[name="car_rental_do_search3"],
div .car-rental-search-result button[name="car_rental_cancel_booking"],
div .car-rental-search-result input[name="car_rental_cancel_booking"],
div .car-rental-options button[name="car_rental_do_search0"],
div .car-rental-options input[name="car_rental_do_search0"],
div .car-rental-options button[name="car_rental_do_search"],
div .car-rental-options input[name="car_rental_do_search"],
div .car-rental-options button[name="car_rental_do_search2"],
div .car-rental-options input[name="car_rental_do_search2"],
div .car-rental-options button[name="car_rental_do_search3"],
div .car-rental-options input[name="car_rental_do_search3"],
div .car-rental-options button[name="car_rental_cancel_booking"],
div .car-rental-options input[name="car_rental_cancel_booking"],
div .car-rental-booking-details button[name="customer_lookup"],
div .car-rental-booking-details input[name="customer_lookup"],
div .car-rental-booking-details button[name="car_rental_do_search4"],
div .car-rental-booking-details input[name="car_rental_do_search4"]{
  height: 63px;
  @include border-radius(35px);
  @include font(16px, '', 600);
}
div .customer-buttons button {
  margin-left:0;
}
div .car-rental-search-result h2.car-rental-page-title, div .car-rental-options h2.car-rental-page-title, div .car-rental-booking-details h2.car-rental-page-title,
div .search-label{
  text-transform: capitalize;
  margin-top:30px;
  @include font(36px, 1.2em)
}
div #search-results-title h2{
  margin-top:40px;
  margin-bottom:30px;
}
.clear{
  clear: both;
  font-size: 0;
  line-height: 0;
}
.car-rental-booking-details{
  table{
    tbody{
      td, th {
        padding: 15px!important;
      }
    }
  }
}
div .car-rental-booking-details table {
  font-size: 16px;
}
div .car-rental-booking-details .customer-data-input input[type="text"],
div .car-rental-booking-details .email-search input[type="text"],
div .car-rental-booking-details .customer-data-input select,
div .car-rental-booking-details .birth-search select{
  box-shadow: none;
  height:65px;
  font-style: normal;
}
.car-rental-booking-details .customer-data-input textarea{
  box-shadow: none;
  font-style: normal;
}
div .car-rental-booking-details .customer-data-input .select_container{
  height:65px;
}
.customer-data-input.customer-birthday-select{
  .select_container{
    select{
      float:none;
    }
    &+.select_container{
      margin-top:5px;
    }
  }
}
div .car-rental-booking-details .customer-data-label{
  padding-top: 22px;
}

div .car-rental-options .selected-item .col2, div .car-rental-options .list-headers .col2{
  width: 22%;
}
div .item-quantity{
  .select_container{
    height:28px;
    select{
      height: 28px;
      padding: 0 15px 2px!important;
      margin-top:0;
      border:1px solid red;
    }
  }
}
div .car-rental-slider .responsive-items-slider div.car-rental-item-details .car-rental-item-type{
  @include font(16px ,18px, 500);
  text-transform:capitalize;
  margin-bottom:17px;
}

div .car-rental-slider .responsive-items-slider div.car-rental-item-price{
  padding-top: 14px;
}
div .car-rental-slider .responsive-items-slider div.car-rental-item-details{
  margin: 0 auto;
}
div .car-rental-slider .responsive-items-slider div.car-rental-item-image{
  margin:0 auto;
}
div .car-rental-slider .responsive-items-slider div.car-rental-item-title{
  margin-bottom:0;
  @include font(20px,22px,700);
  text-transform: capitalize;
}
.slick-initialized .slick-slide{
  padding: 0 15px;
}
.car-rental-body{
  position: relative;
  @include border-radius(7px);
  padding: 30px 0;
  .car-rental-item-price-wrap{
    position: absolute;
    top:12px;
    right:12px;
    display: flex;
    flex-direction: column;
    width:72px;
    height:72px;
    text-align: center;
    @include border-round();
    background: red;
    align-items: center;
    .car-rental-item-price{
      @include font(25px!important,1, 600);
      background: transparent!important;
    }
    .car-rental-item-prefix{
      @include font(12px!important,1, 600!important);
    }
  }
  .car-rental-item-link.sc_button{
    padding: 11px 24px!important;
  }
  .car-rental-item-info{
    border-top:2px solid red;
    padding:15px 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    .car-rental-item-info-label{
      width:100%;
      padding-bottom:12px;
      @include font(16px,'', 500);
    }
    .car-rental-item-info-persons, .car-rental-item-info-mileage, .car-rental-item-info-doors{
      width:55px;
    }
    .car-rental-item-info-persons, .car-rental-item-info-mileage, .car-rental-item-info-doors{
      position: relative;
      &:before{
        content: '\e958';
        font-family: $theme_icons;
        width: 40px;
        height:40px;
        @include border-round();
        border:2px solid red;
        line-height: 35px;
        text-align: center;
        display: inline-block;
        font-weight: 400;
      }
      span{
        width:22px;
        height:22px;
        @include font(14px,22px,600);
        @include border-round();
        background: white;
        text-align: center;
        position: absolute;
        top: 22px;
        right: -3px;
        display: inline-block;
      }
    }
    .car-rental-item-info-mileage{
      &:before{
        content: '\e979';
      }
    }
    .car-rental-item-info-doors{
      &:before{
        content: '\e962';
      }
    }
  }
}
div .car-rental-slider .responsive-items-slider div.car-rental-item-title{
  height:auto;
}

div .car-rental-slider .responsive-items-slider div.car-rental-item-prefix{
 padding-top:0;
  text-transform: lowercase;
}
div .car-rental-booking-failure .booking-failure-content .back-button{
  height:auto;
  @include border-radius(30px);
  border:none;
  padding:1em 2.5em;
  @include font(16px);
}
#search-results-title h2{
    @include font(36px, 1.2em, 700);
}
div .booking-data-group, div .car-rental-search-result .list-headers, div .car-rental-search-result div.item-type-label{
  @include font(20px);
  text-transform: capitalize;
}
div .car-rental-search-result .list-headers{
  padding:18px 0;
  border-bottom:none;
}
div .booking-data-group{
  text-transform: capitalize;
  font-weight: 600;
  @include font(20px);
  padding: 18px 0;
}
div .car-rental-search-result .list-headers .col3, div .car-rental-search-result .list-headers .col1,
div .car-rental-search-result .list-headers .col4, div .car-rental-search-result .list-headers .col5{
  text-transform: capitalize;
  font-weight: 600;
}
div .booking-data-row{
  border-radius: 8px;
  overflow: hidden;
  width: 31.73%;
  margin-right: 2.4%;
}

div .car-rental-search-result div.item-type-label{
  text-align: left;
  padding: 18px 0 18px 2%;
}

div .car-rental-items-list .car-rental-list-item, div .car-rental-list-item{
  border-top:0;
}
div .car-rental-search-result .car-rental-list-item, div .car-rental-items-list .car-rental-list-item{
  padding:70px 0;
}
.car-rental-list-item + .item-type-label{
  margin-top:0px;
}

div .car-rental-search-result .car-rental-list-item .item-name{
  @include font(24px, 1.2em,700);
  text-transform: capitalize;
}
.car-rental-search-result .car-rental-list-item .col2>a{
  margin-bottom: 23px;
  display: inline-block;
}
div .car-rental-search-result .car-rental-list-item .col3 .price-per-period{
  @include font(14px, '', 600);
}

div .car-rental-search-result{
  margin-bottom:0;
  padding-bottom:0;
}
div .booking-data-group-items{
  @include font(16px);
  border:none;
  padding:7%;
  width:auto;
}
div .booking-data-group-item{
  padding:3px;
}
.no-items {
  padding-left: 2%;
}
.car-rental-customer-form label.error{
  display: none!important;
}
.customer-data-input label.error{
  vertical-align: middle;
  padding-left:0.5em;
  position: relative;
  top: 0px;
  display: inline;

}
div .car-rental-booking-details .form-row-wide .birth-search select{
  font-style: normal;
}
div .car-rental-booking-details .ajax-loader{
  padding-top:19px;
}


.customer-data-input label.error:before{
  display: none;
}
.terms-and-conditions.error+label.error{
  display: inline-block!important;
  color: black;
  font-style: normal;
  top:auto;
  height: 20px!important;
}

div .car-rental-options .selected-item .col5{
  width: 8%;
  padding-right: 0;
}

.booking-data-icon .fa-map-marker:before{
  content: '\e97f';
  font-family: $theme_icons;
}
.booking-data-icon .fa-map-signs:before {
  content: "\e97e";
  font-family: $theme_icons;
}
.booking-data-icon .fa-cutlery:before {
  content: "\e980";
  font-family: $theme_icons;
}
.booking-data-text br{
  display: none;
}

.car-rental-search-result .clear{
  line-height:0;
}
div .car-rental-single-booking .booking-item:last-child{
  width:340px;
}
.car-rental-list-single-item .description-item i{
  font-style: normal;
  font-weight: 400;
  margin-right:0;
  padding-right:5px;
  &.fa{
    margin-right:0;
  }
}
div .fa-car:before{
  content: '\e97d';
  font-family: $theme_icons;
}
div .fa-cogs:before{
  content: '\e979';
  font-family: $theme_icons;
}

div .fa-users:before{
  content: '\e97a';
  font-family: $theme_icons;
}
div .fa-tachometer:before{
  content: '\e97b';
  font-family: $theme_icons;
}

.trx_addons_scroll_to_top{
  @include border-round();
}
.wp-widget-nav_menu ul.menu, .widget_contacts ul.footer_contact_list{
  padding-left: 0;
}
.sc_icons.sc_icons_extra{
  .sc_icons_item{
    .sc_icons_icon{
      &:before{
        @include border-round();
        background-color: red;
        font-weight: 400;
      }
    }
    .sc_icons_item_details{
      .sc_icons_item_title{
        @include font(14px,18px,700);
        text-transform: uppercase;
        margin-top: 29px;
        letter-spacing: 1px;
      }
      .sc_icons_item_description{
        @include font(24px,30px,700);
        margin-top:2px;
      }
    }
  }
}

.sc_icons.sc_icons_extra.sc_icons_size_small .sc_icons_icon:before, .sc_icons.sc_icons_extra.sc_icons_size_small .sc_icons_icon > span:before{
  width:62px;
  height:62px;
  line-height: 62px!important;
  font-size: 30px;
}

/* Slider Control */
.sc_slider_controls_extra {
  .slider_pagination_wrap{
    display: block!important;
    height:auto!important;
    .slider_pagination_bullet{
      display: block;
      width:13px;
      height:13px;
      &+.slider_pagination_bullet{
        margin-top:16px;

      }
    }
  }
  &.sc_align_right{
    .slider_pagination_bullet{
      margin-left:auto;
      margin-right:0;
      &+.slider_pagination_bullet{
        margin-left:auto;
        margin-right:0;
      }
    }
  }
  &.sc_align_left{
    .slider_pagination_bullet{
      margin-left:0;
      margin-right:auto;
      &+.slider_pagination_bullet{
        margin-left:0;
        margin-right:auto;
      }
    }
  }
  &.sc_align_center{
    .slider_pagination_bullet{
      margin-left:auto;
      margin-right:auto;
      &+.slider_pagination_bullet{
        margin-left:auto;
        margin-right:auto;
      }
    }
  }
}
.car-rental-booking-confirmed{
  background-color: transparent!important;
}
.strong-view.simple .testimonial-inner .testimonial-image:after {
  content: '\e965';
  font-family: $theme_icons;
  font-size: 41px;
  display: block;
  position: absolute;
  z-index: 2;
  bottom: -14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}