/* Elementor styles
----------------------------------------------------------------- */

@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";


/* Add negative margins to the our post container to align left and right side of the post content and header/footer */
.post_content > .elementor {
	margin-left:  -$elm_add_page_margins / 2;
	margin-right: -$elm_add_page_margins / 2;
}

/* Boxed sections in the fullwidth pages */
.body_style_fullwide .elementor-section.elementor-section-boxed > .elementor-container {
	max-width: $page_fullwide - $paddings_fullwide * 2;
}

/* Default Elementor's grid */
.elementor-column-gap-narrow > .elementor-row > .elementor-column > .elementor-element-populated {
	padding:  $elm_gap_narrow / 2;
}
.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
	padding:  $elm_gap_default / 2;
}
.elementor-column-gap-extended > .elementor-row > .elementor-column > .elementor-element-populated {
	padding:  $elm_gap_extended / 2;
}
.elementor-column-gap-wide > .elementor-row > .elementor-column > .elementor-element-populated {
	padding:  $elm_gap_wide / 2;
}
.elementor-column-gap-wider > .elementor-row > .elementor-column > .elementor-element-populated {
	padding:  $elm_gap_wider / 2;
}

/* Stretch columns container to remove white spaces from sides of the rows with gaps between columns */
.elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container:not(.elementor-column-gap-no) {
	max-width: none;
	position: relative;
}

/* Narrow: 5px */
.elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-narrow,
.elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-narrow {
	width: $page + $elm_gap_narrow; 
}
.sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-narrow,
.sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-narrow {
	width: $content + $elm_gap_narrow; 
}
.content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-narrow,
.content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-narrow {
	left: -$elm_gap_narrow / 2;
}
.content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width.elementor-section-stretched:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-narrow {
	margin-left: -$elm_gap_narrow / 2;
	margin-right: -$elm_gap_narrow / 2;
}

/* Default: 10px */
.elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-default,
.elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-default {
	width: $page + $elm_gap_default;
}
.sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-default,
.sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-default {
	width: $content + $elm_gap_default;
}
.content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-default,
.content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-default {
	left: -$elm_gap_default / 2;
}
.content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width.elementor-section-stretched:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-default {
	margin-left: -$elm_gap_default / 2;
	margin-right: -$elm_gap_default / 2;
}

/* Extended: 15px */
.elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-extended,
.elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-extended {
	width: $page + $elm_gap_extended; 
}
.sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-extended,
.sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-extended {
	width: $content + $elm_gap_extended; 
}
.content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-extended,
.content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-extended {	
	left: -$elm_gap_extended / 2; 
}
.content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width.elementor-section-stretched:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-extended {	
	margin-left: -$elm_gap_extended / 2; 
	margin-right: -$elm_gap_extended / 2; 
}

/* Wide: 20px */
.elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wide,
.elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wide {
	width: $page + $elm_gap_wide; 
}
.sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wide,
.sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wide {
	width: $content + $elm_gap_wide; 
}
.content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wide,
.content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wide {
	left: -$elm_gap_wide / 2; 
}
.content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width.elementor-section-stretched:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wide {
	margin-left: -$elm_gap_wide / 2; 
	margin-right: -$elm_gap_wide / 2; 
}

/* Wider: 30px */
.elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wider,
.elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wider {
	width: $page + $elm_gap_wider; 
}
.sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wider,
.sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wider {
	width: $content + $elm_gap_wider; 
}
.content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wider,
.content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wider {	
	left: -$elm_gap_wider / 2; 
}
.content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width.elementor-section-stretched:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wider {	
	margin-left: -$elm_gap_wider / 2; 
	margin-right: -$elm_gap_wider / 2; 
}

.elementor-section.sc_extra_bg_medium[class*="sc_bg_mask_"]:before, .elementor-section.sc_extra_bg_medium:after, .elementor-column.sc_extra_bg_medium[class*="sc_bg_mask_"] > .elementor-column-wrap:before, .elementor-column.sc_extra_bg_medium > .elementor-column-wrap:after, .elementor-widget-text-editor.sc_extra_bg_medium[class*="sc_bg_mask_"]:before, .elementor-widget-text-editor.sc_extra_bg_medium:after {
	position: absolute;
	top: -6rem;
	right: -6rem;
	bottom: -6rem;
	left: -6rem;
	display: block;
}