/* MailChimp for WP styles
----------------------------------------------------------------- */
form.mc4wp-form {
  position: relative;
  padding-right: 7em; }

form.mc4wp-form .mc4wp-form-fields input[type="email"] {
  width: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

form.mc4wp-form .mc4wp-form-fields input[type="submit"] {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  max-width: 8em;
  vertical-align: top;
  padding-left: 2em;
  padding-right: 2em; }

form.mc4wp-form .mc4wp-alert {
  margin: 1.5em 0;
  padding: 1em;
  line-height: 1.5em; }

form.mc4wp-form p {
  margin: 0; }

form.mc4wp-form p + p,
form.mc4wp-form input + p {
  margin-top: 1em; }

/*# sourceMappingURL=mailchimp-for-wp.css.map */
